{% extends 'base.html' %}

{% load staticfiles i18n common_tags %}

{% block js_params %}
	<script type="application/javascript">var pageType = "muesli-constructor", maxIngredientsMessage = '{% trans 'Lubatud maksimaalselt 3 lisandit!' %}',maxIngredientsInProduct = '{% trans 'Maximum ingredients in one product reached. It can be less or equal to' %}';</script>
{% endblock %}

{% block page-class %}class="muesli-page"{% endblock %}

{% block menu %}{% include 'includes/menu.html' with muesli_active=True %}{% endblock %}

{% block html_includes %}{{ block.super }}{% include 'includes/bought-popup.html' with back_url='muesli:index-page' %}{% endblock %}

{% block content %}
	<div class="sidebar">
		<div class="panel">
			<div class="product-face clear" data-base-id="{{ muesli.id }}" data-image="{{ muesli.image.url }}" data-title="{{ muesli.title }}" data-price="{{ muesli.price|to_float }}" data-weight="{{ muesli.weight|to_float }}" data-energy="{{ muesli.energy_value }}" data-fats="{{ muesli.fats }}"
			     data-carbohydrates="{{ chocolate.carbohydrates }}">
				<p>{{ muesli.title|capfirst }}</p>
				<span>500 g</span>
			</div>
			<p>{% trans 'Lisandid' %}:<a class="start-again" href="{% url 'muesli:index-page' %}"><span>X </span>{% trans 'Alustan uuesti' %}</a></p>
			<div class="constructor clear">
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
			</div>
			<div class="price-block">
				<div class="clear">
					<p>{% trans 'Kokku' %}: <span>9.40</span><em>€</em></p>
				</div>
				<a class="btn large to-basket" href="#">{% trans 'Ostukorvi' %}</a>
				<div class="energy">
					<b>{% trans '100g müsli' %}:</b>
					<p>{% trans 'energy value'|capfirst %}: <span>400</span>{% trans 'kcl' %}</p>
					<p>{% trans 'carbohydrates'|capfirst %}: <span>50</span>{% trans 'g' %}</p>
					<p>{% trans 'fats'|capfirst %}: <span>30</span>{% trans 'g' %}</p>
					{#					<p><span>50</span>% GDA</p>#}
				</div>
			</div>
		</div>
	</div>
	<div class="content">
		<div class="breadcrumbs product-index assembly clear">
			<div><a class="help-type" href="{% url 'muesli:index-page' %}">1. {% trans 'Tüüp ja kogus' %}</a></div>
			<div><a class="help-ingredients active">2. {% trans 'Lisandid' %}</a></div>
			<div><a class="help-delivery">3. {% trans 'Ostukorv' %}</a></div>
		</div>
		<div class="notification">
			{% for notification in notifications %}
				<div class="yellow"{% if forloop.counter > 1 %} style="display: none;"{% endif %}>
					<i class="close"></i>
					<p>{{ notification.message|capfirst }}</p>
				</div>
			{% endfor %}
		</div>
		<div class="product-tabs">
			<div class="tabs">
				<ul>
					{% for group in groups %}
						<li><a href="#muesli-{{ forloop.counter }}">{{ group.title|capfirst }}</a></li>
					{% endfor %}
				</ul>
				{% for group in groups %}
					<div id="muesli-{{ forloop.counter }}">
						<ul class="list-product ingredients clear">
							{% for ingredient in group.ingredients %}
								<li data-id="{{ ingredient.id }}" data-title="{{ ingredient.title }}" data-price="{{ ingredient.price|to_float }}" data-weight="{{ ingredient.weight|to_float }}" title="{{ ingredient.description }}" data-imgurl="{{ ingredient.image.url }}" data-energy="{{ ingredient.energy_value }}" data-carbohydrates="{{ ingredient.carbohydrates }}" data-fats="{{ ingredient.fats }}">
									<img src="{{ ingredient.image.url }}" alt="{{ ingredient.title|title }}"/>
									<div class="inform">
										<p>{{ ingredient.title|title }}</p>
										<span><i>{{ ingredient.weight }}</i> {% trans 'grammi' %}</span>
										<span><i>{{ ingredient.price }}</i> {% trans 'senti' %}</span>
									</div>
									<div class="btns">
										<i class="minus">-</i>
										<i class="plus">+</i>
										<span>x1</span>
									</div>
									<i class="add-product">{% trans 'Lisa' %}</i>
								</li>
							{% endfor %}
						</ul>
					</div>
				{% endfor %}
			</div>
		</div>
		<div class="seo-base uncolumned">
			{{ muesli.seo_text|safe }}
		</div>
	</div>
{% endblock %}
