{% extends 'base.html' %}

{% load staticfiles i18n %}

{% block js_params %}
	<script type="application/javascript">var pageType = "choco-index";</script>
{% endblock %}

{% block page-class %}class="muesli-page"{% endblock %}

{% block menu %}{% include 'includes/menu.html' with muesli_active=True %}{% endblock %}

{% block html_includes %}{% include 'includes/bought-popup.html' %}{% endblock %}

{% block content %}
	<div class="top-panel clear">
		<div class="welcome-text left">
			<p>{% trans 'Valmista müsli' %}</p>
			<span>{% trans 'Alusta siit' %}</span>
		</div>
		<div class="breadcrumbs product-index right">
			<div>
				<a class="help-type active">1. {% trans 'Müsli graanol' %}</a>
				<p>{% trans 'Müsli põhi' %}</p>
			</div>
			<div>
				<a class="help-ingredients">2. {% trans 'Lisandid' %}</a>
				<p>{% trans 'Valikus üle 150-ne lisandi' %}</p>
			</div>
			<div>
				<a class="help-delivery">3. {% trans 'Ostukorv' %}</a>
				<p>{% trans 'Maksmine ja kohaletoomine' %}</p>
			</div>
		</div>
	</div>
	<div class="notification">
		<div class="yellow center">
			<i class="close"></i>
			<p>{% trans 'Kolme MÜSLI PAKI TELLIMISEL ON NELJAS TASUTA' %}</p>
		</div>
		{% for notification in notifications %}
		<div class="yellow" style="display: none;">
{#			{% if forloop.counter > 1 %} style="display: none;"{% endif %}>#}
			<i class="close"></i>
			<p>{{ notification.message|capfirst }}</p>
		</div>
		{% endfor %}
	</div>
	<div class="content-product">
		<div class="clear">
			{% for msl in muesli %}
			<div>
				<a href="{% url 'muesli:constructor-page' msl.slug %}" class="img" style="background: url('{{ msl.image.url }}')"></a>
				<p>{{ msl.title|title }}</p>
				<a class="btn arrowed" href="{% url 'muesli:constructor-page' msl.slug %}">{% trans 'Vali' %}</a>
				<span><em>{{ msl.price }}</em> €</span>
			</div>
			{% endfor %}
		</div>
	</div>
{#	{% include 'includes/slider.html' with recommendations=recommendations product_type="muesli" edit_recommendation="muesli:constructor-page" only %}#}
	<div class="seo-base">
		{{ seo_text.text|safe }}
	</div>
{% endblock %}
