.product-index div{
	position: relative;
}
.product-index div:before{
	content: '';
	width: 100%;
	height: 105%;
	position: absolute;
	top: -3px;
	left: 0;
	background: rgba(255,255,255,0);
	z-index: 99;
	cursor: default;
}
.assembly div:first-child:before{
	display: none;
}