@charset "utf-8";
@import url("//hello.myfonts.net/count/2c6d60");

// Variables
.absLT(@left:0,@top:0){
  position: absolute;
  left: @left;
  top: @top;
}
.absLB(@left:0,@bottom:0){
  position: absolute;
  left: @left;
  bottom: @bottom;
}
.absRT(@right:0,@top:0){
  position: absolute;
  right: @right;
  top: @top;
}
.absRB(@right:0,@bottom:0){
  position: absolute;
  right: @right;
  bottom: @bottom;
}
.anim (@transition: .3s) {
  transition: all @transition ease-in-out;
  -moz-transition: all @transition ease-in-out;
  -webkit-transition: all @transition ease-in-out;
  -o-transition: all @transition ease-in-out;
  -ms-transition: all @transition ease-in-out;
}
.bs(@sizing: border-box){
  box-sizing: @sizing;
  -webkit-box-sizing: @sizing;
  -moz-box-sizing: @sizing;
}
.cent(@horizontal: center,@vertical: middle){
  text-align: @horizontal;
  display: table-cell;
  vertical-align: @vertical;
}
.col(@count,@gap){
  -webkit-column-count:@count;
  -moz-column-count:@count;
  column-count:@count;
  -webkit-column-gap: @gap;
  -moz-column-gap: @gap;
  column-gap: @gap;
}
.fix(){
  position: fixed;
  left: 0;
  top: 0;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0);
}
.font(@size, @line){
  font-size: @size;
  line-height: @line;
}
.fw(@size, @weight){
  font-size: @size;
  font-weight: @weight;
}
.ico(@ico,@size,@color){
  content: @ico;
  font: @size/1 @font-icon;
  color: @color;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon (@width: 0, @height: 0, @icon){
  background:url(@icon) no-repeat;
  width: @width;
  height: @height;
  display: block;
}
.img (@width: 100%, @height: 100%) {
  max-width: @width;
  max-height: @height;
}
.imgs(@size: 100% 100%){
  background-size: @size;
  -webkit-background-size: @size;
  -moz-background-size: @size;
  -o-background-size: @size;
  -ms-background-size: @size;
}
.round (@radius: 5px) {
  border-radius: @radius;
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
}
.sh (@x: 0, @y: 0, @blur: 1px, @alpha: 0.2) {
  box-shadow: @x @y @blur rgba(0,0,0,@alpha);
  -moz-box-shadow: @x @y @blur rgba(0,0,0,@alpha);
  -webkit-box-shadow: @x @y @blur rgba(0,0,0,@alpha);
}
.size(@width, @height){
  width: @width;
  height: @height;
}
.trans(@deg){
  -moz-transform: rotate(@deg);
  -webkit-transform: rotate(@deg);
  -o-transform: rotate(@deg);
  -ms-transform: rotate(@deg);
  transform: rotate(@deg);
}
.ts(@x: 2px, @y: 2px, @blur: 2px, @alpha: 0.2){
  text-shadow: @x @y @blur rgba(1,1,1,@alpha);
}
.us(){
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.btnColor(@color){
  background: @color;
  border-color: @color;
  &.arrowed.left{
    background: transparent;
    color: @color;
    &:after{color:@color}
    &:hover{
      background: @color;
      border-color: @color;
    }
    +.btn:hover{
      color: @color;
      border-color: @color;
      &:after{color:@color}
    }
  }
}

@font:            'Lato',Helvetica, Arial, sans-serif;
@font-open:       'Open Sans',Helvetica, Arial, sans-serif;
@font-amatic:     'Amatic SC', cursive;
@font-neucha:     'Neucha', cursive;
@font-second:     'KG Second', sans-serif;
@font-posterizer: 'PosterizerKGRounded', sans-serif;
@font-icon:       'icomoon';
@icon:            'images/icons.png';
@coffee:          #77e4ff;
@choco:           #a2e8a9;
@muesli:          #ffdce2;
@cake:            #f7ba87;
@macarons:        #fff453;
@footer:          260px;
@footer-main:     390px;
@notification:    62px;

/*Reset*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,dialog,div,dl,dt,em,embed,fieldset,figcaption,figure,font,footer,form,h1,h2,h3,h4,h5,h6,header,hr,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,meter,nav,object,ol,output,p,pre,progress,q,rp,rt,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video,xmp{border:0;margin:0;padding:0;font-size:100%;}
article,aside,details,figcaption,figure,footer,header,menu,nav,section{display:block;}
b,strong{font-weight:bold;}
img{color:transparent;font-size:0;vertical-align:middle;-ms-interpolation-mode:bicubic;}
li{display:list-item;list-style:none;}
table{border-collapse:collapse;border-spacing:0;}
th,td,caption{font-weight:normal;vertical-align:top;text-align:left;}
q{quotes:none;}
q:before,q:after{content:'';content:none;}
sub,sup,small{font-size:75%;}
sub,sup{line-height:0;position:relative;vertical-align:baseline;}
sub{bottom:-0.25em;}
sup{top:-0.5em;}
svg{overflow:hidden;}
/* Font */
@font-face {
  font-family: 'KG Second';
  src: url('fonts/KGSecondChancesSolid.eot');
  src: url('fonts/KGSecondChancesSolid.eot?#iefix') format('embedded-opentype'),
  url('fonts/KGSecondChancesSolid.woff') format('woff'),
  url('fonts/KGSecondChancesSolid.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PosterizerKGRounded';
  src: url('fonts/2C6D60_0_0.eot');
  src: url('fonts/2C6D60_0_0.eot?#iefix') format('embedded-opentype'),
  url('fonts/2C6D60_0_0.woff2') format('woff2'),
  url('fonts/2C6D60_0_0.woff') format('woff'),
  url('fonts/2C6D60_0_0.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'icomoon';
  src:url('fonts/icomoon.eot');
  src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
  url('fonts/icomoon.woff') format('woff'),
  url('fonts/icomoon.ttf') format('truetype'),
  url('fonts/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Main styles */
.clear:after,.clear:before{
  clear:both;
  display:block;
  zoom:1;
  content:'';
}
*{
  padding:0;
  margin:0;
  border:0;
  outline:none;
}
footer{
  height: @footer;
  form{
    width: 180px;
    margin-right: 10px;
    .check{margin-left: 33px}
    p{
      font: 24px @font-amatic;
      letter-spacing: 0.2px;
      margin: -5px 0 5px;
      html[lang="ru"] &{
        font: 18px @font-neucha;
        margin: 0 0 5px -75px;
        width: 260px;
      }
    }
    input[type="email"]{margin-bottom: 5px}
    button{
      background: transparent;
      cursor: pointer;
      color: #000;
      font: italic 900 14px @font;
      float: right;
      margin-left: 5px;
      html[lang="ru"] &{font: 800 italic 10px @font-open}
    }
  }
  input[type="email"]{
    border: 1px solid #1a1a1a;
    padding: 8px 10px;
    color: #1a1a1a;
    .size(180px,30px);
    font: 300 italic 10px @font;
    .bs;
    html[lang="ru"] &{font: 300 italic 12px @font-open}
  }
  .main-page &{height: @footer-main}
}
header{
  background: url('images/top-bg.png');
  .sh (3px, 3px, 4px, 0.1);
}
html,body{
  .size(100%,100%);
  font-family: @font;
  background: #fff;
  html[lang="ru"] &{font-family: @font-open}
}
input[type="text"], input[type="password"],input[type="email"]{
  .bs;
  color: #7a7777;
  padding: 10px 20px;
  font: 700 italic 14px @font;
  letter-spacing: 0.2px;
  border: 1px solid #E6E6E6;
  .size(327px,50px);
  html[lang="ru"] &{font: 700 italic 14px @font-open}
}
nav{
  font: 20px @font-second;
  margin-top: 15px;
  html[lang="ru"] &{
    font: 23px @font-posterizer;
    margin-top: 0;
  }
  >ul{
    >li{
      position: relative;
      float: left;
      margin-right: 25px;
      padding-bottom: 15px;
      line-height: 26px;
      >a{
        text-decoration: none;
        color: #fff;
        &:hover{border-bottom: 2px solid;}
        &.coffee{
          color: @coffee;
          +.popup a:hover{color: @coffee}
        }
        &.choco{
          color: #95e69d;
          +.popup a:hover{color: #95e69d}
        }
        &.cakes{
          color: #f7b278;
          +.popup a:hover{color: #f7b278}
        }
        &.macarons{
          color: @macarons;
          +.popup a:hover{color: @macarons}
        }
        &.muesli{
          color: @muesli;
          +.popup a:hover{color: @muesli}
        }
        &.corp{color:#c1c1c1}
      }
      &.active a{border-bottom: 2px solid;}
      &:hover .popup{
        opacity: 1;
        visibility: visible;
      }
    }
  }
  .popup{
    .absLT(50%,100%);
    .sh(3px,4px,5px,0.4);
    .anim;
    opacity: 0;
    visibility: hidden;
    width: 240px;
    background: #000;
    text-align: center;
    margin: 0 0 0 -120px;
    z-index: 100;
    &:after{
      border: solid transparent;
      content: " ";
      .size(0,0);
      .absLB(50%,100%);
      pointer-events: none;
      border-color: rgba(1, 1, 1, 0);
      border-bottom-color: #000;
      border-width: 6px;
      margin-left: -6px;
    }
    ul{
      margin: 0 8px;
      li{
        border-top: 1px dashed #444444;
        html[lang="ru"] &{height:45px}
        &:first-child{
          border-top: none;
        }
        a{
          text-decoration: none;
          .font(14px, 44px);
          color: #fff;
          border-bottom: none;
          html[lang="ru"] &{font-size: 18px}
        }
      }
    }
  }
}
section{
  padding-top: 1px;
  .static-page &{
    padding: 25px 0;
    width: 100%;
    display: table;
  }
}
textarea{
  .bs;
  border: 1px solid #E6E6E6;
  padding: 10px 20px;
  resize: none;
  font: 700 italic 14px @font;
  letter-spacing: 0.2px;
  html[lang="ru"] &{font: 700 italic 14px @font-open}
  .feedback &{
    .size(100%, 110px);
    margin-bottom: 20px;
  }
}
.add-shape-title{
  margin-left: 50px;
  button{
    float: left;
    margin-top: 6px;
    &:hover{
      color: @choco;
    }
  }
  input{
    border-color: #E6E6E6;
    color: #8e8e8e;
    font-size: 14px;
    padding: 10px 12px;
    .size(420px, 40px);
    float: left;
    margin-right: 39px;
    .unfocus&{
      display: none;
    }
  }
  p{
    display: none;
    height: 35px;
    .font(14px,30px);
    font-weight: 700;
    font-style: italic;
    float: left;
    margin: 5px 25px 0 15px!important;
    .unfocus&{
      display: block;
    }
  }
}
.basket{
  .size(19px,25px);
  padding: 35px 0 0 41px;
  margin: 0;
  position: relative;
  .fw(14px, 900);
  text-decoration: none;
  color: #fd1820;
  background: #000;
  html[lang="ru"] &{font-weight: 600}
  &:empty{
    background: transparent;
  }
  &:after{
    .ico("\e627",35px,#fff);
    .absLT(9px,11px);
    .anim;
  }
  &:hover:after{color: #c6c6c6;}
}
.basket-page{
  &.empty{
    .fluid-content{
      padding-top: 130px;
      position: relative;
      &>h2{
        color: #000;
        font: 30px @font-second;
        text-align: center;
        margin-bottom: 30px;
        html[lang="ru"] &{font: 30px @font-posterizer}
      }
      .decor-arrow{
        position: relative;
        color: #2e1b09;
        font: 36px @font-amatic;
        text-align: center;
        margin: 0 auto 120px;
        html[lang="ru"] &{font: 36px @font-neucha}
        &:after{
          .ico("\e606",24px,#231f20);
          .absLB(50%,-69px);
          margin-left: -10px;
        }
      }
      .wrapper{
        text-align: center;
        margin: 0 auto 65px;
        width: 620px;
        .btn{
          display: inline-block;
          margin: 0 10px 20px 10px;
          .font(20px, 37px);
          .size(186px,37px);
          &:first-child{margin-left:0}
          html[lang="ru"] &{
            .font(18px,33px);
            text-transform: none;
          }
        }
      }
      &:after{
        .ico("\e608",58px,#000);
        .absLT(50%, 48px);
        margin-left: -36px;
      }
    }
  }
  &.success{
    .thanks{
      height: 138px;
      background-color: #a1e8a9;
      padding: 11px 0 11px 320px;
      .bs;
      position: relative;
      margin-bottom: 25px;
      &:before{
        .ico("\e630",46px,#6dbc75);
        .absLT(230px, 50%);
        margin-top: -23px;
      }
      &>p{
        float: left;
        height: 100%;
        font: 18px @font-second;
        html[lang="ru"] &{font: 18px/21px @font-posterizer}
        &:first-child{
          width: 215px;
          color: #271d27;
          .font(30px,115px);
          border-right: 1px solid #78C57F;
          html[lang="ru"] &{
            text-transform: uppercase;
            .font(30px,95px);
          }
        }
        &>span{.cent(left)}
        &.sec{
          padding-top: 35px;
          margin-left: 51px;
          html[lang="ru"] &{padding-top: 32px}
          i{
            font-style: normal;
            color: #616bf9;
          }
        }
      }
    }
  }
}
.bottom-menu{margin-bottom: 10px}
.breadcrumbs{
  margin: 35px 0 20px;
  .basket-page.order &{
    &>div{
      html[lang="ru"] &{margin: 10px 0 0 120px}
      &:first-child a{
        pointer-events: auto;
      }
      &:after{
        html[lang="ru"] &{left: -38%}
      }
    }
  }
  div{
    float: left;
    position: relative;
    margin-left: 120px;
    html[lang="ru"] &{margin-left: 75px;}
    &:after{
      .ico("\e605",13px,#151515);
      .absLT(-50%,14px);
      html[lang="ru"] &{
        left: -25%;
        top: 5px;
      }

    }
    &:first-child{
      margin-left: 0;
      &:after{display:none;}
      html[lang="ru"] &{margin-left: 0}
    }
    a{
      font: 30px @font-amatic;
      color: #161616;
      opacity: 0.7;
      text-decoration: none;
      padding-left: 50px;
      position: relative;
      .anim;
      html[lang="ru"] &{
        font: 20px @font-neucha;
        text-transform: uppercase;
      }
      &.active,&:hover{
        opacity: 1;
        text-decoration: underline;
      }
      &.help-type:after{
        .absLT(0,1px);
        .ico("\e620",33px,#151515);
        html[lang="ru"] &{top: -12px}
      }
      &.help-ingredients{
        padding-left: 80px;
        &:after{
          .absLT(2px,-2px);
          .ico("\e615",34px,#151515);
          html[lang="ru"] &{top: -13px}
        }
      }
      &.help-delivery:after{
        .absLT(0,-1px);
        .ico("\e627",35px,#151515);
        html[lang="ru"] &{top: -6px}
      }
      &.help-overview:after{
        .ico("\e614",33px,#151515);
        .absLT(0,0);
        html[lang="ru"] &{top: -10px}
      }
      &.help-validation:after{
        .ico("\e625",33px,#151515);
        .absLT(0,1px);
        html[lang="ru"] &{top: -9px}
      }
      &.help-pay{
        margin-right: 65px;
        padding-left: 75px;
        &:after{
          .ico("\e626",33px,#151515);
          .absLT(0,0);
          html[lang="ru"] &{top: -10px}
        }
      }
    }
    &:nth-child(3){
      &:after{
        .basket-page &{left: -30%;}
        html[lang="ru"] &{left: -35%}
      }
    }
    p{
      max-width: 135px;
      color: #161616;
      font-size: 12px;
      margin: 5px 0 0 5px;
    }
  }
  .basket-page &{
    margin: 41px 0;
    >div{
      html[lang="ru"] &{margin: 10px 0 0 120px}
      &:after{
        html[lang="ru"] &{
          left: -38%;
          top: 7px;
        }
      }
    }
  }
}
.btn{
  .round(13px);
  .size(140px,28px);
  .bs;
  .anim;
  cursor: pointer;
  font: 14px/25px @font-second;
  text-align: center;
  display: block;
  color: #000;
  text-decoration: none;
  border: 2px solid;
  html[lang="ru"] &{
    font-family: @font-posterizer;
    text-transform: uppercase;
    line-height: 23px;
  }
  &.coffee{
    background: @coffee;
    border-color: @coffee;
    &:hover{
      color: inherit;
      background: transparent;
    }
  }
  &.cake{
    background: #f7b278;
    border-color: #f7b278;
    &:hover{
      color: inherit;
      background: transparent;
    }
  }
  &.macarons{
    background: @macarons;
    border-color: @macarons;
    &:hover{
      color: inherit;
      background: transparent;
    }
  }
  &.muesli{
    background: @muesli;
    border-color: @muesli;
    &:hover{
      color: inherit;
      background: transparent;
    }
  }
  &.chocolate{
    background: @choco;
    border-color: @choco;
    &:hover{
      color: @choco;
      background: transparent;
    }
  }
  &.black{
    background: #000;
    border-color: #000;
    color: #fff;
    &:hover{
      color: #000;
      background: transparent;
    }
  }
  &.large{
    .size(220px,45px);
    .font(24px,43px);
    .round(25px);
    html[lang="ru"] &{
      width: 240px;
      .font(22px,40px);
    }
  }
  &.to-basket{
    padding-left: 15px;
    text-align: left;
    position: relative;
    &:after{
      .anim;
      .ico("\e607",35px,#020202);
      .absRT(4px,3px);
    }
    &:hover{
      background: transparent;
      border-color: #000;
    }
  }
  &.arrowed{
    padding-right: 10px;
    position: relative;
    &:after{
      .ico("\e605",8px,#000);
      .absRT(15px,8px);
      .anim;
    }
    &.left{
      padding: 0 0 0 10px;
      &:after{
        right: auto;
        .absLT(15px,8px);
        .trans(180deg);
      }
      &:hover{
        color: #000 !important;
        &:after{color: #000!important;}
      }
    }
    &:hover{
      background: transparent;
      border-color: #000;
    }
  }
  &.confirm{
    padding-right: 25px;
    position: relative;
    color: @coffee;
    &:after{
      .ico("\e604",32px, #82e7ff);
      .absRT(4px,4px);
      .anim;
    }
    &:hover{
      background: transparent;
      &:after{color:#000}
    }
  }
  &.white{
    background: #fff;
    color: #000;
    border-color: #fff;
    &:hover{
      background: transparent;
      color: #fff;
    }
  }
}
.btm-logo{
  float: left;
  margin: 0 70px 0 25px;
  position: relative;
  text-decoration: none;
  &:before{
    .ico("\e617",72px,#261d28);
    .anim;
  }
  &:hover:before{color:#666367}
  span{
    color: #717171;
    font-size: 9px;
    .absLT(70px,70px);
  }
}
.cart-bonuses-block{
  margin: 25px 0 15px;
  &>.title{
    font: 19px @font-second;
    color: #000;
    position: relative;
    padding: 0 0 10px 50px;
    border-bottom: 1px solid #E5E5E5;
    margin-bottom: 15px;
    html[lang="ru"] &{font: 19px/19px @font-posterizer}
    &:after{
      .ico("\e616",23px,#000);
      .absLT(10px, 0);
    }
  }
  &>.wrapper{
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  .wrapper{margin-left: 55px}
  .row{
    font-size: 14px;
    margin-top: 15px;
    &:first-child{margin-top: 0}
  }
  .select-price{
    font-size: 12px;
    ul{
      li{
        float: left;
        padding: 0 25px 0 0;
        margin: 0 0 0 40px;
        position: relative;
        input:checked+label:before{
          .size(10px, 10px);
          left: 3px;
          top: 3px;
        }
        label{
          padding-left: 30px;
          font: 900 12px/17px @font;
          position: relative;
          i{
            right: -21px;
            .absRT(-21px,1px);
            opacity: 0.2;
            .anim;
            &:hover{opacity: 1}
            &:before{.ico("\e629",14px,#000)}
          }
          html[lang="ru"] &{font: 800 12px/17px @font-open}
          &:after{.size(12px, 12px)}
        }
        &:first-child{margin-left: 0}
      }
    }
  }
  .count{
    width: 50px;
    font-weight: bold;
  }
  .name{
    width: 160px;
    text-align: right;
    margin-right: 40px;
    font-weight: bold;
  }
}
.cart-elem{
  position: relative;
  border: 1px solid;
  margin-top: 12px;
  &:first-child{margin-top: 0}
  &.macarons{color: @macarons}
  &.coffee{color: @coffee}
  &.chocolate{color: #95e69d}
  &.cake{color: #f7b278}
  &.muesli{color: @muesli}
  .main{
    color: #000;
    text-transform: uppercase;
    display: table;
    width: 100%;
    .img{
      background-position: center;
      .cent;
      padding: 10px 20px;
      width: 125px;
      img{.img(125px,100%)}
    }
    .basket-content{
      .cent(left,top);
      .product-title{
        font: 24px @font-second;
        margin: 20px 0;
        html[lang="ru"] &{
          font-family: @font-posterizer;
          margin: 10px 0 30px;
        }
        &>span{color: #818181}
      }
      .title{
        margin-bottom: 5px;
        .fw(12px,900);
      }
      .shape-preview{
        margin: 10px 0;
        p{
          float: left;
          margin: 8px 30px 0 0;
        }
        &>i{
          display: block;
          float: left;
          position: relative;
        }
        a{
          .fw(13px,700);
          cursor: pointer;
          border-bottom: 1px solid;
          text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);
          font-style: italic;
          color: inherit;
          text-decoration: none;
          margin: 5px 0px 0px 20px;
          &:hover{border-bottom-color: transparent}
        }
      }
      .additions{
        font-size: 12px;
        .title{
          margin-right: 30px;
          float: left;
        }
        ul{
          max-width: 280px;
          float: left;
          li{
            float: left;
            font-weight: 300;
            margin: 0 20px 5px 0;
          }
        }
        a{
          cursor: pointer;
          border-bottom: 1px solid;
          text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);
          font-weight: 700;
          font-style: italic;
          color: inherit;
          text-decoration: none;
          &:hover{border-bottom-color: transparent}
        }
      }
      .package{
        margin: 10px 0 25px;
        >p{
          float: left;
          margin: 8px 30px 0 0;
        }
      }
      .package-title{
        margin: 13px 0 0 0;
        position: relative;
        &>a{
          font-size: 12px;
          display: inline-block;
          margin-bottom: 25px;
          color: #000;
          font-style: italic;
          &:hover{text-decoration: none}
        }
      }
    }
    .basket-price{
      border-left: 1px solid;
      display: table-cell;
      padding-left: 20px;
      width: 155px;
      font-family: @font-second;
      margin-bottom: 5px;
      .count{
        margin-top: 60px;
        &>span{
          float: left;
          .size(20px,20px);
          .font(18px,20px);
          .us;
          .anim;
          background: #efefef;
          text-align: center;
          cursor: pointer;
          margin-top: 17px;
          &:hover{
            background: #000;
            color: #efefef;
          }
        }
        &>p{
          float: left;
          font-size: 40px;
          width: 95px;
          text-align: center;
        }
      }
      .price{
        color: #090909;
        font: 30px @font-second;
        margin: 25px 0 20px;
        text-align: center;
        .title{text-align: center}
      }
      .chocolate&{border-color: #95e69d}
      .coffee&{border-color: @coffee}
      .macarons&{border-color: @macarons}
      .muesli&{border-color: @muesli}
      .cake&{border-color: #f7b278}
    }
  }
  .bonuses{
    padding: 18px 43px 18px 221px;
    border-top: 2px solid;
    position: relative;
    height: 23px;
    .chocolate&{background: #DDF4DF}
    .muesli&{background: #F5ECEE}
    .coffee&{background: #D1EDF5}
    .macarons&{background: #FDFCDA}
    &:after{
      .size(26px,23px);
      .absLT(165px,18px);
      .ico("\e616",23px,#000);
      .chocolate&{color: #a0e9a7}
      .muesli&{color: #ffe0e5}
      .coffee&{color: #82e6ff}
      .macarons&{color: #fff65d}
    }
    &>p{
      font: 16px @font-second;
      color: #000;
      float: left;
      text-transform: uppercase;
      margin-top: -8px;
      html[lang="ru"] &{font: 16px/21px @font-posterizer}
      span{font-size:24px}
    }
    .btn{
      float: right;
      text-transform: uppercase;
      .size(83px, 23px);
      .font(12px,18px);
    }
  }
  &>.close{
    text-decoration: none;
    .absRT(22px,17px);
    &:before{
      .ico("\e631",19px,#000);
      .anim;
    }
    &:hover:before{color: #787878}
  }
}
.cart-popup{
  display: none;
  .absRT(-9px,100%);
  background: #000;
  margin: 11px 0 0 0;
  z-index: 10;
  box-shadow: 3px 4px 5px 0px rgba(1, 1, 1, 0.4);
  &:after{
    border: solid transparent;
    content: " ";
    .size(0,0);
    .absRB(30px,100%);
    pointer-events: none;
    border-color: rgba(0, 0, 0, 0);
    border-bottom-color: #000;
    border-width: 6px;
    margin-left: -6px;
  }
  .wrapper{
    margin: 10px 7px;
    p{
      .fw(12px,900);
      color: #d6d6d6;
      text-transform: inherit;
    }
    .goods{
      margin-bottom: 8px;
      padding-bottom: 9px;
      border-bottom: 1px dashed #d6d6d6;
      >div{
        width: 215px;
        padding: 4px 6px;
        margin-top: 10px;
        .title{
          font-size: 14px;
          color: #161616;
          margin-bottom: 2px;
        }
        .bottom{
          span{
            color: #161616;
            font: 900 12px @font;
            float: right;
            html[lang="ru"] &{font: 800 12px @font-open}
            &:first-child{
              font-weight: 300;
              float: left;
            }
          }
        }
        &.macarons{background: @macarons}
        &.coffee{background: @coffee}
        &.chocolate{background: #95e69d}
        &.cake{background: #f7b278}
        &.muesli{background: @muesli}
      }
    }
    .to-cart{
      color: #d6d6d6;
      font: 14px @font-second;
      text-transform: uppercase;
      text-decoration: none;
      display: block;
      text-align: center;
      html[lang="ru"] &{font: 14px/15px @font-posterizer}
      &:hover{text-decoration: underline}
    }
  }
}
.cart-total-price{
  .size(22%,260px);
  .sh(3px,3px,3px,0.1);
  text-transform: uppercase;
  background: url('images/add-to-cart-bg.png');
  color: #040707;
  font-family: @font-second;
  margin: 0 0 20px 20px;
  html[lang="ru"] &{font-family: @font-posterizer}
  .btn{
    margin: 25px auto 35px;
    background: #fff65d;
    color: #000;
    border-color: #fff65d;
    &:hover{
      &:after{color:#fff65d;}
      color: #fff65d;
      background: none;
      border-color: #fff65d;
    }
  }
  .price{
    .font(26px,30px);
    margin: 30px 0 20px 20px;
    color: #fff;
  }
  .weight{
    font-size: 15px;
    margin: 0 0 10px 20px;
    color: #fff;
  }
  .link{
    color: #fff;
    text-decoration: none;
    font-size: 12px;
    margin-left: 20px;
    &:hover{text-decoration: underline;}
  }
}
.change-package-title{
  .absLT(0,-10px);
  .size(480px, 49px);
  .sh(0,1px,3px,.3);
  background: #fffeff;
  &>.close{
    .size(13px, 12px);
    .absRT(-1px,-7px);
    text-decoration: none;
    margin: -5px -7px 0 0;
    &:before{
      .ico("\e612",9px,#000);
      .anim
    }
    &:hover:before{color:#505050}
  }
  .wrapper{
    margin: 7px 5px;
    height: 35px;
    border: 1px solid #808080;
    input{
      .size(432px, 100%);
      padding: 0 12px;
      color: #a7a7a7;
      font-size: 12px;
      font-style: italic;
      border: none;
      float: left;
    }
    button{
      .size(36px, 100%);
      .anim;
      float: left;
      background: #808080;
      position: relative;
      cursor: pointer;
      &:hover{background: #151515}
      &:after{
        .ico("\e602",12px,#fff);
        .ts(2px,2px,4px,0.4);
        .absLT(12px, 11px);
      }
    }
  }
}
.check{
  .us;
  input{
    display: none;
    &+label{
      color: #1a1a1a;
      cursor: pointer;
      .fw(10px,300);
      padding-left: 15px;
      position: relative;
      margin-bottom: 5px;
      display: block;
      letter-spacing: 0.2px;
      a{
        color: #1a1a1a;
      }
      &:after{
        content: '';
        .size(7px,7px);
        border: 1px solid #1a1a1a;
        .absLT(0,1px);
        html[lang="ru"] &{top: 3px}
      }
    }
    &:checked+label:before{
      .absLT(2px, 2px);
      .ico("\e621",6px,#000);
      html[lang="ru"] &{top: 4px;}
    }
  }
}
.constructor{
  .round(15px);
  margin: 0 10px 25px;
  border: 1px dashed #ececec;
  padding: 40px;
  counter-reset: list;
  div{
    .size(100px,100px);
    .bs;
    .imgs;
    .round(50%);
    .anim;
    .sh(2px, 2px, 2px, 0.1);
    border: 3px solid #fff;
    z-index: 2;
    position: relative;
    margin-bottom: 60px;
    &:after{
      .absLT(43px);
      font: 50px/100px @font-amatic;
      counter-increment: list;
      content: counter(list) "";
      opacity: 0;
    }
    &:empty{
      border: none;
      box-shadow: none;
      &:after{opacity: 1}
    }
    .delete{
      .absRT(-4px,-3px);
      .icon(27px,26px,@icon);
      z-index: 1;
      cursor: pointer;
      &:after{
        .anim;
        .absRT(8px,5px);
        .ico("\e612",7px,#fff);
      }
      &:hover:after{color:#bbb;}
    }
    .quantity{
      .fw(10px,900);
      color: #161616;
      .absRT(25px,-15px);
      i{font-style:normal;}
    }
  }

  &.shape-block{
    padding: 26px 16px;
  }
  &>ul{
    li{
      display: block;
    }
  }
}
.contact{
  margin-top: 50px;
  div{margin: 0!important}
  .left{width: 55%}
  .right{
    width: 26%;
    margin-right: 9%!important;
    p{
      font: 18px @font-second;
      text-align: right;
      margin-bottom: 25px;
      html[lang="ru"] &{font-family: @font-posterizer}
      span{display: block}
    }
    i,em{
      .font(12px,15px);
      margin-bottom: 35px;
      display: block;
    }
    img{margin: 0}
  }
  h2{
    font-size: 24px!important;
    margin-bottom: 25px!important;
  }
  label{
    display: block;
    font: 18px @font-second;
    margin-bottom: 10px;
    html[lang="ru"] &{font-family: @font-posterizer}
  }
  input,textarea{
    width: 100%;
    margin-bottom: 20px;
  }
  textarea{
    height: 105px;
  }
  .btn{
    background: @choco;
    border-color: @choco;
    line-height: 38px;
    &:hover{
      background: transparent;
      border-color: #000;
    }
  }
  .captcha{
    margin-left: 0!important;
    p{
      font-size: 12px;
      float: left;
      margin: 20px 15px 0 0;
      width: auto;
    }
    span{
      font: 18px @font-second;
      float: left;
      margin: 15px 10px 0 0;
    }
    input{
      width: 85px;
      font: 18px @font-second;
      color: #000;
    }
  }
  .error{
    label{color: #e51f04}
    input,textarea{border-color: #e51f04}
  }
}
.contact-info{
  margin: 0 20px;
  width: 61.5%;
  float: left;
  h3{
    font: 18px @font-second;
    color: #010101;
    text-transform: uppercase;
    margin-bottom: 15px;
    html[lang="ru"] &{font-family: @font-posterizer}
  }
  label{
    text-transform: uppercase;
    display: block;
    font-size: 12px;
    font-weight: bold;
  }
  .top{
    margin-bottom: 25px;
    label{
      margin-bottom: 10px;
    }
    &>div{
      float: left;
      margin-bottom: 15px;
      &.error{
        label{
          color: #E51F04;
        }
        input{
          border-color: #E51F04;
        }
      }
      &:nth-child(even){
        float: right;
      }
    }
  }
  &>.error{
    .size(100%, 78px);
    background: #FFE3E7;
    margin-bottom: 35px;
    p{
      .cent(left);
      color: #fa202e;
      padding: 0 25px;
      font-size: 18px;
    }
  }
  .transport-block{
    width: 310px;
    float: left;
    margin-right: 75px;
  }
  .newsletter{
    width: 255px;
    float: left;
  }
}
.container{
  .size(1140px,100%);
  margin: 0 auto;
}
.content{
  width: 65.7%;
  float: right;
  margin-top: 25px;
}
.content-area{
  width: 66%;
  display: table-cell;
  vertical-align: top;
  border-right: 1px solid #e5e5e5;
  padding: 0 15px 30px 20px;
  .slider{
    height: 320px;
    margin: 0 0 65px -20px;
    overflow: visible!important;
    img{max-height: 320px}
    .slidesjs-container{height: 100%!important}
    .slidesjs-navigation{display: none}
    .slidesjs-pagination{
      left: auto;
      top: auto;
      .absRB(10px,-30px);
      li{
        right: auto;
        a.active{background: #86e7ff}
      }
    }
  }
  iframe{
    display: block;
    margin: 45px auto 60px;
  }
  .img{
    margin: 0 0 20px -20px;
    img{
      max-width: 100%;
    }
  }
  .notification{
    margin: 40px 0px -40px;
  }
}
.content-product{
  padding-bottom: 50px;
  border-bottom: 1px solid #ebebeb;
  &>p{
    font: 16px @font-second;
    color: #000;
    text-transform: uppercase;
    margin: 0 0 15px 20px;
    html[lang="ru"] &{font: 16px @font-posterizer}
  }
  &>div{
    &>div{
      width: 20%;
      float: left;
      .img{
        height: 225px;
        margin: 15px auto;
        display: block;
        text-align: center;
      }
      p{
        .fw(16px,700);
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 10px;
        height: 38px;
        color: #000;
        padding: 0 20px;
        html[lang="ru"] &{font-size: 14px}
        i{
          font-style: normal;
          display: block;
        }
      }
      span{
        .fw(18px,900);
        margin: 15px 0 0 10px;
        display: block;
        text-align: center;
        color: #000;
        html[lang="ru"] &{font-size: 14px}
        em{font-style: normal}
      }
      .btn{
        margin: 10px 20px 0 0;
      }
      .description{
        width: 75%;
        margin: 0 auto;
        div{
          .size(40%,51px);
          float: left;
          text-align: center;
          line-height: 56px;
        }
        i{
          color: #423029;
          float: left;
          width: 55%;
          font: 12px/14px @font;
          margin-top: 17px;
          html[lang="ru"] &{font-family: @font-open}
        }
      }
    }
  }
  .radio{
    margin-left: 15px;
    li{
      margin-bottom: 5px;
    }
    input{
      &:checked + label:before{
        .size(8px,8px);
        left: 3px;
        top: 3px;
      }
      &+label{
        font: 600 12px @font;
        text-transform: uppercase;
        padding-left: 20px;
        html[lang="ru"] &{font: 700 12px @font-open}
        &:after{.size(10px,10px)}
      }
    }
  }
}
.corp-contact{
  p{
    color: #000;
    font: 30px @font-second;
    margin: 0 0 15px 5px;
  }
  a{
    color: #000;
    font: 18px @font-second;
    text-decoration: none;
    margin-left: 10px;
    border-bottom: 2px solid transparent;
    &:hover{border-color: #000}
  }
}
.corp-form{
  input, textarea{
    width: 100%;
    margin-bottom: 20px;
  }
  label{
    font-size: 14px;
    display: block;
    margin-bottom: 10px;
  }
  .error{
    input, textarea{border-color:#e64135}
    label{color:#e64135}
  }
  .btn{
    margin: 0 auto 40px;
    background: @choco;
    border-color: @choco;
    text-transform: uppercase;
    line-height: 21px;
    &:hover{
      background: transparent;
      border-color: #000;
    }
  }
}
.custom-datepicker{
  .ui-widget-content{
    border: 1px solid #e6e6e6;
    .round(0);
    background: #fff;
    box-shadow: 5px 5px 5px 0 rgba(0,0,0,0.2);
    width: 193px;
    margin-top: 1px;
    padding: 4px 15px 0;
  }
  .ui-datepicker-header{
    background: none;
    border: none;
    padding: 0;
    color: #000;
    font: bold 14px @font;
    html[lang="ru"] &{font-family: @font-open}
  }
  .ui-state-disabled{opacity:0.2}
  .ui-widget-header {
    .ui-icon {
      .size(14px,8px);
      margin-top: -6px;
      text-indent: 0;
      line-height: 35px;
      &.ui-icon-circle-triangle-w{
        &:after{
          .ico("\e605",8px,#000);
          .absLT();
          .trans(180deg);
        }
      }
      &.ui-icon-circle-triangle-e{
        &:after{
          .ico("\e605",8px,#000);
          .absLT();
        }
      }
    }
  }
  .ui-datepicker{
    th{
      padding: 2px 3px;
      .size(24px,22px);
      vertical-align: middle;
      font: bold 12px/22px @font;
      html[lang="ru"] &{font-family: @font-open}
    }
    .ui-datepicker-prev{
      .size(14px,8px);
      .absLT(0,10px);
    }
    .ui-datepicker-next{
      .size(14px,8px);
      .absRT(0,10px);
    }
    a:hover{
      border: none;
      background: none;
      cursor: pointer;
    }
  }
  .ui-state-default{
    border: none!important;
    background: #fff!important;
    color: #000!important;
    font: 14px/22px @font;
    text-align: center!important;
    padding: 0!important;
    height: 100%;
    &.ui-state-active{
      background: @choco!important;
      border: none;
    }
  }
  td{
    padding: 2px 3px;
    .size(24px,22px);
  }
}
.datepicker-wrap{
  position: relative;
  &:after{
    .ico("\e628",22px,#ccc);
    .absLT(100%, 50%);
    margin: -11px 0 0 -30px;
    pointer-events: none;
  }
  .datepicker{padding-right: 32px}
}
.decoration-block{
  .round(7px);
  padding: 25px 56px;
  margin: 15px 10px 25px;
  background: #efefef;
  counter-reset: list;
  div{
    .size(60px,60px);
    .imgs;
    .round(50%);
    z-index: 2;
    position: relative;
    margin: 0 0 0 25px;
    float: left;
    &:after{
      .absLT(25px);
      font: 31px/60px @font-amatic;
      counter-increment: list;
      content: counter(list) "";
      opacity: 0;
      color: #959595;
    }
    &:empty{
      border: 1px dashed #959595;
      &:after{opacity: 1}
    }
    .delete{
      .absRT(-5px,-4px);
      .icon(27px,26px,@icon);
      z-index: 1;
      cursor: pointer;
      &:after{
        .anim;
        .absRT(8px,5px);
        .ico("\e612",7px,#fff);
      }
      &:hover:after{color:#bbb;}
    }
    .quantity{
      .fw(10px,900);
      color: #161616;
      .absRT(25px,-15px);
      i{font-style:normal;}
    }
    &:first-child{
      margin-left: 0;
    }
    img{
      .size(60px,60px);
      .round(50%);
    }
  }
}
.delivery-info{
  width: 32%;
  float: right;
  h3{
    font: 18px @font-second;
    color: #010101;
    text-transform: uppercase;
    margin-bottom: 15px;
    html[lang="ru"] &{font: 18px @font-posterizer}
  }
  .delivery{
    margin-bottom: 20px;
    label{
      float: left;
      line-height: 50px;
      width: 115px;
      text-align: right;
      white-space: nowrap;
    }
    &>h3{margin-bottom: 25px}
    input{
      float: right;
      width: 225px;
      color: #000;
      font-style: normal;
    }
    &>div{
      overflow: hidden;
      margin-bottom: 15px;
      &.error{
        input, .ui-selectmenu-button{border-color: #E51F04}
        label{color: #E51F04}
      }
    }
    .ui-selectmenu-button {float: right}
  }
  label{
    text-transform: uppercase;
    display: block;
    font-size: 12px;
    font-weight: bold;
  }
}
.faq-block{
  margin-left: 0!important;
  div{
    margin-left: 0!important;
    padding: 0!important;
  }
  h3{
    color:#0ed3ea;
    font: 24px @font-second!important;
    padding: 20px 10px 10px 0!important;
    margin-top: 0!important;
    html[lang="ru"] &{font-family: @font-posterizer!important}
    i{
      .size(14px,14px);
      .anim;
      display: inline-block;
      background: url('images/arr.png') no-repeat;
      margin-left: 15px;
      position: relative;
      top: 10px;
    }
    &.ui-accordion-header-active i{
      .trans(-90deg);
      top: 8px;
    }
  }
  h4{
    margin: 20px 0 10px;
    font: 18px @font-second;
    html[lang="ru"] &{font-family: @font-posterizer}
  }
}
.feedback{
  &>.error{
    label{color: #E51F04}
    textarea{border-color: #E51F04}
  }
  label{margin-bottom: 10px}
}
.footer-info{
  border-bottom: 1px solid #000;
  position: relative;
  height: 60px;
  margin-bottom: 20px;
  &>p{
    float: left;
    margin: 10px 0 0 30px;
    font: 30px @font-amatic;
    text-transform: uppercase;
    html[lang="ru"] &{font: 30px @font-neucha}
    span{
      margin-left: 15px;
      font: 18px @font-second;
      html[lang="ru"] &{font: 18px @font-posterizer}
    }
  }
  .dark{
    background: #1a1a1a;
    padding: 0 10px;
    height: 60px;
  }
  .social{
    float: right;
    margin: 20px 8px 0 0;
  }
  b{
    font: 30px @font-amatic;
    text-transform: uppercase;
    margin: 12px 10px 0 0;
    html[lang="ru"] &{font-family: @font-neucha}
  }
}
.footer-main{
  height: 190px;
  margin-bottom: 20px;
  border: 1px solid #1a1a1a;
  .social-large{
    .size(200px,100%);
    float: left;
    background: #1a1a1a;
    color: #fff;
    text-transform: uppercase;
    font: 16px @font-second;
    html[lang="ru"] &{font: 16px @font-posterizer}
    p{
      padding: 10px 15px 20px;
    }
    .social{
      margin-left: 20px;
      li{
        margin: 0 14px 14px 0;
        a{
          .size(45px,45px);
          &.in{
            .size(43px,45px);
            background-position: 0 -30px;
            margin-left: 2px;
          }
          &.fb{background-position: -47px -30px}
          &.vk{
            .size(42px, 43px);
            margin: 2px 0 0 3px;
            background-position: -96px -30px;
          }
          &.gl{background-position: -192px -30px;}
          &.tw{background-position: -143px -30px;}
        }
      }
    }
  }
  .about-company{
    .size(385px,125px);
    border-right: 1px solid #1a1a1a;
    padding-top: 65px;
    float: left;
    .fw(14px,300);
    position: relative;
    &:after{
      .ico("\e617",46px,#1b1b1b);
      .absLT(162px,11px);
    }
    p{
      margin: 0 20px 10px;
      html[lang="ru"] &{
        font-size: 13px;
        max-height: 85px;
      }
    }
    a{
      color: #000;
      text-decoration: none;
      .fw(14px,900);
      font-style: italic;
      float: right;
      .ts;
      margin-right: 20px;
      html[lang="ru"] &{text-transform: uppercase}
      &:hover{text-decoration: underline;}
    }
  }
  .ui-tabs{
    float: left;
    width: 552px;
    padding: 0;
    .ui-tabs-nav{
      background: #1a1a1a;
      padding: 0;
      li{
        margin: 0;
        padding-bottom: 0;
        a{
          height: 21px;
          display: block;
          padding: 5px 9px;
          margin: 6px 5px 0 5px;
          font: 16px @font-second;
          text-transform: uppercase;
          html[lang="ru"] &{font-family: @font-posterizer}
          &[href="#macarons"]{color: @macarons;}
          &[href="#muesli"]{color: @muesli;}
          &[href="#coffee"]{color: @coffee;}
          &[href="#choco"]{color: @choco;}
          &[href="#cakes"]{color: @cake;}
        }
        &.ui-tabs-active a{
          background: #fff;
          color: #1a1a1a;
        }
      }
    }
    .ui-tabs-panel{
      padding: 10px 15px 5px;
      .img{
        .size(80px,120px);
        line-height: 120px;
        float: left;
        margin-right: 15px;
        text-align: center;
        img{.img(100%,95%);}
      }
      p{
        .fw(14px,300);
        color: #000;
        margin-top: 20px;
        html[lang="ru"] &{font-size: 13px}
      }
      .btn{
        float: right;
        margin-top: 10px;
        border-color: #000;
        &:hover{
          color:#fff;
          background: #000;
        }
      }
    }
  }
}
.info{
  margin: 30px 20px 0 0;
  &>div{
    font-family: @font-amatic;
    color: #fff;
    float: left;
    margin-left: 35px;
    html[lang="ru"] &{
      font-family: @font-neucha;
      margin-left: 30px;
      &:not(.wrap-basket){ margin-top: 10px}
    }
    p{
      .fw(30px, 700);
      margin-bottom: 5px;
      text-transform: uppercase;
      html[lang="ru"] &{
        font-size: 20px;
        font-weight: 400;
      }
      &.watcher{
        position: relative;
        padding-left: 45px;
        &:after{
          .ico("\e611",33px,#fff);
          .absLT(0,2px);
        }
      }
    }
    &:first-child{
      margin-left: 0;
      p{font-weight: 400;}
    }
    span{
      font: 20px @font-second;
      html[lang="ru"] &{font: 20px/20px @font-posterizer}
    }
    a{
      color: #fff;
      display: block;
      text-decoration: none;
      &:hover{opacity: .7}
    }
    &:nth-child(2) span{
      display: block;
      text-align: center;
    }
    em{
      .fw(20px, 700);
      font-style: normal;
      margin-left: 20px;
      html[lang="ru"] &{
        font-weight: 400;
        text-transform: uppercase;
        margin-left: 45px;
      }
    }
  }
  .wrap-basket{
    margin-left: 55px;
    font-family: @font;
    position: relative;
    top: -15px;
    html[lang="ru"] &{
      font-family: @font-open;
      margin-left: 20px;
    }
  }
}
.infobar{
  width: 34%;
  display: table-cell;
  vertical-align: top;
  padding: 0 0 0 30px;
  .title{
    font: 36px @font-amatic;
    text-transform: uppercase;
    padding: 0 0 5px 5px;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 20px;
    html[lang="ru"] &{font: 20px @font-neucha}
  }
  ul{
    margin-bottom: 45px;
    font-family: @font-second;
    padding-left: 5px;
    html[lang="ru"] &{font-family: @font-posterizer;}
    a{text-decoration: none}
    &.info-menu{
      li{
        margin-bottom: 20px;
        a{
          .anim;
          .font(20px,25px);
          display: inline-block;
          color: #7f7f7f;
          border-bottom: 2px solid transparent;
          html[lang="ru"] &{text-transform: uppercase;}
          &:hover,&.active{
            border-color: #000;
            color: #000;
          }
        }
      }
    }
    &.info-product{
      margin: 45px 0 55px;
      li{
        margin-bottom: 25px;
        a{
          .anim;
          color: #000;
          padding-left: 80px;
          font-size: 20px;
          position: relative;
          &:after{.anim}
          &.coffee:after{
            .ico("\e613",44px,#000);
            .absLT(9px,-17px);
          }
          &.choco:after{
            .ico("\e624",33px,#000);
            .absLT(8px,-4px);
          }
          &.cake:after{
            .ico("\e609",30px,#000);
            .absLT(6px,-2px);
          }
          &.macarons:after{
            .ico("\e618",21px,#000);
            .absLT(8px,4px);
          }
          &.muesli:after{
            .ico("\e623",30px,#000);
            .absLT(9px,-2px);
          }
          &:hover{
            color: #7f7f7f;
            &:after{opacity:0.5}
          }
        }
      }
    }
  }
  .banner{
    img{
      max-width: 360px;
    }
  }
}
.lang{
  margin-bottom: 5px;
  margin: 0 0 5px 10px;
  li{
    float: left;
    .fw(12px,900);
    font-style: italic;
    text-transform: uppercase;
    a{
      color: #fff;
      text-decoration: none;
      .anim();
    }
    &.active a, a:hover{
      text-decoration: underline;
    }
  }
}
.left{float: left}
.legend{
  height: 65px;
  background: lightskyblue;
}
.list{
  div{
    width: 130px;
    margin-left: 15px;
    float: left;
    font-size: 14px;
    html[lang="ru"] &{
      &:nth-child(2){width:100px}
    }
    &:last-child{width:220px}
    p{
      font-weight: 900;
      color: #1a1a1a;
      .anim;
      margin-bottom: 5px;
    }
    a{
      color: #1a1a1a;
      text-decoration: none;
      .anim;
    }
    &:hover p,&:hover a{
      color: #868686;
    }
    &:hover a:hover{
      color: #1a1a1a;
    }
  }
}
.list-product{
  margin-right: -27px;
  li{
    .anim;
    .us;
    height: 110px;
    float: left;
    width: 310px;
    padding: 10px 15px;
    margin: 10px 27px 0 0;
    cursor: pointer;
    position: relative;
    &:hover .add-product{opacity: 1}
    img{
      .size(100px,100px);
      .round(50%);
      float: left;
      margin-right: 20px;
      position: relative;
    }
    .inform{
      float: left;
      color: #000;
      width: 190px;
      p{
        font: 14px @font-second;
        margin-top: 20px;
        margin-bottom: 5px;
        html[lang="ru"] &{font-family: @font-posterizer}
      }
      span{
        .fw(12px,300);
        display: block;
        i{font-style: normal;}
      }
      &:before{
        .size(100px,100px);
        .round(50%);
        .absLT(15px,10px);
        .anim;
        background: rgba(255,255,255,0.5);
        content: '';
        opacity: 0;
      }
      &:after{
        .anim;
        .absLT(53px,45px);
        .ico("\e632",29px,#fff);
        .ts(2px,2px,4px,0.4);
        opacity: 0;
      }
    }
    .btns{
      float: left;
      margin-top: 10px;
      opacity: 0;
      .anim;
      i{
        .us;
        .size(18px,18px);
        background: #000;
        color: #fff;
        float: left;
        .round(50%);
        margin-right: 3px;
        font-style: normal;
        .fw(15px,900);
        line-height: 16px;
        text-align: center;
        &.minus{font-size: 18px;}
      }
      span{
        .fw(10px,900);
        color: #161616;
        margin-left: 2px;
      }
    }
    .add-product{
      .us;
      .fw(10px, 900);
      .ts;
      .absRB(10px,10px);
      .anim;
      text-transform: uppercase;
      line-height: 20px;
      color: #1a1a1a;
      padding-right: 30px;
      opacity: 0;
      &:after{
        .ico("\e601",20px,#060706);
        .absRT(-3px,-1px);
        .trans(-180deg);
      }
    }
    &.added{
      width: 310px;
      .inform{
        &:before,&:after{opacity: 1}
      }
      .btns{opacity: 1;}
    }
  }
}
.logo{
  .icon(213px,156px,'images/logo.png');
  margin: 18px 0 30px 45px;
}
.logo-dev{
  float: left;
  margin: 20px 0 0 30px;
  text-decoration: none;
  position: relative;
  &:before{
    .anim;
    .ico("\e633",111px,#151515);
    .absLT(0,-34px);
  }
  &:hover:before{color:#666367}
  span{
    font: 12px @font;
    .absLT(48px,30px);
    color: #000;
    html[lang="ru"] &{font-family: @font-open}
  }
}
.main-title{
  text-align: center;
  font: 36px/47px @font-second;
  color: #000;
  position: relative;
  padding-top: 70px;
  margin-top: 20px;
  html[lang="ru"] &{
    font: 36px/53px @font-posterizer;
    text-transform: uppercase;
  }
  &:after{
    .ico("\e606",47px,#231f20);
    .absLT(48%,-2px);
  }
  span{
    display: block;
  }
}
.main-top{
  .social{
    margin: 190px 80px 10px 35px;
    float: left;
  }
  &>p{
    font: 700 50px/50px @font-amatic;
    color: #fff;
    width: 465px;
    float: left;
    margin-top: 35px;
    text-align: center;
    margin-left: 45px;
    html[lang="ru"] &{
      font: 400 50px/50px @font-neucha;
      margin-left: 30px;
      width: 550px;
    }
    span{color: #39e8fe;}
    em{
      font-style: normal;
      color: @macarons;
    }
  }
}
.newsletter{
  h3{
    padding-left: 48px;
    margin-bottom: 15px;
    position: relative;
    &:after{
      .ico("\e619",23px,#000);
      .absLT;
    }
  }
  .radio{
    label{
      font: 700 14px @font;
      text-transform: initial;
      html[lang="ru"] &{
        font: 700 12px @font-open;
        text-transform: uppercase;
      }
    }
  }
}
.notification{
  overflow: hidden;
  div{
    .anim;
    .bs;
    .fw(18px,300);
    .size(100%,@notification);
    display: table;
    padding: 0 20px;
    color: #474746;
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
    &>p{
      .cent(left);
      height: @notification;
      .muesli-page .top-panel + &{text-align: center}
    }
    .close{
      .absRT(7px,0);
      cursor:pointer;
      &:after{
        .ico("\e612",11px,#fff);
        .ts;
        .anim;
      }
    }
    &:nth-child(2){margin: -(@notification+20) 0 20px;}
    &.yellow{
      background:@macarons;
      .close:hover:after{color: #bdb328;}
    }
    &.red{
      background:@muesli;
      color: #fd1820;
      .close:hover:after{color: #fd5359;}
    }
    &.center{
      text-align: center;
      .fw(16px,700);
      text-transform: uppercase;
      color: #000;
    }
    .muesli-page .top-panel + &{height: 80px}
  }
}
.order-form{margin-bottom: 60px}
.package-select{
  &.big {
    &+.ui-selectmenu-button{
      color: #7a7777;
      width: 223px !important;
      height: 48px;
      background: transparent;
      border: 1px solid #E6E6E6;
      span.ui-selectmenu-text{
        color: #000;
        padding: 0 30px 0 20px;
        font-style: italic;
        .font(14px,48px);
      }
      span.ui-icon{
        &:before{
          font-size:17px;
          color: #adadad;
        }
        .size(17px, 18px);
        top: 50%;
        margin-top: -9px;
        right: 9px;
      }
    }
    &~.ui-selectmenu-menu{
      ul li{
        line-height: 48px;
        padding-left: 20px;
        font-size: 14px;
      }
    }
  }
}
.panel{
  .product-img{
    p{
      float: left;
      .fw(18px,900);
      width: 150px;
      margin: 50px 0 25px 35px;
      .start-again{
        float: left;
      }
    }
    .img{
      .size(90px,90px);
      .round(50%);
      .sh(2px, 2px, 2px, 0.1);
      border: 2px solid #fff;
      float: right;
      margin: 0 35px 25px 0;
      overflow: hidden;
      img{
        min-width: 100%;
        height: 105%;
      }
    }
  }
  .product-face{
    font-family: @font-second;
    padding-top: 1px;
    html[lang="ru"] &{font-family: @font-posterizer}
    p{
      margin: 5px 0 5px 10px;
      font-size: 18px;
      color: #000;
      text-transform: uppercase;
      html[lang="ru"] &{
        margin-top: 0;
        font-size: 24px;
      }
    }
    span{
      font-size: 20px;
      color: #161616;
      display: block;
      margin-left: 10px;
    }
    &>div{
      p{
        text-align: right;
        margin: 25px 0 10px;
      }
      span{
        text-align: right;
        margin-left: 0;
      }
    }
  }
  &>p{
    .fw(18px,300);
    margin: 20px 0 5px 10px;
    html[lang="ru"] & {font-weight: 900}
  }
}
.payment-method{
  margin: 0 0 35px 0;
  &>h3{margin-bottom: 30px}
  ul li{
    height: 31px;
    float: left;
    margin-right: 7px;
    &.text{
      border: 1px solid #ebebeb;
      .size(90px, 29px);
      text-align: center;
    }
    label{
      position: relative;
      cursor: pointer;
      height: 100%;
      font: 400 12px/29px @font;
      html[lang="ru"] &{font: 400 12px/29px @font-open}
    }
    input{
      display: none;
      &:checked + label{
        &:before{
          .size(15px,15px);
          .absLT(-5px,-7px);
          .round(50%);
          content: '';
          background: #000;
        }
        &:after{
          .ico("\e621",8px,#fafafa);
          .absLT(-1px,-4px);
        }
      }
    }
    &:last-child{
      padding-left: 15px;
      text-align: left;
      label{.font(10px,14px)!important}
      input:checked + label{
        &:before{left:-20px}
        &:after{left:-16px}
      }
    }
  }
}
.price-block{
  margin: 0 10px 30px 10px;
  .clear>p{
    color: #000;
    font: 18px @font-second;
    margin: 0 0 25px 0;
    float: left;
    html[lang="ru"] &{
      font: 18px/18px @font-posterizer;
      text-transform: uppercase;
    }
    span{
      font-size: 30px;
      margin-left: 15px;
    }
    em{
      font-style: normal;
      font-size: 30px;
    }
  }
  .energy{
    margin-top: 25px;
    font-size: 12px;
    color: #161616;
    b{
      font-weight: 900;
      font-style: italic;
      display: block;
      margin-bottom: 10px;
    }
  }
}
.products{
  a{
    float: left;
    position: relative;
    text-decoration: none;
    .anim;
    img{.img;}
    p{
      font: 24px/30px @font-second;
      color: #000;
      text-transform: uppercase;
      html[lang="ru"] &{font: 24px/30px @font-posterizer}
    }
    span{
      .fw(14px, 300);
      color: #000;
      display: block;
    }
    i{
      .fw(10px, 900);
      .ts;
      .absRT(10px,10px);
      .anim;
      text-transform: uppercase;
      line-height: 30px;
      color: #1a1a1a;
      padding-right: 50px;
      opacity: 0;
      &:after{
        .ico("\e601",35px,#030303);
        .absRT(-1px,-1px);
      }
    }
    &:hover i{
      opacity: 1;
    }
    &.macarons, &.cake{
      padding: 45px 10px 10px;
      p{margin: 15px 0 15px 20px;}
      span{margin: 0 25px 0 20px;}
    }
    &.macarons{
      .size(240px,295px);
      margin: -77px 45px 0 0;
      &:hover{background: @macarons;}
    }
    &.choco{
      .size(465px,185px);
      padding: 30px 25px 10px;
      margin: 47px 50px 0 0;
      &:hover{background: #95e69d;}
      img{
        float: left;
        margin-right: 20px;
      }
      p{margin: 40px 0 15px;}
    }
    &.cake{
      .size(250px,295px);
      margin-top: -77px;
      &:hover{background: #f7b278;}
    }
    &.muesli{
      .size(325px,125px);
      padding: 15px 35px 10px;
      margin: 25px 40px 80px 155px;
      &:hover{background: @muesli;}
      img{
        float: left;
        margin-right: 25px;
      }
      p{margin: 30px 0 15px;}
    }
    &.coffee{
      .size(355px,130px);
      padding: 10px 20px 10px;
      margin: 25px 0 80px 0;
      &:hover{background: @coffee;}
      img{
        float: left;
        margin-right: 30px;
      }
      p{margin: 40px 0 15px;}
    }
    &.unactive{
      p{
        color: #fbf9f9;
        text-shadow: -2px -2px 2px rgba(0,0,0,0.1);
      }
      span{
        color: #161616;
        opacity: 0.5;
      }
    }
  }
}
.product-index{
  a{pointer-events: none;}
  &.assembly{
    margin-top: 0;
    div:first-child a{pointer-events: auto;}
  }
  &+.product-tabs{margin-top: 0}
}
.product-list{
  margin-bottom: 30px;
  width: 75.5%;
}
.product-tabs{
  background: #efefef;
  padding: 10px;
  .ui-tabs{
    padding: 0;
    .ui-tabs-nav{
      padding: 0;
      .ui-tabs-anchor{
        .fw(14px,900);
        font-style: italic;
        color: #000;
        margin-right: 5px;
      }
      .add-txt .ui-tabs-anchor{
        html[lang="ru"] &{
          .font(12px,14px);
          padding: 2px 1em;
          text-align: center;
          white-space: normal;
          width: 55px;
        }
      }
      .ui-tabs-active .ui-tabs-anchor{background: #fff}
    }
    .ui-tabs-panel{
      background: #fff;
      padding: 20px 10px;
    }
  }
  &.decoration, &.shape-letter{
    padding-top: 0;
  }
  &.decoration{
    .ui-tabs-panel{
      li{
        margin-top: 0;
        width: 216px;
        padding: 10px;
        img{
          .size(60px, 60px);
          margin-right: 10px;
        }
        .inform{
          width: auto;
          float: none;
          p{
            margin: 0 0 2px 0;
          }
        }
      }
    }
    .list-product{
      li{
        .us;
        .btns{
          margin-top: 5px;
        }
        &:nth-child(odd){
          margin-right: 0;
        }
        .add-product{
          padding-right: 20px;
          .us;
        }
        &.added{
          .inform{
            &:before{
              .size(60px, 60px);
              left: 10px;
            }
            &:after{
              left: 28px;
              top: 27px;
            }
          }
        }
      }
    }
  }
  &.shape-letter{
    .ui-tabs-panel{
      li{
        margin: 0 30px 0 20px;
        float: left;
        .size(auto, auto);
        &:hover{background: none}
      }
    }
  }
}
.promocode{
  background: url('images/promocode-decor.png') no-repeat;
  margin: 0 -20px 15px -20px;
  .wrapper{
    margin: 0 17px;
    .title{
      color: #fff;
      font: 36px/69px @font-amatic;
      margin-right: 30px;
      float: left;
      letter-spacing: 0.3px;
      html[lang="ru"] &{font: 30px/69px @font-neucha}
    }
    input{
      float: left;
      background: transparent;
      border: 1px dashed #fff;
      margin-top: 9px;
      color: #fff;
      width: 275px;
    }
    .btn{
      text-transform: uppercase;
      font: 10px @font-second;
      .size(83px, 23px);
      line-height: 21px;
      margin: 23px 22px 0 0;
      html[lang="ru"] &{
        font: 10px/19px @font-posterizer;
        width: 90px;
      }
    }
  }
}
.radio{
  .us;
  input{
    display: none;
    &+label{
      color: #000;
      font: 16px @font-second;
      cursor: pointer;
      padding-left: 40px;
      position: relative;
      display: block;
      html[lang="ru"] &{font: 18px/18px @font-posterizer}
      &:after{
        content: '';
        .size(16px,16px);
        border: 2px solid #000;
        .round(50%);
        .absLT;
      }
    }
    &:checked+label:before{
      .size(12px,12px);
      content: '';
      .absLT(4px,4px);
      background: #000;
      .round(50%);
    }
  }
}
.right{
  float: right;
}
.seo-base{
  .col(2,160px);
  margin: 45px 0 65px;
  &.uncolumned{
    .col(1,0);
    margin-left: 25px;
  }
  h1,h2{
    margin-bottom: 10px;
    .fw(16px,900);
    font-style: italic;
    text-transform: uppercase;
  }
  p{
    .fw(14px,400);
    color: #161616;
    margin-bottom: 15px;
  }
  a{
    color: #161616;
    &:hover{text-decoration: none;}
  }
  img{
    margin: -20px 20px 0 0;
    float: left;
  }
  ul{
    font-size: 14px;
    margin-bottom: 25px;
    li{
      margin-bottom:5px
    }
  }
}
.shape-block{
  .round(7px);
  border: 1px dashed #ececec;
  margin: 15px 10px 30px;
  padding: 30px 10px 30px 20px;
  .shape-figure{
    float: left;
    margin-right: 20px;
    text-decoration: none;
    cursor: default;
    span{.size(50px,50px)!important}
    &.rect span{background: #000}
    &.circle span{background: #000}
    &.star span:before{
      color: #000;
      font-size: 47px;
    }
    &.heart span:before{
      color: #000;
      font-size: 46px;
    }
  }
  .title{
    .fw(18px,700);
    float: left;
    font-style: italic;
    width: 245px;
  }
}
.shape-preview-icon{
  .anim;
  cursor: default;
  .heart &{
    .size(37px, 32px);
    &:before{.ico("\e616",32px,#000)}
  }
  .star &{
    .size(34px, 32px);
    &:before{.ico("\e622",32px,#000)}
  }
  .circle &{
    .size(32px, 32px);
    .round(50%);
    background: #000;
  }
  .rect &{
    .size(33px, 31px);
    background: #000;
  }
  &:hover{opacity: 0.6}
}
.sidebar{
  width: 32.3%;
  float: left;
  margin-top: 20px;
}
.slider{
  position: relative;
  .slidesjs-pagination{
    position: relative;
    left: 50%;
    float: left;
    top: -13px;
    z-index: 99;
    li{
      right: 50%;
      margin: 0 4px;
      float: left;
      position: relative;
      a{
        .size(7px,7px);
        .round(50%);
        .anim;
        display: block;
        border: 2px solid #000;
        &.active{background: #000;}
      }
    }
  }
  .slidesjs-navigation{
    display: block;
    text-decoration: none;
    z-index: 99;
    &:after{.anim}
  }
  .slidesjs-previous{
    .absLB(38.6%,-3px);
    .trans(90deg);
    &:after{.ico("\e606",35px,#231f20)}
  }
  .slidesjs-next{
    .absRB(38.6%,-3px);
    .trans(-90deg);
    &:after{.ico("\e606",35px,#231f20)}
  }
  .slidesjs-slide{
    .img{
      width: 36.4%;
      float: left;
      margin-right: 30px;
      img{
        .imgs;
        float: right;
      }
    }
    .txt{
      float: left;
      width: 42.5%;
      p{
        font: 51px @font-amatic;
        color: #161616;
        text-transform: uppercase;
        html[lang="ru"] &{font: 51px @font-neucha}
      }
      b{
        display: block;
        .fw(14px,900);
        font-style: italic;
        margin-bottom: 10px;
      }
      span{
        font-size: 12px;
        display: block;
        color: #161616;
        width: 95%;
        a{
          font-weight: 700;
          text-decoration: none;
          color: #161616;
          font-style: italic;
          &:hover{text-decoration:underline;}
        }
      }
      .btn{margin:20px 0 0 30px;}
    }
  }
}
.slide-block{
  &>p{
    font: 16px @font-second;
    color: #000;
    margin: 20px 0 10px 20px;
    text-transform: uppercase;
    html[lang="ru"] &{
      margin-top: 10px;
      font: 16px @font-posterizer;
    }
  }
  &>a{
    .fw(14px,900);
    font-style: italic;
    color: #161616;
    padding-left: 40px;
    position: relative;
    margin-left: 50px;
    &:hover{text-decoration: none;}
  }
}
.social{
  li{
    float: left;
    margin-left: 10px;
    a{
      .icon(26px,26px,@icon);
      &.in{
        .size(25px,24px);
        background-position: -30px 0;
      }
      &.fb{background-position: -60px 0;}
      &.tw{background-position: -120px 0;}
      &.gl{background-position: -150px 0;}
      &.vk{background-position: -90px 0;}
    }
  }
}
.start-again{
  float: right;
  .fw(12px,300);
  text-decoration: none;
  font-style: italic;
  color: #000;
  letter-spacing: 0.2px;
  margin: 5px 15px 0 0;
  &:hover{
    text-decoration: underline;
  }
  span{
    font-weight: 900;
    font-style: normal;
    margin-left: 5px;
  }
}
.subscribe-popup, .thanks-popup{
  .to-cart-popup;
  .wrapper .inner p{
    color: #fff;
  }
  .btn{
    background: #fff!important;
    border-color: #fff!important;
    margin: 0 auto;
    &:hover{
      background: transparent!important;
      color: #fff!important;
      &:after{color:#fff}
    }
  }
}
.subscribe-popup{
  .wrapper .inner p{
    font-size: 44px;
    line-height: 51px;
    margin-top: -20px;
    padding: 0 20px;
  }
}
.thanks-popup{
  .wrapper .inner{
    html[lang="et"] &{padding-top: 10px;}
  }
}
.text{
  h1{
    margin-bottom: 20px;
    font: 30px @font-second;
    color: #000;
    .about&,.corporate&{color:#86e7ff}
    html[lang="ru"] &{
      text-transform: uppercase;
      font-family: @font-posterizer;
    }
  }
  h2{
    margin-bottom: 15px;
    font: 18px @font-second;
    color: #0ed3ea;
    .about&,.corporate&{color:#000}
    html[lang="ru"] &{
      font-family: @font-posterizer;
      text-transform: uppercase;
    }
  }
  h3{
    .fw(14px,700);
    margin: 35px 0 20px;
  }
  a{
    color: #707070;
    &:hover{text-decoration: none}
  }
  p{
    width: 90%;
    margin-bottom: 20px;
    font: 14px/18px @font;
    color: #000;
    html[lang="ru"] &{font-family: @font-open}
  }
  ul{
    margin: 0 0 20px 30px;
    li{
      font: 14px/18px @font;
      color: #000;
      position: relative;
      margin-bottom: 10px;
      padding-left: 25px;
      html[lang="ru"] &{font-family: @font-open}
      &:after{
        .size(6px,6px);
        .round(50%);
        .absLT(0,7px);
        content: '';
        background: #86e7ff;
      }
    }
  }
  b{font-weight: 900}
  img{
    margin: 0 20px 20px -20px;
  }
  div{
    margin-left: 50px;
    &.package{
      margin: 60px 0 0 0;
      .img{
        .cent;
        margin: 0 0 0 -20px;
        width: 40%;
        img{margin: 0}
        &.right{margin: 0}
      }
      .txt{
        .cent(left);
        width: 60%;
        margin-left: 0;
      }
    }
  }
}
.to-cart-popup{
  display: none;
  .fix;
  .size(100%, 100%);
  z-index: 100;
  background: rgba(255, 255, 255, .8);
  .wrapper{
    position: relative;
    .size(500px, 200px);
    background: url("images/add-to-cart-bg.png");
    margin: -100px auto 0;
    top: 50%;
    box-shadow: 3px 4px 5px 0px rgba(3, 3, 3, 0.1);
    .inner{
      padding-top: 40px;
      text-align: center;
      p{
        color: #fef469;
        font: 700 48px @font-amatic;
        margin-bottom: 20px;
        html[lang="ru"] &{font: 400 34px @font-neucha}
      }
      .arrow-block{
        margin: 0 auto;
        width: 310px;
        html[lang="ru"] &{width: 420px}
        &>a{
          float: left;
          html[lang="ru"] &{
            font-size: 12px;
            padding-right: 25px;
            width: 175px;
          }
          &:first-child{
            margin-right: 30px;
            html[lang="ru"] &{
              padding: 0 0 0 30px;
              width: 215px;
            }
          }
        }
      }
    }
  }
}
.top-panel{
  .muesli-page &{margin-bottom: 20px}
}
.total-bonuses{
  font-size: 12px;
  text-transform: none;
  padding: 0 0 10px 0;
  border-bottom: 1px solid #e5e5e5;
  .wrapper{
    margin: 0;
    &>div{
      float: left;
      &>p{
        a{
          color: inherit;
          &:hover{text-decoration: none}
        }
        font-style: italic;
        &:first-child{font-weight: 700}
      }
      &:first-child{width: 250px}
    }
  }
}
.total-info{
  margin-top: 40px;
  p{
    font-weight: 700;
    margin-bottom: 7px;
    line-height: 22px;
    html[lang="ru"] &{
      text-transform: uppercase;
      font-size: 14px;
      margin-bottom: 15px;
    }
    &.tooted{
      font-size: 18px;
      html[lang="ru"] &{
        text-transform: uppercase;
        font-size: 18px;
      }
    }
    &.in-total{
      font: 30px/22px @font-second;
      html[lang="ru"] &{
        font: 24px/22px @font-posterizer;
        margin: 0 0px 15px;
        text-transform: uppercase;
      }
    }
  }
  .first{
    width: 225px;
    html[lang="ru"] &{margin-right: 15px}
  }
}
.transport-block{
  margin-bottom: 45px;
  h3{margin-bottom: 15px}
  p{font-size: 14px}
}
.ui-selectmenu-button{
  .size(128px, 32px);
  background-color: #efefef;
  float: left;
  span.ui-selectmenu-text{
    padding: 0 25px 0 12px;
    line-height: 32px;
    font-size: 12px;
    font-weight: 700;
  }
  span.ui-icon{
    .size(12px, 13px);
    text-indent: 0;
    top: 9px;
    margin: 0;
    &:before{
      .ico("\e606",13px,#3b3738);
      position: absolute;
    }
  }
}
.ui-selectmenu-menu{
  .sh (1px, 2px, 3px, 0.2);
  background: #000 url('images/select-decor-1.png') 0 0 repeat-x;
  .ui-menu{
    padding-bottom: 0;
    .ui-menu-item{
      .font(12px,30px);
      .anim;
      color: #fff;
      font-weight: 700;
      padding: 0 0 0 13px;
      margin: 0!important;
      &.ui-state-focus{
        background: #efefef;
        color: #000;
      }
    }
  }
}
.ui-tooltip{
  background: #000;
  color: #fff;
  font-size: 10px;
  padding: 10px;
  .arr {
    .size(70px,0);
    .absLB(50%,0);
    margin-left: -35px;
    &:after{
      .size(0,0);
      .absLT(50%,100%);
      border: solid transparent;
      content: " ";
      pointer-events: none;
      border-color: rgba(0, 0, 0, 0);
      border-top-color: #000;
      border-width: 8px;
      margin-left: -8px;
    }
  }
  .arr.top{
    top: 0;
    bottom: auto;
    &:after{
      top: auto;
      bottom: 100%;
      border-bottom-color: #000;
      border-top-color: transparent;
    }
  }
}
.unactive{
  pointer-events: none;
  img{opacity: 0.2}
  p{opacity: 0.8}
  label{color:#cbcbcb}
}
.user-info{
  border: 1px solid #E6E6E6;
  font-size: 18px;
  margin-bottom: 40px;
  .body{
    padding: 17px 25px 17px 60px;
    .title{
      font: 18px/32px @font-second;
      margin-bottom: 15px;
      html[lang="ru"] &{font: 18px/32px @font-posterizer}
    }
    &>p{
      .font(18px, 30px);
      font-weight: 700;
      span{
        font-weight: normal;
        font-style: italic;
      }
    }
  }
}
.weight-panel{
  padding: 30px 0;
  margin-bottom: 20px;
  border: 3px solid;
  html[lang="ru"] &{margin-top: 25px}
  p{
    text-transform: uppercase;
    float: left;
    font: 16px @font-second;
    padding: 0 55px 0 20px;
    html[lang="ru"] &{font-family: @font-posterizer}
  }
  .radio{
    li{
      float: left;
      margin-right: 80px;
    }
  }
}
.welcome-text{
  width: 340px;
  margin-top: 25px;
  text-align: right;
  p{
    font: 30px @font-second;
    margin-bottom: 10px;
    html[lang="ru"] &{
      font: 24px @font-posterizer;
      text-transform: uppercase;
      margin-bottom: -15px;
    }
  }
  span{
    color: #000;
    margin-bottom: 15px;
    font: 30px @font-amatic;
    display: block;
    padding-right: 55px;
    position: relative;
    html[lang="ru"] &{
      font: 30px @font-neucha;
      margin: 25px 25px 0 0;
    }
    &:after{
      .absRT(-1px,2px);
      .ico("\e606",28px,#231f20);
    }
  }
  .basket-page &{
    margin: 42px 0 0 20px;
    width: 215px;
    text-align: left;
  }
}
.wrap{
  min-height: 100%;
  margin-bottom: -@footer;
  .main-page &{
    margin: -1px 0 -@footer-main 0;
    padding-top: 1px;
  }
  &:after{
    content: '';
    display: block;
    height: @footer;
    .main-page &{height: @footer-main}
  }
}
.wrap-shapes{
  span{
    display: block;
    cursor: pointer;
    position: relative;
    &:after{
      .ico("\e632",26px,#fff);
      .anim;
      .absLT(50%,50%);
      .ts(2px,2px,6px,0.4);
      margin: -13px 0 0 -13px;
      opacity: 0;
    }
  }
  .heart{
    span{
      .size(76px, 66px);
      &:before{
        .ico("\e616",66px,#e5e5e5);
        .anim;
      }
    }
  }
  .star{
    span{
      .size(69px, 65px);
      &:before{
        .ico("\e622",66px,#e5e5e5);
        .anim;
      }
    }
  }
  .circle{
    span{
      .round(50%);
      .size(67px, 67px);
      .anim;
      background: #e5e5e5;
    }
    &.added span{
      background: #000;
    }
  }
  .rect{
    span{
      background: #e5e5e5;
      .size(69px, 66px);
      .anim;
    }
    &.added span{
      background: #000;
    }
  }
  .added span{
    &:before{color:#000}
    &:after{opacity: 1}
  }
}
// Colored
.coffee-page{
  .weight-panel{
    border-color:@coffee;
    padding: 0;
    &>div{
      .bs;
      padding: 15px 25px 25px;
      width: 50%;
      p{
        .size(100%,20px);
        padding: 0;
        margin-bottom: 15px;
      }
      &:first-child{
        border-right: 1px dashed #C6EEF8;
      }
    }
  }
  .btn{.btnColor(@coffee)}
  .content-product>div{
    color: #fff;
    &>div{
      width: 25%;
      &:first-child p, &:first-child span{color: #050901}
      &:nth-child(2) p, &:nth-child(2) span{color: #39271a}
      &:nth-child(3) p, &:nth-child(3) span{color: #674532}
      &:nth-child(4) p, &:nth-child(4) span{color: #523c24}
      .btn{margin:10px auto 0}
      .img{height: auto}
    }
  }
  .slider{
    .slidesjs-pagination a.active{background: @coffee;}
    .slidesjs-previous,.slidesjs-next{
      &:hover:after{color: @coffee}
    }
  }
  .slide-block>a{
    &:after{
      .absLT(0,-11px);
      .ico("\e613",35px, #160608);
    }
  }
  .list-product{
    li:hover{background:#ecfcff;}
  }
  .constructor div{
    border: none;
    box-shadow: none;
    .delete{
      top: 0;
      right: 1px;
    }
    .quantity{
      .fw(11px,700);
      right: 22px;
    }
    &:empty{border: 1px dashed #ececec}
    &:last-child, &:nth-last-of-type(2){margin-bottom: 0}
    &:nth-child(even){float: right}
    &:nth-child(odd){float: left}
  }
  .welcome-text span{
    html[lang="ru"] &{margin-right: 0}
  }
}
.choco-page{
  .weight-panel{border-color:@choco;}
  .btn{
    .btnColor(@choco);
    &.black{
      background: #000;
      border-color: #000;
      &:hover{
        background: transparent;
        color: #000;
      }
    }
  }
  .content-product>div{
    color: #fff;
    &>div{
      &:first-child p, &:first-child span{color: #423029}
      &:nth-child(2) p, &:nth-child(2) span{color: #5d3522}
      &:nth-child(3) p, &:nth-child(3) span{color: #a6725b}
      &:nth-child(4) p, &:nth-child(4) span{color: #a6725b}
      .btn{margin:10px auto 0}
    }
  }
  .slider{
    .slidesjs-pagination a.active{background: @choco}
    .slidesjs-previous,.slidesjs-next{
      &:hover:after{color: @choco}
    }
  }
  .slide-block>a{
    line-height: 30px;
    &:after{
      .absLT(0,-9px);
      .ico("\e610",25px, #160608);
    }
  }
  .list-product{
    li:hover{background:#e4ffed;}
  }
  .constructor{
    .icon(345px,520px,'images/bg/choco.jpg');
    .round(0);
    border: none;
    padding: 0;
    margin-bottom: 15px;
    div{
      .size(96px,96px);
      &:empty{
        background-color: rgba(255, 255, 255, 0.4);
        border: 2px dashed #fff;
        &:after{
          .font(36px,96px);
          color: #fff;
          font-weight: 700;
        }
      }
      .quantity{color: #fff;}
      &:nth-child(even){float: left;}
      &:nth-child(odd){float: right;}
      &:nth-child(1){margin: 18px 30px 0 0}
      &:nth-child(2){margin: 93px 0 0 38px}
      &:nth-child(3){margin: 68px 68px 0 0}
      &:nth-child(4){margin: 123px 0 0 53px}
      &:nth-child(5){margin: 94px 37px 0 0}
    }
    &.white-choco{
      .icon(361px,524px,'images/bg/choco-white.jpg');
      div{
        &:empty{
          border-color: #000;
          &:after{color:#000}
        }
        .quantity{color:#000}
      }
    }
    &.black-choco{
      .icon(345px, 520px, 'images/bg/choco-black.jpg');
    }
    &.milk-choco {
      .icon(345px, 520px, 'images/bg/choco-milk.jpg');
    }
  }
  .shape{
    padding: 30px 10px 24px 10px;
    p{
      font-size: 14px;
      margin: 0 0 15px 50px;
    }
    .wrapper{
      padding: 37px 0 50px 0;
      >div{
        float: left;
        .size(33%,100px);
        >span{
          .anim();
          display: block;
          position: relative;
          margin: 0 auto;
          cursor: pointer;
          opacity: 0.1;
          height: 100px;
          &:after{
            .ico("\e632",38px,#fff);
            .ts(2px,2px,6px,0.4);
            .absLT(50%, 50%);
            .anim;
            margin: -20px 0 0 -19px;
            opacity: 0;
          }
          &.selected{
            opacity: 1;
            &:after{opacity: 1}
          }
          &:hover{opacity: 1}
        }
        &.heart{
          >span{
            width: 115px;
            &:before{.ico("\e616",100px,#000)}
          }
        }
        &.rect{
          >span{
            width: 169px;
            background: #000;
          }
        }
        &.star{
          >span{
            width: 104px;
            &:before{.ico("\e622",100px,#000)}
          }
        }
      }
    }
  }
  .add-shape-title button{
    color: @choco;
    html[lang="ru"] &{
      width: 160px;
      padding-bottom: 11px;
    }
    &:hover{
      color: #000;
    }
  }
}
.muesli-page{
  .btn{.btnColor(@muesli)}
  .content-product>div{
    &>div{
      width: 25%;
      .btn{margin:20px auto 0}
      span{color:#939598}
      .img{
        .size(180px,180px);
        .round(50%);
        .sh(3px,3px,3px,0.1);
        border: 5px solid #fff;
      }
      p{
        font-size: 16px;
        width: 65%;
        margin: 0 auto 10px;
        html[lang="ru"] &{font-size: 16px}
      }
    }
  }
  .slider{
    .slidesjs-pagination a.active{background: @muesli;}
    .slidesjs-previous,.slidesjs-next{
      &:hover:after{color: @muesli}
    }
  }
  .slide-block>a{
    line-height: 30px;
    &:after{
      .absLT(0,-9px);
      .ico("\e600",29px, #160608);
    }
  }
  .list-product{
    li:hover{background:#fff5f7;}
  }
  .constructor{
    .round(0);
    .icon(358px,526px,'images/bg/muesli.png');
    border: none;
    padding: 0;
    margin: -30px 10px 15px;
    div{
      &:empty{
        background-color: rgba(255, 255, 255, 0.7);
        border: 2px dashed #000;
        &:after{
          .font(36px,96px);
          font-weight: 700;
        }
      }
      &:nth-child(even){float: left;}
      &:nth-child(odd){float: right;}
      &:nth-child(1){margin: 35px 50px 0 0}
      &:nth-child(2){margin: 112px 0 0 64px}
      &:nth-child(3){margin: 55px 40px 0 0}
      &:nth-child(4){margin: 60px 0 0 15px}
      &:nth-child(5){margin: 49px 43px 0 0}
    }
  }
  .panel>p{
    width: 150px;
    .start-again{
      float: left;
      margin-left: -5px;
    }
  }
}
.macarons-page{
  .list-product{
    li{
      &:hover{background:#fffde0}
    }
  }
  .btn{.btnColor(@macarons)}
  .constructor {
    background: none;
    position: relative;
    margin: 0 auto;
    border: none;
    &>div {
      .size(124px, 56px);
      .round(0);
      margin: 0 0 10px 80px;
      border: none;
      background: #ebebeb;
      overflow: hidden;
      &:first-child {margin-top: 14px}
      &:empty {
        &:after {
          text-align: center;
          font: 18px/56px @font-amatic;
          width: 100%;
          left: 0;
          html[lang="ru"] &{font-family: @font-neucha}
        }
      }
      .delete {
        .size(7px,7px);
        .absRT(11px,11px);
        background: none;
        text-decoration: none;
        &:after{
          top: 0;
          right: 0;
        }
        &:hover:after{color: #151313}
      }
      .title {
        text-align: center;
        font: 18px/56px @font-amatic;
        padding: 0 15px;
        html[lang="ru"] &{font-family: @font-neucha}
      }
    }
    &:after {
      .size(162px, 471px);
      .absLT(101px,42px);
      content: '';
      background: url("images/bg/macaron.png") no-repeat;
      z-index: 2;
      pointer-events: none;
    }
  }
  .breadcrumbs{
    div:after{
      html[lang="ru"] &{left: -35%}
    }
  }
  .panel>p{
    margin: -20px 0 0;
    position: relative;
    z-index: 99;
  }
}
.cake-page{
  .weight-panel{border-color:@cake;}
  .btn{
    .btnColor(@cake);
    &.black{
      background: #000;
      border-color: #000;
      &:hover{
        background: transparent;
        color: #000;
      }
    }
  }
  .content-product>div{
    text-align: center;
    &>div{
      .img{
        height: 165px;
        line-height: 165px;
      }
      .btn{margin:10px auto 0}
      p{height: auto}
    }
  }
  .slider{
    .slidesjs-pagination a.active{background: @cake;}
    .slidesjs-previous,.slidesjs-next{
      &:hover:after{color: @cake}
    }
  }
  .slide-block>a{
    line-height: 30px;
    &:after{
      .absLT(0,-3px);
      .ico("\e609",24px, #160608);
    }
  }
  .list-product{
    li:hover{background:#fdeadb;}
  }
  .constructor{
    &.small div:nth-child(even),&.small div:nth-child(odd){float: left;}
    div{
      border: medium none;
      box-shadow: none;
      &:empty{border: 1px dashed #ececec}
      &:last-child, &:nth-last-of-type(2){margin-bottom: 0}
      &:nth-child(even){float: right;}
      &:nth-child(odd){float: left;}
      .delete{
        right: 1px;
        top: 0;
      }
    }
  }
  .add-shape-title{
    margin-left: 0;
    button{
      color: @cake;
      width: 160px;
    }
    input{width: 71%}
  }
  .panel .product-img .img{
    .round(0);
    .size(auto,auto);
    border: none;
    box-shadow: none;
    max-width: 170px;
    margin: 0 10px 0 0;
    img{max-width:100%}
  }
}
