{% extends 'base.html' %}

{% load staticfiles i18n common_tags %}

{% block js_params %}
    <script type="application/javascript">var pageType = "coffee-constructor", maxIngredientsMessage = '{% trans 'Lubatud maksimaalselt 3 lisandit!' %}',maxIngredientsInProduct = '{% trans 'Maximum ingredients in one product reached. It can be less or equal to' %}';</script>
{% endblock %}

{% block page-class %}class="coffee-page"{% endblock %}

{% block menu %}{% include 'includes/menu.html' with coffee_active=True %}{% endblock %}

{% block html_includes %}{{ block.super }}{% include 'includes/bought-popup.html' with back_url='coffee:index-page' %}{% endblock %}

{% block content %}
    <div class="sidebar">
        <div class="panel">
            <div class="product-face clear" data-base-id="{{ coffee.id }}" data-image="{{ coffee.image.url }}" data-title="{{ coffee.title }}" data-price="{% if request.GET.weight == '300' %}{{ coffee.price_300|to_float }}{% else %}{{ coffee.price_150|to_float }}{% endif %}" data-weight="{% if request.GET.weight == '300' %}300{% else %}150{% endif %}" data-energy="{{ coffee.energy_value }}" data-fats="{{ coffee.fats }}" data-carbohydrates="{{ coffee.carbohydrates }}">
                <p>{{ coffee.title }}</p>
                <span>150 g</span>
            </div>
            <div class="product-img clear">
                <p>{% trans 'Lisad' %}:<br /><a class="start-again" href="{% url 'coffee:index-page' %}"><span>X </span>{% trans 'Alustan uuesti' %}</a></p>
                <div class="img">
                    <img src="{{ coffee.image.url }}" alt="{{ coffee.title }}" />
                </div>
            </div>
            <div class="constructor clear">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="price-block">
                <div class="clear">
                    <p>{% trans 'Kokku' %}: <span>15.40</span><em>€</em></p>
                </div>
                <a class="btn large to-basket" href="javascript:void(0);">{% trans 'Ostukorvi' %}</a>
                <div class="energy">
                    <b>{% trans '100g' %} {{ coffee.title }}:</b>
                    <p>{% trans 'energy value'|capfirst %}: <span>400</span>{% trans 'kcl' %}</p>
                    <p>{% trans 'carbohydrates'|capfirst %}: <span>50</span>{% trans 'g' %}</p>
                    <p>{% trans 'fats'|capfirst %}: <span>30</span>{% trans 'g' %}</p>
                    {#					<p><span>50</span>% GDA</p>        #}
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="breadcrumbs product-index assembly clear">
            <div><a class="help-type" href="{% url 'coffee:index-page' %}">1. {% trans 'Kohvi tugevus' %}</a></div>
            <div><a class="help-ingredients active">2. {% trans 'Maitsed' %}</a></div>
            <div><a class="help-delivery">3. {% trans 'Ostukorv' %}</a></div>
        </div>
        <div class="notification">
            {% for notification in notifications %}
                <div class="yellow"{% if forloop.counter > 1 %} style="display: none;"{% endif %}>
                    <i class="close"></i>
                    <p>{{ notification.message|capfirst }}</p>
                </div>
            {% endfor %}
        </div>
        <div class="product-tabs">
            <div class="tabs">
                <ul>
                {% for group in groups %}
                    <li><a href="#coffee-{{ forloop.counter }}">{{ group.title|capfirst }}</a></li>
                {% endfor %}
                </ul>
                {% for group in groups %}
                    <div id="coffee-{{ forloop.counter }}">
                        <ul class="list-product ingredients clear">
                            {% for ingredient in group.ingredients %}
                                <li data-id="{{ ingredient.id }}" data-title="{{ ingredient.title }}" data-price="{% if request.GET.weight == '300' %}{{ ingredient.price_300|to_float }}{% else %}{{ ingredient.price_150|to_float }}{% endif %}" data-weight="{% if request.GET.weight == '300' %}{{ ingredient.weight_300|to_float }}{% else %}{{ ingredient.weight_150|to_float }}{% endif %}" title="{{ ingredient.description }}" data-imgurl="{{ ingredient.image.url }}" data-energy="{{ ingredient.energy_value }}" data-carbohydrates="{{ ingredient.carbohydrates }}" data-fats="{{ ingredient.fats }}">
                                    <img src="{{ ingredient.image.url }}" alt="{{ ingredient.title|title }}"/>
                                    <div class="inform">
                                        <p>{{ ingredient.title|title }}</p>
                                        <span><i>{% if request.GET.weight == '300' %}{{ ingredient.weight_300 }}{% else %}{{ ingredient.weight_150 }}{% endif %}</i> {% trans 'grammi' %}</span>
                                        <span><i>{% if request.GET.weight == '300' %}{{ ingredient.price_300 }}{% else %}{{ ingredient.price_150 }}{% endif %}</i> {% trans 'senti' %}</span>
                                    </div>
                                    <div class="btns">
                                        <i class="minus">-</i>
                                        <i class="plus">+</i>
                                        <span>x1</span>
                                    </div>
                                    <i class="add-product">{% trans 'Lisa' %}</i>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="seo-base uncolumned">
	        {{ coffee.seo_text|safe }}
        </div>
    </div>
{% endblock %}
