{% extends 'base.html' %}

{% load i18n common_tags %}

{% block js_params %}
    <script type="application/javascript">var pageType = "coffee-index";</script>
{% endblock %}

{% block page-class %}class="coffee-page"{% endblock %}

{% block menu %}{% include 'includes/menu.html' with coffee_active=True %}{% endblock %}

{% block html_includes %}{% include 'includes/bought-popup.html' %}{% endblock %}

{% block content %}
    <div class="top-panel clear">
        <div class="welcome-text left">
            <p>{% trans 'Valmista kohvi' %}</p>
            <span>{% trans 'Alusta siit' %}</span>
        </div>
        <div class="breadcrumbs product-index right">
            <div>
                <a class="help-type active">1. {% trans 'Röst ja kogus' %}</a>
                <p>{% trans '150 või 300 grammi' %}</p>
            </div>
            <div>
                <a class="help-ingredients">2. {% trans 'Lisandid' %}</a>
                <p>{% trans 'Valikus üle 150-ne lisandi' %}</p>
            </div>
            <div>
                <a class="help-delivery" href="#">3. {% trans 'Ostukorv' %}</a>
                <p>{% trans 'Maksmine ja kohaletoomine' %}</p>
            </div>
        </div>
    </div>
    <div class="weight-panel clear">
        <div class="left">
            <p>{% trans 'Vali kogus' %}:</p>
            <ul class="radio left">
                <li>
                    <input id="weight-150" name="weight" type="radio" checked />
                    <label for="weight-150">{% trans '150 grammi' %}</label>
                </li>
                <li>
                    <input id="weight-300" name="weight" type="radio" />
                    <label for="weight-300">{% trans '300 grammi' %}</label>
                </li>
            </ul>
        </div>
        <div class="left">
            <p>{% trans 'Vali oad' %}:</p>
            <ul class="radio left">
                <li>
                    <input id="ground" name="grist" type="radio" checked />
                    <label for="ground">{% trans 'jahvatatud' %}</label>
                </li>
                <li>
                    <input id="beans" name="grist" type="radio" />
                    <label for="beans">{% trans 'ubadena' %}</label>
                </li>
            </ul>
        </div>
    </div>
    <div class="content-product">
        <p>{% trans 'Vali põhi' %}:</p>
        <div class="clear">
            {% for cf in coffee %}
                <div data-150="{{ cf.price_150|to_float }}" data-300="{{ cf.price_300|to_float }}">
                    <a href="{% url 'coffee:constructor-page' cf.slug %}" class="img">
                        <img src="{{ cf.image.url }}" alt="{{ cf.title|safe }}" />
                    </a>
                    <p>{{ cf.title|safe }}</p>
                    <a class="btn arrowed" href="{% url 'coffee:constructor-page' cf.slug %}">{% trans 'Vali' %}</a>
                    <span><em>{{ cf.price_150 }}</em> €</span>
                    <div class="description">
                        <div><img src="{{ cf.small_image.url }}" alt="" /></div>
                        <i>{{ cf.description|safe }}</i>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{#        {% include 'includes/slider.html' with recommendations=recommendations product_type="coffee" edit_recommendation="coffee:constructor-page" only %}#}
    <div class="seo-base">
	    {{ seo_text.text|safe }}
    </div>
{% endblock %}
