{% extends 'base.html' %}

{% load i18n solo_tags %}
{% get_solo 'common.AvailabilityConfiguration' as availability_configuration %}

{% block js_params %}
	<script type="application/javascript">var pageType = "basket-index",lisandid = '{% trans 'Lisandid' %}',vali = '{% trans 'Vali teema pakend' %}',muuda = '{% trans 'Muuda' %}',lisaPackendile = '{% trans 'Lisa pakendile sõnum' %}';</script>
{% endblock %}

{% block page-class %}class="basket-page empty"{% endblock %}

{% block menu %}{% include 'includes/menu.html' with basket_active=True %}{% endblock %}

{% block content %}
	<div class="top-panel clear">
		<div class="welcome-text left">
			<p>{% trans 'Ostukorv' %}</p>
		</div>
		<div class="breadcrumbs product-index right">
			<div>
				<a class="help-overview active">1. {% trans 'Ülevaade' %}</a>
			</div>
			<div>
				<a class="help-validation">2. {% trans 'Kinnitamine' %}</a>
			</div>
			<div>
				<a class="help-pay">3. {% trans 'Maksmine' %}</a>
			</div>
		</div>
	</div>
	<div id="cart-product" class="fluid-content clear"></div>
	<div id="templates" style="display: none;">
		<div id="chocolate-package">
			<div class="package clear" id="">
				<p class="title">{% trans 'Vali teema pakend' %}:</p>
				<select name="speed" class="package-select">
					{% for package in chocolate_packages %}
						<option value="{{ package.id }}">{{ package.title|upper }}</option>
					{% endfor %}
				</select>
			</div>
		</div>
		<div id="coffee-package">
			<div class="package clear">
				<p class="title">{% trans 'Vali teema pakend' %}:</p>
				<select name="speed" class="package-select">
					{% for package in coffee_packages %}
						<option value="{{ package.id }}">{{ package.title|upper }}</option>
					{% endfor %}
				</select>
			</div>
		</div>
		<div id="muesli-package">
			<div class="package clear">
				<p class="title">{% trans 'Vali teema pakend' %}:</p>
				<select name="speed" class="package-select">
					{% for package in muesli_packages %}
						<option value="{{ package.id }}">{{ package.title|upper }}</option>
					{% endfor %}
				</select>
			</div>
		</div>
		<div id="cake-package">
			<div class="package clear">
				<p class="title">{% trans 'Vali teema pakend' %}:</p>
				<select name="speed" class="package-select">
					{% for package in cake_packages %}
						<option value="{{ package.id }}">{{ package.title|upper }}</option>
					{% endfor %}
				</select>
			</div>
		</div>
		<div id="macarons-package">
			<div class="package clear">
				<p class="title">{% trans 'Vali teema pakend' %}:</p>
				<select name="speed" class="package-select">
					{% for package in macarons_packages %}
						<option value="{{ package.id }}">{{ package.title|upper }}</option>
					{% endfor %}
				</select>
			</div>
		</div>
		<div class="empty-basket">
			<h2>{% trans 'Ostukorv on veel tühi!' %}</h2>
			<p class="decor-arrow">{% trans 'Valmista ise ja lisa ostukorvi' %}</p>
			<div class="wrapper">
				{% if availability_configuration.chocolate_is_available %}<a href="{% url 'choco:index-page' %}" class="btn chocolate">{% trans 'Šokolaadid' %}</a>{% endif %}
				{% if availability_configuration.muesli_is_available %}<a href="{% url 'muesli:index-page' %}" class="btn muesli">{% trans 'Müsli' %}</a>{% endif %}
				{% if availability_configuration.macarons_is_available %}<a href="{% url 'macarons:constructor-page' %}" class="btn macarons">{% trans 'Makroonid' %}</a>{% endif %}
				{% if availability_configuration.cakes_is_available %}<a href="{% url 'cakes:index-page' %}" class="btn cake">{% trans 'Tordid' %}</a>{% endif %}
				{% if availability_configuration.coffee_is_available %}<a href="{% url 'coffee:index-page' %}" class="btn coffee">{% trans 'Kohvi' %}</a>{% endif %}
			</div>
		</div>
		<div class="basket-total">
			<div class="cart-total-price right">
				<p class="price">{% trans 'Kokku' %}: <span>0</span>€</p>
				<p class="weight">{% trans 'Kaal' %}: <span>0</span> {% trans 'kg' %}</p>
				<a class="btn large to-basket" href="{% url 'basket:order-page' %}">{% trans 'Edasi' %}</a>
				<a class="link" href="{% url 'index-page' %}">{% trans 'Tagasi poodi' %}</a>
			</div>
		</div>
		<div class="shape">
			<div class="clear shape-preview">
				<p class="title">{% trans 'Kuju pealdised' %}:</p>
				<i class="shape-preview-icon">&nbsp;</i>
				<a href="" class="left">{% trans 'Muuda' %}</a>
			</div>
		</div>
		<div class="change-package-text">
			<div class="change-package-title">
				<a href="javascript:void(0);" class="close"></a>
				<div class="wrapper">
					<input type="text" placeholder="{% trans '“MeGusto” (kuni 20 tähemärki)' %}" maxlength="20">
					<button>&nbsp;</button>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
