{% extends 'base.html' %}

{% load static i18n %}

{% block page-class %}class="basket-page do-not-touch"{% endblock %}

{% block menu %}{% include 'includes/menu.html' with basket_active=True %}{% endblock %}

{% block content %}
    <div class="top-panel clear">
        <div class="welcome-text left">
            <p>OSTUKORV</p>
        </div>
        <div class="breadcrumbs product-index right">
            <div>
                <a class="help-overview active" href="#">1. ÜLEVAADE</a>
            </div>
            <div>
                <a class="help-validation" href="#">2. KINNITAMINE</a>
            </div>
            <div>
                <a class="help-pay" href="#">3.MAKSMINE</a>
            </div>
        </div>
    </div>
    <div class="clear">
    <div class="product-list left">
    <div class="cart-elem chocolate">
        <div class="main">
            <div class="img"><img src="//mecusto.dev.4-com.pro/uploads/chocolate/choco-2.png" alt="" /></div>
            <div class="basket-content">
                <p class="product-title">Tume Šokolaad <span>100g</span></p>
                <div class="additions clear">
                    <p class="title">Lisandid:</p>
                    <ul>
                        <li>Mustikad</li>
                        <li>Vaarikad</li>
                        <li>Vaarikad</li>
                        <li>Martsipan</li>
                        <li>Jõhvikad</li>
                    </ul>
                    <a class="left">Muuda</a>
                </div>
                <div class="clear shape-preview rect"> {# rect,star,heart,circle #}
                    <p class="title">Kuju pealdised:</p>
                    <i class="shape-preview-icon"> </i>
                </div>
                <div class="package">
                    <p class="title">Vali teema pakend:</p>
                    <select name="speed" class="package-select">
                        <option selected="selected">LASTE</option>
                        <option>ROMANTILINE</option>
                        <option>MEHINE</option>
                        <option>JALGPALLI MM</option>
                    </select>
                </div>
                <div class="package-title">
                    <a href="#">Lisa pakendile sõnum</a>
                    <div class="change-package-title">
                        <a href="#" class="close"></a>
                        <div class="wrapper">
                            <input type="text" placeholder="“MeGusto” (kuni 20 tähemärki)"/>
                            <button>&nbsp;</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="basket-price">
                <div class="count clear">
                    <span>-</span>
                    <p>2</p>
                    <span>+</span>
                </div>
                <div class="price">
                    <span>12.20</span>€
                </div>
            </div>
        </div>
        <div class="bonuses">
            <p>Telli veel <span>2</span>, saad ühe kingituseks</p>
            <a class="btn black" href="javascript:void(0)">Lisan</a>
        </div>
        <a class="close" href="#"></a>
    </div>
    <div class="cart-elem coffee">
        <div class="main">
            <div class="img"><img src="{% static 'img/products/coffee/5.jpg' %}" alt="" /></div>
            <div class="basket-content">
                <p class="product-title">Tume Coffee <span>Ubadena</span></p>
                <div class="additions clear">
                    <p class="title">Lisandid:</p>
                    <ul>
                        <li>Mustikad</li>
                        <li>Vaarikad</li>
                        <li>Vaarikad</li>
                        <li>Martsipan</li>
                        <li>Jõhvikad</li>
                    </ul>
                    <a class="left">Muuda</a>
                </div>
                <div class="package">
                    <p class="title">Vali teema pakend:</p>
                    <select name="speed" class="package-select">
                        <option selected="selected">LASTE</option>
                        <option>ROMANTILINE</option>
                        <option>MEHINE</option>
                        <option>JALGPALLI MM</option>
                    </select>
                </div>
            </div>
            <div class="basket-price">
                <div class="count clear">
                    <span>-</span>
                    <p>2</p>
                    <span>+</span>
                </div>
                <div class="price">
                    <span>12.20</span>€
                </div>
            </div>
        </div>
        <div class="bonuses">
            <p>Telli veel <span>2</span>, saad ühe kingituseks</p>
            <a class="btn black" href="javascript:void(0)">Lisan</a>
        </div>
        <a class="close" href="#"></a>
    </div>
    <div class="cart-elem macarons">
        <div class="main">
            <div class="img"><img src="{% static 'img/products/coffee/6.jpg' %}" alt="" /></div>
            <div class="basket-content">
                <p class="product-title">Macarons Negro <span>7pc</span></p>
                <div class="additions clear">
                    <p class="title">Lisandid:</p>
                    <ul>
                        <li>Mustikad</li>
                        <li>Vaarikad</li>
                        <li>Vaarikad</li>
                        <li>Martsipan</li>
                        <li>Jõhvikad</li>
                    </ul>
                    <a class="left">Muuda</a>
                </div>
                <div class="package">
                    <p class="title">Vali teema pakend:</p>
                    <select name="speed" class="package-select">
                        <option selected="selected">LASTE</option>
                        <option>ROMANTILINE</option>
                        <option>MEHINE</option>
                        <option>JALGPALLI MM</option>
                    </select>
                </div>
            </div>
            <div class="basket-price">
                <div class="count clear">
                    <span>-</span>
                    <p>2</p>
                    <span>+</span>
                </div>
                <div class="price">
                    <span>12.20</span>€
                </div>
            </div>
        </div>
        <div class="bonuses">
            <p>Telli veel <span>2</span>, saad ühe kingituseks</p>
            <a class="btn black" href="javascript:void(0)">Lisan</a>
        </div>
        <a class="close" href="#"></a>
    </div>
    <div class="cart-elem muesli">
        <div class="main">
            <div class="img"><img src="{% static 'img/products/coffee/5.jpg' %}" alt="" /></div>
            <div class="basket-content">
                <p class="product-title">Yammi muesli <span>500g</span></p>
                <div class="additions clear">
                    <p class="title">Lisandid:</p>
                    <ul>
                        <li>Mustikad</li>
                        <li>Vaarikad</li>
                        <li>Vaarikad</li>
                        <li>Martsipan</li>
                        <li>Jõhvikad</li>
                    </ul>
                    <a class="left">Muuda</a>
                </div>
                <div class="package">
                    <p class="title">Vali teema pakend:</p>
                    <select name="speed" class="package-select">
                        <option selected="selected">LASTE</option>
                        <option>ROMANTILINE</option>
                        <option>MEHINE</option>
                        <option>JALGPALLI MM</option>
                    </select>
                </div>
            </div>
            <div class="basket-price">
                <div class="count clear">
                    <span>-</span>
                    <p>2</p>
                    <span>+</span>
                </div>
                <div class="price">
                    <span>12.20</span>€
                </div>
            </div>
        </div>
        <div class="bonuses">
            <p>Telli veel <span>2</span>, saad ühe kingituseks</p>
            <a class="btn black" href="javascript:void(0)">Lisan</a>
        </div>
        <a class="close" href="#"></a>
    </div>
    <div class="cart-elem cake">
        <div class="main">
            <div class="img"><img src="{% static 'img/products/cake/1.jpg' %}" alt="" /></div>
            <div class="basket-content">
                <p class="product-title">Tiramisu <span>1kg</span></p>
                <div class="additions clear">
                    <p class="title">Lisandid:</p>
                    <ul>
                        <li>Mustikad</li>
                        <li>Vaarikad</li>
                        <li>Vaarikad</li>
                        <li>Martsipan</li>
                        <li>Jõhvikad</li>
                    </ul>
                    <a class="left">Muuda</a>
                </div>
                <div class="clear shape-preview star"> {# rect,star,heart,circle #}
                    <p class="title">Kuju pealdised:</p>
                    <i class="shape-preview-icon"> </i>
                </div>
                <div class="package">
                    <p class="title">Vali teema pakend:</p>
                    <select name="speed" class="package-select">
                        <option selected="selected">LASTE</option>
                        <option>ROMANTILINE</option>
                        <option>MEHINE</option>
                        <option>JALGPALLI MM</option>
                    </select>
                </div>
                <div class="package-title">
                    <a href="#">Lisa pakendile sõnum</a>
                </div>
            </div>
            <div class="basket-price">
                <div class="count clear">
                    <span>-</span>
                    <p>2</p>
                    <span>+</span>
                </div>
                <div class="price">
                    <span>12.20</span>€
                </div>
            </div>
        </div>
        <a class="close" href="#"></a>
    </div>
    <div class="cart-bonuses-block">
        <p class="title">SINU BOONUS</p>
        <div class="wrapper">
            <div class="row clear">
                <p class="count left">2</p>
                <p class="name left">Sokolaad:</p>
                <div class="select-price left">
                    <ul class="radio left">
                        <li>
                            <input id="price-choco-1" name="price-choco-1" type="radio" checked>
                            <label for="price-choco-1">KINGIN HEATEGEVUSEKS <i title="Little preview"></i></label>
                        </li>
                        <li>
                            <input id="price-choco-2" name="price-choco-1" type="radio">
                            <label for="price-choco-2">Soovin endale <i title="Little preview"></i></label>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row clear">
                <p class="count left">2</p>
                <p class="name left">MaKROONID:</p>
                <div class="select-price left">
                    <ul class="radio left">
                        <li>
                            <input id="price-macarons-1" name="price-macarons-1" type="radio" checked>
                            <label for="price-macarons-1">KINGIN HEATEGEVUSEKS <i title="Little preview"></i></label>
                        </li>
                        <li>
                            <input id="price-macarons-2" name="price-macarons-1" type="radio">
                            <label for="price-macarons-2">Soovin endale <i title="Little preview"></i></label>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row clear">
                <p class="count left">2</p>
                <p class="name left">KOHV:</p>
                <div class="select-price left">
                    <ul class="radio left">
                        <li>
                            <input id="price-coffee-1" name="price-coffee-1" type="radio" checked>
                            <label for="price-coffee-1">KINGIN HEATEGEVUSEKS <i title="Little preview"></i></label>
                        </li>
                        <li>
                            <input id="price-coffee-2" name="price-coffee-1" type="radio">
                            <label for="price-coffee-2">Soovin endale <i title="Little preview"></i></label>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="total-bonuses">
            <div class="wrapper clear">
                <div>
                    <p>Heategevus porjekt:</p>
                    <p><a href="#">“Magus jalgpall”</a></p>
                </div>
                <div>
                    <p>Annetatud on:</p>
                    <p>20 tahvlit shokolaadi, 11 pakki müslit, 3 pakki kohvi, 49 makrooni, 2 torti</p>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="cart-total-price right">
        <p class="price">KOKKU: <span>109</span>€</p>
        <p class="weight">KAAL: <span>3,1</span> kg</p>
        <a class="btn large to-basket yellow" href="javascript:void(0)">EDASI</a>
        <a class="link" href="javascript:void(0)">Tagasi poodi</a>
    </div>
    </div>
    <script type="text/javascript">
        $(function() {
            $('.package-select').selectmenu({
                width: 128
            });
        });
    </script>
{% endblock %}
