{% extends 'base.html' %}

{% load staticfiles i18n common_tags %}

{% block js_params %}
    <script type="application/javascript">var pageType = "basket-order",basketURL = "{% url 'basket:basket-page' %}",saveOrderURL = "{% url 'api-v1:basket:save-order' %}",basketIsEmptyMessage = "{% trans 'You cannot order while your basket is empty' %}";</script>
{% endblock %}

{% block page-class %}class="basket-page order"{% endblock %}

{% block menu %}{% include 'includes/menu.html' with basket_active=True %}{% endblock %}

{% block content %}
    <div class="top-panel clear">
        <div class="welcome-text left">
            <p>{% trans 'Ostukorv' %}</p>
        </div>
        <div class="breadcrumbs product-index right">
            <div>
                <a class="help-overview" href="{% url 'basket:basket-page' %}">1. {% trans 'Ülevaade' %}</a>
            </div>
            <div>
                <a class="help-validation active">2. {% trans 'Kinnitamine' %}</a>
            </div>
            <div>
                <a class="help-pay">3. {% trans 'Maksmine' %}</a>
            </div>
        </div>
    </div>
    <div class="order-form">
        <form class="clear" method="post">
            <div class="contact-info">
                <h3>{% trans 'Kontakt andmed' %}</h3>
                <div class="notification"></div>
                <div class="top clear">
                    {# TODO: add class error to div #}
                    <div><label for="name">{% trans 'Nimi' %}*</label><input type="text" id="first_name" name="first_name" placeholder="{% trans 'Eesnimi' %}"/></div>
                    <div><label for="phone">{% trans 'Telefon' %}*</label><input type="text" id="phone" name="phone" placeholder="55 555 555"/></div>
                    <div><label for="surname">{% trans 'Perekonnanimi' %}*</label><input type="text" id="last_name" name="last_name" placeholder="{% trans 'Perekonnanimi' %}"/></div>
                    <div><label for="email">email*</label><input type="email" id="email" name="email" placeholder="mail@gmail.com"/></div>
                </div>
                <div class="payment-method clear">
                    <h3>{% trans 'Maksmis viis' %}</h3>
                    <ul>
                        <li class="unactive">
                            <input id="seb" name="payment_method" type="radio">
                            <label for="seb"><img src="{% static 'css/images/payment/seb.png' %}" alt=""/></label>
                        </li>
                        <li class="unactive">
                            <input id="swedbank" name="payment_method" type="radio">
                            <label for="swedbank"><img src="{% static 'css/images/payment/swedbank.png' %}" alt=""/></label>
                        </li>
                        <li class="unactive">
                            <input id="danskebank" name="payment_method" type="radio">
                            <label for="danskebank"><img src="{% static 'css/images/payment/danksebank.png' %}" alt=""/></label>
                        </li>
                        <li class="unactive">
                            <input id="nordea" name="payment_method" type="radio">
                            <label for="nordea"><img src="{% static 'css/images/payment/nordea.png' %}" alt=""/></label>
                        </li>
                        <li class="unactive">
                            <input id="lhvbank" name="payment_method" type="radio">
                            <label for="lhvbank"><img src="{% static 'css/images/payment/lhvbank.png' %}" alt=""/></label>
                        </li>
                        <li class="text">
                            <input id="arvega" name="payment_method" type="radio" value="1">
                            <label for="arvega">{% trans 'Arvega' %}</label>
                        </li>
                        <li class="text">
                            <input id="sularahas" name="payment_method" type="radio" checked="checked" value="0">
                            <label for="sularahas">{% trans 'Sularahas kullerile' %}</label>
                        </li>
                    </ul>
                </div>
                <div class="clear">
                    <div class="transport-block">
                        <h3>{% trans 'Transport' %} <span>5</span>€</h3>
                        <p>{% trans 'TASUTA - 35 eurot Harjumaa piires.<br> 3 € - alates kahe toote kohaletoomine üle Eesti. <br>4€ - ühe toote kohaletoomine Tallinna piires.' %}</p>
                    </div>
                    <div class="newsletter">
                        <h3>{% trans 'Uudiskiri' %}</h3>
                        <div class="radio">
                            <input id="get-newsletter" name="newsletter" type="checkbox" checked="checked">
                            <label for="get-newsletter">{% trans "Soovin parimaid pakkumisi ja värsket infot MeGusto'lt" %}</label>
                        </div>
                    </div>
                </div>
                {% comment %}				<div class="promocode">
					<div class="wrapper clear">
						<label for="promocode" class="title">{% trans 'Sisesta siia promokood' %}:</label>
						<input type="text" id="promo_code" name="promo_code"/>
						<a href="javascript:void(0);" class="btn white right">{% trans 'kontrolli' %}</a>
					</div>
				</div>
				<p>{% trans 'Promokoodi saad kaasa tellitud tootega. Otsi koodi ka kodulehelt!' %}</p>{% endcomment %}
                <div class="total-info clear"></div>
            </div>
            <div class="delivery-info">
                <div class="delivery">
                    <h3>{% trans 'Kohtaletoomine' %}</h3>
                    <div class="datepicker-wrap">
                        <label for="date">{% trans 'Kohaletoomise aeg' %}*</label><input type="text" id="date" name="date" class="datepicker" placeholder="17.06.2014" required="required"/>
                    </div>
                    <div>
                        <label for="time">{% trans 'kell' %}*</label>
                        <select name="time" class="package-select big">
                            {% for index, range in time_range %}
                                <option value="{{ index }}"{% if forloop.first %} selected="selected"{% endif %}>{{ range }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div>
                        <label for="city">{% trans 'Linn' %}*</label>
                        <select name="city" class="package-select big">
                            {% for city in cities %}
                                <option data-price="{{ city.delivery_price|to_float }}" value="{{ city.id }}"{% if forloop.first %} selected="selected"{% endif %}>{{ city.title }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="feedback">
                    <div>
                        <label for="address">{% trans 'Tänav ja maja/korteri number' %}*</label>
                        <textarea name="address" id="address" required="required" placeholder="{% trans 'Tänava nimetus ja maja number, ära korteri numbrit ja postiindeksit unusta.' %}"></textarea>
                    </div>
                    <div>
                        <label for="comment">{% trans 'Kommentar' %}</label>
                        <textarea name="comment" id="comment" placeholder="{% trans 'Kuri koer on õues? Olete ratastoolis? Tahate, et paneksime toote postkasti? Fonotelefon ei tööta? Anne meile sellest kindlasti märku.' %}"></textarea>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div id="templates" style="display: none;">
        <div class="total">
            <div class="first left">
                <p class="tooted">{% trans 'Tooted' %}: <span>0</span>€</p>
                <p class="transport">{% trans 'Transport' %}: <span>0</span>€</p>
            </div>
            <div class="left">
                <p class="in-total">{% trans 'Kokku' %}: <span>0</span>€</p>
                <p class="calories">{% trans 'Kaal' %}: <span>0</span> {% trans 'kg' %}</p>
            </div>
            <button type="submit" class="btn large confirm black right">{% trans 'Kinnita' %}</button>
        </div>
    </div>
{% endblock %}

{% block js %}
    {{ block.super }}
	{% get_current_language as lang %}
	{% if lang == 'ru' %}
    <script type="text/javascript" src="{% static 'js/vendor/datepicker-ru.js' %}"></script>
	{% else %}
    <script type="text/javascript" src="{% static 'js/vendor/datepicker-et.js' %}"></script>
	{% endif %}
    <script type="text/javascript">
        $(function() {
            var $packageSelect = $('.package-select');
            $packageSelect.selectmenu({
                width: 128
            });
            $packageSelect.filter('.big').each(function() {
                var $that = $(this).parent();
                $(this).selectmenu("option", "appendTo", $that);
            });
            $('.datepicker').datepicker({
                altFormat: "dd.mm.yy",
                dateFormat: "dd.mm.yy",
                minDate: "{{ min_date }}",
                maxDate: "+1m"
            });
            $(".datepicker").datepicker($.datepicker.regional['et']);
            $('.ui-datepicker').wrap('<div class="custom-datepicker"></div>');
        });
    </script>
{% endblock %}
