{% extends 'base.html' %}

{% load static i18n %}

{% block page-class %}class="basket-page success"{% endblock %}

{% block js_params %}
	<script type="application/javascript">var pageType = "basket-success";</script>
{% endblock %}

{% block menu %}{% include 'includes/menu.html' with basket_active=True %}{% endblock %}

{% block content %}
	<div class="top-panel clear">
		<div class="welcome-text left">
			<p>{% trans 'Ostukorv' %}</p>
		</div>
		<div class="breadcrumbs product-index right">
			<div><a class="help-overview">1. {% trans 'Ülevaade' %}</a></div>
			<div><a class="help-validation">2. {% trans 'Kinnitamine' %}</a></div>
			<div><a class="help-pay active">3. {% trans 'Maksmine' %}</a></div>
		</div>
	</div>
	<div>
		<div class="fluid-content">
			<div class="thanks">
				<p class="vt-center"><span>{% trans 'Täname' %}!</span></p>
				<p class="vt-center sec">
                    <span>
                        {% trans 'Arve saatsime sinu e-mailile' %} <i>{{ order.email|lower }}</i>
                        <br/>
                        {% trans 'Sinu tellimus juba täitmisel' %} :)
                    </span>
				</p>
			</div>
			<div class="user-info">
				<div class="body">
					<p class="title">{% trans 'Tellija andmed' %}:</p>
					<p>{% trans 'Tellimuse number' %}: <span>{{ order.id }}</span></p>
					<p>{% trans 'Kuupäev' %}: <span>{{ order.order_date|date:'d.m.Y' }}</span></p>
					<p>{% trans 'Telefoni number' %}: <span>{{ order.phone }}</span></p>
					<p>{% trans 'Kohaletoomise aeg' %}: <span>{{ order.delivery_date|date:'d E' }}, {{ order.get_delivery_time_display }}</span></p>
					<p>Email: <span>{{ order.email|lower }}</span></p>
					<p>{% trans 'Kohaletoomise aadress' %}: <span>{{ order.address }}</span></p>
					<p>{% trans 'Nimi ja perekonnanimi' %}: <span>{{ order.get_customer_full_name|title }}</span></p>
					{% if order.customer_comment %}<p>{% trans 'Teie kommentaarid' %}: <br/><span>{{ order.customer_comment }}</span></p>{% endif %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
