{% extends 'base.html' %}

{% load staticfiles i18n solo_tags common_tags %}

{% block js_params %}
	<script type="application/javascript">var pageType = "macarons-constructor", maxIngredientsMessage = '{% trans 'Lubatud maksimaalselt 7 lisandit!' %}',maxIngredientsInProduct = '{% trans 'Maximum ingredients in one product reached. It can be less or equal to' %}';</script>
{% endblock %}

{% block page-class %}class="macarons-page"{% endblock %}

{% block menu %}{% include 'includes/menu.html' with macarons_active=True %}{% endblock %}

{% block html_includes %}{{ block.super }}{% include 'includes/bought-popup.html' with back_url='macarons:constructor-page' %}{% endblock %}

{% block content %}
	<div class="sidebar">
		<div class="panel">
			<div class="product-face clear" data-base-id="0" data-image="{% static 'img/content/packend-3.jpg' %}" data-title="Macarons" data-price="{{ macarons_conf.price|to_float }}" data-weight="{{ macarons_conf.weight|to_float }}" data-energy="0" data-fats="0">
				<p>{% trans 'Makroonid' %}</p>
				<span>7 {% trans 'tk' %}</span>
			</div>
{#            <p><a class="start-again" href="{% url 'macarons:constructor-page' %}"><span>X </span>{% trans 'Alustan uuesti' %}</a></p>#}
			<div class="constructor">
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
			</div>
			<div class="price-block">
				<div class="clear">
					<p>{% trans 'Kokku' %}: <span>0</span><em>€</em></p>
				</div>
				<a class="btn large to-basket">{% trans 'Ostukorvi' %}</a>
				<div class="energy">
					<b>{% trans 'Ühes makroonis ligi kaudu' %}:</b>
					<p>{% trans 'energy value'|capfirst %}: <span>0</span>{% trans 'kcl' %}</p>
					<p>{% trans 'carbohydrates'|capfirst %}: <span>0</span>{% trans 'g' %}</p>
					<p>{% trans 'fats'|capfirst %}: <span>0</span>{% trans 'g' %}</p>
					{#					<p><span>50</span>% GDA</p>    FUCK THIS SHIT!!1     #}
				</div>
			</div>
		</div>
	</div>
	<div class="content">
	<div class="breadcrumbs product-index assembly clear">
		<div><a class="help-type active">1. {% trans 'Vali makroonid' %}</a></div>
		<div><a class="help-delivery">2. {% trans 'Ostukorv' %}</a></div>
	</div>
	<div class="notification">
	{% for notification in notifications %}
		<div class="yellow"{% if forloop.counter > 1 %} style="display: none;"{% endif %}>
			<i class="close"></i>
			<p>{{ notification.message|capfirst }}</p>
		</div>
	{% endfor %}
	</div>
	<div class="product-tabs">
	<div class="tabs">
	<ul>
		{% for group in groups %}
		<li><a href="#macarons-{{ forloop.counter }}">{{ group.title|capfirst }}</a></li>
		{% endfor %}
	</ul>
	{% for group in groups %}
	<div id="macarons-{{ forloop.counter }}">
		<ul class="list-product ingredients clear">
			{% for ingredient in group.ingredients %}
				<li data-id="{{ ingredient.id }}" data-title="{{ ingredient.title }}" data-price="0" data-weight="0" title="{{ ingredient.description }}" data-imgurl="#{{ ingredient.color }}" data-energy="{{ ingredient.energy_value }}" data-carbohydrates="{{ ingredient.carbohydrates }}" data-fats="{{ ingredient.fats }}">
					<img src="{{ ingredient.image.url }}" alt="{{ ingredient.title|title }}"/>
					<div class="inform">
						<p>{{ ingredient.title|title }}</p>
					</div>
					<div class="btns">
						<i class="minus">-</i>
						<i class="plus">+</i>
						<span>x1</span>
					</div>
					<i class="add-product">{% trans 'Lisa' %}</i>
				</li>
			{% endfor %}
		</ul>
	</div>
	{% endfor %}
	</div>
	</div>
	<div class="seo-base uncolumned">
		<img src="{% static "img/macaron-tower.png" %}" alt=""/>
		{{ seo_text.text|safe }}
	</div>
	</div>
{% endblock %}
