{% load staticfiles i18n %}
{% get_current_language as lang %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="{{ lang }}">
<head>
	<title></title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=320, target-densitydpi=device-dpi">
	<style type="text/css">
		/* Mobile-specific Styles */
		@media only screen and (max-width: 660px) {
			table[class=w735], td[class=w735], img[class=w735] { width:300px !important; }
			img { height: auto; line-height: 100%;}
		}
		/* Client-specific Styles */
		#outlook a { padding: 0; }	/* Force Outlook to provide a "view in browser" button. */
		body { width: 100% !important; }
		/* Reset Styles */
		body { background-color: #fff; margin: 0; padding: 0; }
		img { outline: none; text-decoration: none; display: block;}
		br, strong br, b br, em br, i br { line-height:100%; }
		h1, h2, h3, h4, h5, h6 { line-height: 100% !important; -webkit-font-smoothing: antialiased; }
		h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { color: blue !important; }
		h1 a:active, h2 a:active,  h3 a:active, h4 a:active, h5 a:active, h6 a:active {	color: red !important; }
		h1 a:visited, h2 a:visited,  h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited { color: purple !important; }
		table td, table tr { border-collapse: collapse; }
		p{margin: 0}
		.yshortcuts a, .yshortcuts a:link,.yshortcuts a:visited, .yshortcuts a:hover, .yshortcuts a span {color: black; text-decoration: none !important; border-bottom: none !important; background: none !important;}
		code {white-space: normal;word-break: break-all;}
		body, td { font-family: Arial, sans-serif; }
		.highlight-phone{
			color: #ffffff!important;
			border-bottom-color: #ffffff!important;
		}
	</style>
</head>
<body>
<table bgcolor="#ffffff" style="font-family: Arial, sans-serif;color: #4a4a4c;table-layout:fixed;" align="center" border="0" width="800" cellpadding="0" cellspacing="0">
	<tbody>
	<tr class="megusto-top" bgcolor="#1f1f1f">
		<td align="center" height="35">
			<table width="735" class="w735" style="margin:0 10px;" border="0" cellpadding="0" cellspacing="0">
				<tbody>
				<tr style="color: #ffffff; font-size: 14px;">
					<td align="left" valign="middle">
						<p style="margin: 0">{% trans 'Arve nr.' %} {{ order.id }}</p>
					</td>
					<td align="center" valign="middle">
						<p style="margin: 0">
							{% trans 'tel' %}: +372 56 885 880 | info@megusto.ee |
							<a href="http://megusto.ee" target="_blank" style="color: #86e7ff; text-decoration: none;">megusto.ee</a>
						</p>
					</td>
					{#                    <td align="right" valign="middle">#}
					{#                        <a href="#" style="color: #545453;">{% trans 'Ava kiri browseris' %}</a>#}
					{#                    </td>#}
				</tr>
				</tbody>
			</table>
		</td>
	</tr>
	<tr class="megusto-head">
		<td align="center" height="211" bgcolor="#3b3b3b" style="background: url(http://megusto.ee{% static 'css/images/mail/top.jpg' %}) no-repeat center top">
			<table width="735" class="w735" style="margin:0 10px;" border="0" cellpadding="0" cellspacing="0">
				<tbody>
				<tr>
					<td>
						<a href="http://megusto.ee" target="_blank"><img src="http://megusto.ee{% static 'css/images/mail/logo.png' %}" alt="Logo" /></a>
					</td>
					<td align="center">
						<p style="font-size:3em;color: #ffffff;margin:0;line-height:45px;"><b>{% trans 'Täname Teid tellimuse eest' %}!<br/>{% trans 'Olete hämmastav' %}!</b></p>
					</td>
				</tr>
				</tbody>
			</table>
		</td>
	</tr>
	<tr class="megusto-content">
		<td align="center" bgcolor="#ffffff">
			<table width="735" class="w735" style="margin:0 10px;" border="0" cellpadding="0" cellspacing="0">
				<tbody>
				<tr>
					<td>
						<p style="margin: 15px 0 20px 15px;font-size:18px;"><b>{% trans 'Tere' %}, {{ order.get_customer_full_name|title }}! </b></p>
						<p style="margin-left: 15px;font-size:14px;">{% trans 'Käesolev kiri sisaldab Teie arve nr.' %} {{ order.id }} {% trans 'kinnitust, mille teostasite MeGusto veebipoes' %}.</p>
						<p style="margin:15px 0 40px 15px;font-size:12px;">{% trans 'Kui teil tekkis kontaktandmete või kauba logistilise info sisestamisel vigu, siis palun kindlasti viivitamatult teada anda sellest vastates antud kirjale. Me võtame Teiega ühendust üks päev enne kohaletoomist.' %}</p>
					</td>
				</tr>
				<tr>
					<td bgcolor="#e3f9ff" style="padding: 20px 15px;font-size:14px;line-height: 18px;">
						<p style="margin: 0">{% trans 'Teie tellimus tuuakse kohale' %}: <b>{{ order.order_date|date:'d.m.Y' }}</b></p>
						<p style="margin: 0">{% trans 'Teie telefon helistamiseks' %}: <b>{{ order.phone }}</b></p>
						<p style="margin: 0">{% trans 'Teie e-mail' %}: <b>{{ order.email|lower }}</b></p>
						<p style="margin: 0">{% trans 'Aadress kohaletoomiseks' %}: <b>{{ order.address }}</b></p>
						{% if order.customer_comment %}<p>{% trans 'Teie kommentaarid' %}: <b>{{ order.customer_comment }}</b></p>{% endif %}
					</td>
				</tr>
				<tr>
					<td>
						<p style="margin:30px 15px 20px;color:#000000;font-size:36px;"><b>{% trans 'ARVE nr' %} {{ order.id }}:</b></p>
					</td>
				</tr>
				<tr>
					<td>
						<table width="735" class="w735" border="0" cellpadding="0" cellspacing="0" style="margin: 0 0 25px;">
							<thead>
							<tr style="font-size:18px;font-weight: 700;">
								<th align="left" style="padding: 10px;border-bottom: 1px dashed #ebebeb;">{% trans 'Nimetus' %}</th>
								<th align="right" style="padding: 10px;border-bottom: 1px dashed #ebebeb;">{% trans 'Hind' %}</th>
								<th align="right" style="padding: 10px;border-bottom: 1px dashed #ebebeb;">{% trans 'Kogus' %}</th>
								<th align="right" style="padding: 10px;border-bottom: 1px dashed #ebebeb;">{% trans 'Summa' %}</th>
							</tr>
							</thead>
							<tbody style="font-size:14px;">
							{% for item in order.get_order_items %}
								<tr>
									<td style="padding: 10px;border-bottom: 1px dashed #ebebeb;">
										<span style="border-bottom:1px solid;margin-bottom:20px;">{% if item.get_inner_type != 'macarons' %}{{ item.base.title }}{% else %}Macarons{% endif %}</span>
										<ul style="padding-left: 25px;list-style: none;">
											{% for ingredient in item.get_ingredients %}
												<li>+ {{ ingredient.ingredient.title|capfirst }}</li>
											{% endfor %}
										</ul>
										<ul style="padding-left: 25px;list-style: none;">
											{% for ingredient in item.get_ornamentations %}
												<li>+ {{ ingredient.ingredient.title|capfirst }}</li>
											{% endfor %}
										</ul>
									</td>
									<td style="padding: 10px;border-bottom: 1px dashed #ebebeb;" align="right" valign="top">{{ item.get_price_for_single_item }}€</td>
									<td style="padding: 10px;border-bottom: 1px dashed #ebebeb;" align="right" valign="top">{{ item.quantity }}</td>
									<td style="padding: 10px;border-bottom: 1px dashed #ebebeb;" align="right" valign="top">{{ item.price }}€</td>
								</tr>
							{% endfor %}
							<tr>
								<td style="padding: 10px;border-bottom: 1px dashed #ebebeb;">
									<span style="border-bottom:1px solid;margin-bottom:20px;">{% trans 'Kohaletoomine kulleriga' %}</span>
								</td>
								<td style="padding: 10px;border-bottom: 1px dashed #ebebeb;" align="right" valign="top"></td>
								<td style="padding: 10px;border-bottom: 1px dashed #ebebeb;" align="right" valign="top"></td>
								<td style="padding: 10px;border-bottom: 1px dashed #ebebeb;" align="right" valign="top">{{ order.delivery_cost }}€</td>
							</tr>
							</tbody>
						</table>
					</td>
				</tr>
				<tr>
					<td>
						<table width="735" class="w735" style="margin:0 0 30px 0;" border="0" cellpadding="0" cellspacing="0">
							<tbody>
							<tr>
								<td width="270" align="left" bgcolor="#ebebeb" style="padding: 10px 15px;font-size: 14px;">
									<p style="margin: 0"><span style="width: 120px;display: inline-block">{% trans 'Arve kuupäev' %}</span><b>{{ order.order_date|date:'d.m.Y' }}</b></p>
									<p style="margin: 0"><span style="width: 120px;display: inline-block;">{% trans 'Makse tähtaeg' %}</span><b>{{ order.delivery_date|date:'d.m.Y' }}</b></p>
									<p style="margin: 0"><span style="width: 120px;display: inline-block;">{% trans 'Viite number' %}</span><b>1199812</b></p>
									<br/>
									<p style="margin: 0"><span style="width: 120px;display: inline-block;">Swedbank</span><b>11009820189</b></p>
									<p style="margin: 0"><span style="width: 120px;display: inline-block;">SEB</span><b>23991234412</b></p>
									<p style="margin: 0"><span style="width: 120px;display: inline-block;">Nordea pank</span><b>00912388122</b></p>
								</td>
								<td align="right" valign="top" style="padding: 10px 15px;font-size: 18px;">
									{#                                    <p><span style="display: inline-block;margin-right: 30px;">{% trans 'Summa' %}:</span>{{ order.cost }}€</p>#}
									{#                                    <p style="margin-bottom: 30px;"><span style="display: inline-block;margin-right: 30px;font-size: 14px;">{% trans 'Käibemaks' %} 20%:</span>12.40 €</p>#}
									<p style="margin: 0"><b><span style="display: inline-block;margin-right: 30px;">{% trans 'Kuulub tasumisele' %}:</span>{{ order.cost }}€</b></p>
								</td>
							</tr>
							<tr>
								<td colspan="2" align="left" valign="top" style="padding: 20px 15px;border-bottom: 1px dashed #ebebeb;font-size: 10px;">
									<p style="margin: 0">{% trans 'Megust Food Factory OÜ' %}</p>
									<p style="margin: 0">{% trans 'Kalju 5b-9, 10414 Tallinna linn, Harju maakond' %}</p>
									<p style="margin: 0">{% trans 'Registrikood' %}: 10421629</p>
									<p style="margin: 0">{% trans 'KMKR' %}: EE100366327</p>
								</td>
							</tr>
							<tr>
								<td colspan="2" align="left" valign="top" style="padding: 20px 15px 0;font-size: 10px;">
									<p style="margin: 0">{% trans 'Toodete tarnimist teostatakse originaalpakendis. Kuller on kohtustatud Teile tooma kassa tšeki.' %}</p>
								</td>
							</tr>
							</tbody>
						</table>
					</td>
				</tr>
				{#                <tr>#}
				{#                    <td align="center">#}
				{#                        <a href="#" target="_blank" style="background: #86e7ff;display: block; width: 145px;height: 50px;color:#363636;font-size: 14px;line-height:50px;text-decoration: none;"><b>{% trans 'Korda tellimust' %}</b></a>#}
				{#                    </td>#}
				{#                </tr>#}
				{#                <tr>#}
				{#                    <td align="center" valign="middle" height="65">#}
				{#                        <p style="font-size: 14px;">{% trans 'Kiirem ja mugavam! Jätka ostukorvist juba täidetud kontaktandme' %}</p>#}
				{#                    </td>#}
				{#                </tr>#}
				</tbody>
			</table>
		</td>
	</tr>
	<tr class="megusto-footer">
		<td align="center" height="172" bgcolor="#3b3b3b" style="background: url(http://megusto.ee{% static 'css/images/mail/bot.jpg' %}) no-repeat center top">
			<table width="735" class="w735" style="margin:0 10px;" border="0" cellpadding="0" cellspacing="0">
				<tbody>
				<tr>
					<td align="left" style="color: #ffffff;">
						<p style="font-size:4em;line-height: 100px;margin: 0;"><b>{% trans 'Head päeva' %}!</b></p>
						<p style="font-size:3em;margin:0"><b>{% trans 'Kohtume jälle' %}!</b></p>
					</td>
					<td align="right">
						<a href="http://megusto.ee" target="_blank"><img src="http://megusto.ee{% static 'css/images/mail/logo-2.png' %}" alt="Logo" /></a>
					</td>
				</tr>
				</tbody>
			</table>
		</td>
	</tr>
	<tr class="megusto-bot" bgcolor="#1f1f1f">
		<td align="center" height="35">
			<table width="735" class="w735" style="margin:0 10px;" border="0" cellpadding="0" cellspacing="0">
				<tbody>
				<tr>
					<td align="right" valign="middle">
						<p style="color: #ffffff; font-size: 14px;margin:0">
							{% trans 'Kvaliteet sinu maise järgi' %}! <span style="margin-left: 25px;">{% trans 'Vaata' %}:</span>
							<a href="http://megusto.ee" target="_blank" style="color: #86e7ff; text-decoration: none;">megusto.ee</a>
						</p>
					</td>
				</tr>
				</tbody>
			</table>
		</td>
	</tr>
	</tbody>
</table>
</body>
</html>
