{% extends 'base.html' %}

{% load staticfiles i18n common_tags choco_tags %}

{% block js_params %}
	<script type="application/javascript">var pageType = "choco-constructor",maxIngredientsMessage = '{% trans 'Lubatud maksimaalselt 3 lisandit!' %}',needToSelectShapeMessage = '{% trans 'You need to select shape first' %}', needToInputTextMessage = '{% trans 'You need to input text' %}',maxIngredientsInProduct = '{% trans 'Maximum ingredients in one product reached. It can be less or equal to' %}';</script>
{% endblock %}

{% block page-class %}class="choco-page"{% endblock %}

{% block menu %}{% include 'includes/menu.html' with choco_active=True %}{% endblock %}

{% block html_includes %}{{ block.super }}{% include 'includes/bought-popup.html' with back_url='choco:index-page' %}{% endblock %}

{% block content %}
	<div class="sidebar">
		<div class="panel">
			<div class="product-face clear" data-base-id="{{ chocolate.id }}" data-image="{{ chocolate.image.url }}" data-title="{{ chocolate.title }}" data-price="{% if request.GET.weight == 'kilogram' %}{{ chocolate.price_1000|to_float }}{% else %}{{ chocolate.price_100|to_float }}{% endif %}" data-weight="{% if request.GET.weight == 'kilogram' %}1{% else %}100{% endif %}" data-energy="{{ chocolate.energy_value }}" data-fats="{{ chocolate.fats }}" data-carbohydrates="{{ chocolate.carbohydrates }}">
				<p>{{ chocolate.title|upper|safe }}</p>
				<span>0</span>
			</div>
			<p>{% trans 'Koostisosad' %}:<a class="start-again" href="{% url 'choco:index-page' %}"><span>X </span>{% trans 'Alustan uuesti' %}</a></p>
			<div class="constructor clear{{ chocolate|get_bg_class }}">
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
			</div>
			<div class="price-block">
				<div class="clear">
					<p>{% trans 'Kokku' %}: <span>0</span><em>€</em></p>
				</div>
				<a class="btn large to-basket">{% trans 'Ostukorvi'|upper %}</a>
				<div class="energy">
					<b>{% trans '100g' %} {{ chocolate.title|lower|safe }}:</b>
					<p>{% trans 'energy value'|capfirst %}: <span>{{ chocolate.energy_value }}</span>{% trans 'kcl' %}</p>
					<p>{% trans 'carbohydrates'|capfirst %}: <span>{{ chocolate.carbohydrates }}</span>{% trans 'g' %}</p>
					<p>{% trans 'fats'|capfirst %}: <span>{{ chocolate.fats }}</span>{% trans 'g' %}</p>
{#					<p><span>50</span>% GDA</p>    FUCK THIS SHIT!!1     #}
				</div>
			</div>
		</div>
	</div>
	<div class="content">
	<div class="breadcrumbs product-index assembly clear">
		<div><a class="help-type" href="{% url 'choco:index-page' %}">1. {% trans 'Tüüp ja kogus' %}</a></div>
		<div><a class="help-ingredients active">2. {% trans 'Lisandid' %}</a></div>
		<div><a class="help-delivery">3. {% trans 'Ostukorv' %}</a></div>
	</div>
	<div class="notification">
	{% for notification in notifications %}
		<div class="yellow"{% if forloop.counter > 1 %} style="display: none;"{% endif %}>
			<i class="close"></i>
			<p>{{ notification.message|capfirst }}</p>
		</div>
	{% endfor %}
	</div>
	<div class="product-tabs">
	<div class="tabs">
	<ul>
		{% for group in groups %}
		<li><a href="#choco-{{ forloop.counter }}">{{ group.title|capfirst }}</a></li>
		{% endfor %}
		<li class="add-txt"><a href="#choco-own">{% trans 'Lisa kiri' %}</a></li>
	</ul>
	{% for group in groups %}
	<div id="choco-{{ forloop.counter }}">
		<ul class="list-product ingredients clear">
			{% for ingredient in group.ingredients %}
			<li data-id="{{ ingredient.id }}" data-title="{{ ingredient.title }}" data-price="{% if request.GET.weight == 'kilogram' %}{{ ingredient.price_1000|to_float }}{% else %}{{ ingredient.price_100|to_float }}{% endif %}" data-weight="{% if request.GET.weight == 'kilogram' %}{{ ingredient.weight_1000|to_float }}{% else %}{{ ingredient.weight_100|to_float }}{% endif %}" title="{{ ingredient.description }}" data-imgurl="{{ ingredient.image.url }}" data-energy="{{ ingredient.energy_value }}" data-carbohydrates="{{ ingredient.carbohydrates }}" data-fats="{{ ingredient.fats }}">
				<img src="{{ ingredient.image.url }}" alt="{{ ingredient.title|title }}"/>
				<div class="inform">
					<p>{{ ingredient.title|title }}</p>
					<span><i>{% if request.GET.weight == 'kilogram' %}{{ ingredient.weight_1000 }}{% else %}{{ ingredient.weight_100 }}{% endif %}</i> {% trans 'grammi' %}</span>
					<span><i>{% if request.GET.weight == 'kilogram' %}{{ ingredient.price_1000 }}{% else %}{{ ingredient.price_100 }}{% endif %}</i> {% trans 'senti' %}</span>
				</div>
				<div class="btns">
					<i class="minus">-</i>
					<i class="plus">+</i>
					<span>x1</span>
				</div>
				<i class="add-product">{% trans 'Lisa' %}</i>
			</li>
			{% endfor %}
		</ul>
	</div>
	{% endfor %}
	<div id="choco-own" class="shape">
        <p>{% trans 'Vali om sokolaadile meelepärane kuju' %}</p>
        <div class="wrapper clear">
            <div class="heart"><span></span></div>
            <div class="rect"><span></span></div>
            <div class="star"><span></span></div>
        </div>
        <p>{% trans 'Lisa oma personaalne tervitus tekst!  Maksimaalselt 40 tähemärki' %}</p>
        <form class="add-shape-title clear">
            <input type="text" maxlength="40" placeholder="{% trans 'Sinu tervitus' %}"/>
	        <p></p>
            <button type="submit" class="btn black not-complete" data-edit-text="{% trans 'Muuda tekst' %}">{% trans 'Lisa tekst' %}</button>
        </form>
	</div>
	</div>
	</div>
	<div class="seo-base uncolumned">
		{{ chocolate.seo_text|safe }}
	</div>
	</div>
{% endblock %}
