{% extends 'base.html' %}

{% load i18n common_tags %}

{% block js_params %}
    <script type="application/javascript">var pageType = "choco-index";</script>
{% endblock %}

{% block page-class %}class="choco-page"{% endblock %}

{% block menu %}{% include 'includes/menu.html' with choco_active=True %}{% endblock %}

{% block html_includes %}{% include 'includes/bought-popup.html' %}{% endblock %}

{% block content %}
    <div class="top-panel clear">
        <div class="welcome-text left">
            <p>{% trans 'Valmista šokolaad' %}</p>
            <span>{% trans 'Alusta siit' %}</span>
        </div>
        <div class="breadcrumbs product-index right">
            <div>
                <a class="help-type active">1. {% trans 'Tüüp ja kogus' %}</a>
                <p>{% trans '100g ja 1kg pakendid tumedast valgeni' %}</p>
            </div>
            <div>
                <a class="help-ingredients">2. {% trans 'Lisandid' %}</a>
                <p>{% trans 'Valikus üle 100 lisandi' %}</p>
            </div>
            <div>
                <a class="help-delivery">3. {% trans 'Ostukorv' %}</a>
                <p>{% trans 'Vali maksmisviis ja kohaletoomine' %}</p>
            </div>
        </div>
    </div>
    <div class="weight-panel clear">
        <p>{% trans 'Vali kogus' %}:</p>
        <ul class="radio left">
            <li>
                <input id="weight-gram" name="weight" type="radio" checked />
                <label for="weight-gram">{% trans '100 grammi' %}</label>
            </li>
            <li>
                <input id="weight-kilogram" name="weight" type="radio" />
                <label for="weight-kilogram">{% trans '1 kilogramm' %}</label>
            </li>
        </ul>
    </div>
    <div class="content-product">
        <p>{% trans 'Vali põhi' %}:</p>
        <div class="clear">
            {% for chocolate in chocolates %}
                <div data-gram="{{ chocolate.price_100|to_float }}" data-kilogram="{{ chocolate.price_1000|to_float }}">
                    <a href="{% url 'choco:constructor-page' chocolate.slug %}" class="img">
                        <img src="{{ chocolate.image.url }}" alt="{{ chocolate.title|safe }}" />
                    </a>
                    <p>{{ chocolate.title|safe }}</p>
                    <a class="btn arrowed" href="{% url 'choco:constructor-page' chocolate.slug %}">{% trans 'Vali' %}</a>
                    <span><em>{{ chocolate.price_100 }}</em> €</span>
                </div>
            {% endfor %}
        </div>
    </div>
    {#	{% include 'includes/slider.html' with recommendations=recommendations product_type="chocolate" edit_recommendation="choco:constructor-page" only %}#}
    <div class="seo-base">
        {{ seo_text.text|safe }}
    </div>
{% endblock %}
