{% load staticfiles i18n compressed solo_tags common_tags %}
{% get_solo 'common.AvailabilityConfiguration' as availability_configuration %}
{% get_current_language as lang %}
<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
    <title>MeGusto</title>
    <meta content="{{ LANGUAGE_CODE }}" http-equiv="Content-Language"/>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta content="MeGusto" name="application-name"/>
    <meta name="description" content="MeGusto">
    <meta name="keywords" content="chocolate, coffee, muesli, macarons, cake">
    <link rel="shortcut icon" href="{% static 'css/images/favicon.ico' %}" type="image/ico"/>
    <link href='//fonts.googleapis.com/css?family=Amatic+SC:400,700' rel='stylesheet' type='text/css' />
    <link href='//fonts.googleapis.com/css?family=Lato:300,300italic,400,700,900,900italic' rel='stylesheet' type='text/css' />
    <link href='//fonts.googleapis.com/css?family=Neucha&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,700,800,800italic&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    {% block css %}
        {% compressed_css 'vendors' %}
        {% compressed_css 'style' %}
    {% endblock %}

{#    <link href="{% static 'css/jquery-ui.min.css' %}" rel="stylesheet" type="text/css" />#}
{#    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />#}

    <!--[if gte IE 9]>
	<style type="text/css">html,*{filter: none;}</style>
	<link rel="stylesheet" type="text/css" href="{% static 'css/IE.css' %}" />
	<!-->
    <!--[if lt IE 9]>
	<script type="text/javascript" src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<script type="text/javascript" src="{% static 'js/vendor/jquery-1.11.1.min.js' %}"></script>
	<![endif]-->
    <script type="application/javascript" src="{% static 'js/vendor/jquery-2.1.1.min.js' %}"></script>
    <!--<![endif]-->
    <script type="application/javascript">var kg='{% trans 'kg' %}',g='{% trans 'g' %}',pcs='{% trans 'tk' %}',subscribeURL='{% url 'api-v1:common:save-subscriber' %}';</script>
    {% block js_params %}{% endblock %}
    {% block js %}
        {% compressed_js 'vendors' %}
        {% compressed_js 'common' %}
    {% endblock %}

{#    <script type="text/javascript" src="{% static 'js/vendor/jquery.slides.min.js' %}"></script>#}
{#    <script type="text/javascript" src="{% static 'js/vendor/jquery-ui.min.js' %}"></script>#}
{#    <script type="text/javascript" src="{% static 'js/vendor/underscore-min.js' %}"></script>#}
{#    <script type="text/javascript" src="{% static 'js/coffee/utils.js' %}"></script>#}
{#    <script type="text/javascript" src="{% static 'js/coffee/products.js' %}"></script>#}
{#    <script type="text/javascript" src="{% static 'js/coffee/basket.js' %}"></script>#}
{#    <script type="text/javascript" src="{% static 'js/coffee/common.js' %}"></script>#}
{#    <script type="text/javascript" src="{% static 'js/coffee/forms.js' %}"></script>#}
</head>
<body {% block page-class %}{% endblock %}>
{% block html_includes %}{% include 'includes/subscribe-popup.html' %}{% endblock %}
<div class="container">
    <div class="wrap">
        <header class="clear">
            <div class="clear">
                <a class="logo left" href="{% url 'index-page' %}"></a>
                <div class="info right clear">
                    <div>
                        {% get_flatpage flatpages pk=3 as contact_flatpage %}
                        <a href="{{ contact_flatpage.get_url }}">
                            <p>{% trans 'Tellimine ja info' %}</p>
                            <span>+372 56 885 880</span>
                        </a>
                    </div>
                    <div>
                        {% get_flatpage flatpages pk=4 as delivery_flatpage %}
                        <a href="{{ delivery_flatpage.get_url }}">
                            <p>{% trans 'Tasuta tellimuse kohaletoomine' %}</p>
                            <span>35 {% trans 'Eurost' %}</span>
                        </a>
                    </div>
                    <div>
                        <a href="{{ delivery_flatpage.get_url }}">
                            <p class="watcher">{% trans 'Telli enne' %} 11:00.</p>
                            <em>{% trans 'Saad kauba järgmisel päeval' %}</em>
                        </a>
                    </div>
                    <div class="wrap-basket">
                        {% get_current_language as lang %}
                        <form method="post" action="{% url 'set-language' %}" id="lang-form">
                            {% csrf_token %}
                            <input type="hidden" name="lang" value="{{ language }}" />
                            <input type="hidden" name="next" value="{{ request.get_full_path }}" />
                        </form>
                        <ul class="lang clear">
                            <li{% ifequal lang 'et' %} class="active"{% endifequal %}><a data-lang="et"{% ifnotequal lang 'et' %} href="javascript:void(0)"{% endifnotequal %}>EST</a></li>
                            <li>&nbsp;&#47;&nbsp;</li>
                            <li{% ifequal lang 'ru' %} class="active"{% endifequal %}><a data-lang="ru"{% ifnotequal lang 'ru' %} href="javascript:void(0)"{% endifnotequal %}>RUS</a></li>
                        </ul>
                        <a class="basket right" href="javascript:void(0);" data-continue="{% url 'basket:basket-page' %}"></a>
                        {% include 'includes/basket-popup.html' %}
                    </div>
                </div>
                <div class="right clear">
                    {% block menu %}{% include 'includes/menu.html' %}{% endblock %}
                </div>
            </div>
            {% block index-header %}{% endblock %}
        </header>
        <section class="clear">
            {% block content %}{% endblock %}
        </section>
    </div>
    <footer>
        {% block footer %}
            <div class="footer-info">
                <div class="dark left">
                    {% include 'includes/social.html' %}
                </div>
                <p>{% trans 'Tellimine ja info' %}:<span>+372 56 885 880</span></p>
                <b class="right">{% trans 'Kvaliteet sinu maitse järgi' %}!</b>
            </div>
        {% endblock %}
        <div class="bottom-menu clear">
            <div class="list left">
                <a href="{% url 'index-page' %}" class="btm-logo"><span>2014 &copy;</span></a>
                <div>
                    <p>{% trans 'Tellimine' %}:</p>
                    <ul>
                        {% get_flatpage flatpages pk=7 as payment_flatpage %}
                        <li><a href="{{ payment_flatpage.get_url }}">{% trans 'Maksmine' %}</a></li>
                        <li><a href="{{ delivery_flatpage.get_url }}">{% trans 'Kullerteenus' %}</a></li>
                        {% get_flatpage flatpages pk=6 as package_flatpage %}
                        <li><a href="{{ package_flatpage.get_url }}">{% trans 'Pakend' %}</a></li>
                    </ul>
                </div>
                <div>
                    <p>{% trans 'Ettevõttest' %}:</p>
                    <ul>
                        {% get_flatpage flatpages pk=2 as about_flatpage %}
                        <li><a href="{{ about_flatpage.get_url }}">{% trans 'Meist' %}</a></li>
                        <li><a href="{{ contact_flatpage.get_url }}">{% trans 'Kontakt' %}</a></li>
                        {% get_flatpage flatpages pk=9 as production_flatpage %}
                        <li><a href="{{ production_flatpage.get_url }}">{% trans 'Tootmine' %}</a></li>
                    </ul>
                </div>
                <div>
                    <p>{% trans 'Parimad pakkumised' %}:</p>
                    <ul>
                        {% get_flatpage flatpages pk=8 as corporate_flatpage %}
                        <li><a href="{{ corporate_flatpage.get_url }}">{% trans 'Firmakink' %}</a></li>
	                    {% get_flatpage flatpages pk=10 as wedding_flatpage %}
                        <li><a href="{{ wedding_flatpage.get_url }}">{% trans 'Pulmakink' %}</a></li>
	                    {% get_flatpage flatpages pk=11 as gifts_flatpage %}
                        <li><a href="{{ gifts_flatpage.get_url }}">{% trans 'Kinkekaardid' %}</a></li>
                    </ul>
                </div>
            </div>
            <a href="http://4-com.pro/" class="logo-dev" target="_blank"><span>{% trans 'Areng' %}</span></a>
            <form class="right" id="subscribe">
                <p>{% trans 'Ole kursis, telli uudiskiri' %}</p>
                <input type="email" name="email" placeholder="{% trans 'Sinu email' %}&hellip;" />
{#                <div class="check right">#}
{#                    <input id="terms" name="terms" type="checkbox" />#}
{#                    <label for="terms">{% blocktrans with atag_open='<a href="#">' atag_close='</a>' %}Tellides nõustun {{ atag_open }}tingimustega{{ atag_close }}{% endblocktrans %}</label>#}
{#                </div>#}
                <button type="submit">{% trans 'TELLI' %}</button>
            </form>
        </div>
    </footer>
</div>
{% block analytics %}
	<!-- BEGIN GOOGLE ANALYTICS -->
	<script>(function (i, s, o, g, r, a, m) {i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () { (i[r].q = i[r].q || []).push(arguments) }, i[r].l = 1 * new Date(); a = s.createElement(o), m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m) })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga'); ga('create', 'UA-56494617-1', 'auto'); ga('send', 'pageview'); </script>
	<!-- END GOOGLE ANALYTICS -->
	<!-- BEGIN JIVOSITE CODE -->
	<script type='text/javascript'>(function () {var widget_id = 'mNr4pJYbo9'; var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '//code.jivosite.com/script/widget/' + widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);})();</script>
	<!-- END JIVOSITE CODE -->
	<!-- Yandex.Metrika informer -->
	<a href="https://metrica.yandex.com/stat/?id=27030420&amp;from=informer" target="_blank" rel="nofollow"><img src="//bs.yandex.ru/informer/27030420/3_1_FFFFFFFF_EFEFEFFF_0_pageviews" style="width:88px; height:31px; border:0; display: none;" alt="Yandex.Metrica" title="Yandex.Metrica: data for today (page views, visits and unique visitors)" onclick="try{Ya.Metrika.informer({i:this,id:27030420,lang:'en'});return false}catch(e){}"/></a>
	<!-- /Yandex.Metrika informer -->
	<!-- Yandex.Metrika counter -->
	<script type="text/javascript">
		(function (d, w, c) {
			(w[c] = w[c] || []).push(function () {try {w.yaCounter27030420 = new Ya.Metrika({id: 27030420, webvisor: true, clickmap: true, trackLinks: true, accurateTrackBounce: true});} catch (e) {}});
			var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () {n.parentNode.insertBefore(s, n);};s.type = "text/javascript";s.async = true;s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";
			if (w.opera == "[object Opera]") {d.addEventListener("DOMContentLoaded", f, false);} else {f();}
		})(document, window, "yandex_metrika_callbacks");
	</script>
	<noscript><div><img src="//mc.yandex.ru/watch/27030420" style="position:absolute; left:-9999px;" alt=""/></div></noscript>
	<!-- /Yandex.Metrika counter -->
{% endblock %}
</body>
</html>
