{% extends 'base.html' %}

{% load staticfiles i18n common_tags %}

{% block js_params %}
	<script type="application/javascript">var pageType = "index";</script>
{% endblock %}

{% block page-class %}class="main-page"{% endblock %}

{% block index-header %}
	<div class="main-top clear">
		{% include 'includes/social.html' %}
		<p>{% blocktrans with start_blue='<span>' end_blue='</span>' start_yellow='<em>' end_yellow='</em>' %}MeGusto - {{ start_blue }}online kondiiter{{ end_blue }}, kvaliteet {{ start_yellow }}sinu maitse{{ end_yellow }} järgi!{% endblocktrans %}</p>
	</div>
{% endblock %}

{% block content %}
	<div class="main-content">
		<p class="main-title">{% trans 'Valmista' %}<span>{% trans 'oma maitse järgi' %}</span></p>
		<div class="products clear">
			<a class="macarons{% if not availability_configuration.macarons_is_available %} unactive{% endif %}" href="{% url 'macarons:constructor-page' %}">
				<i>{% trans 'Valmista' %}</i>
				<img src="{% static 'css/images/main/macarons.png' %}" alt="Macarons MeGusto"/>
				<p>{% trans 'Makroonid' %}</p>
				<span>{{ products.macarons }}</span>
			</a>
			<a class="choco{% if not availability_configuration.chocolate_is_available %} unactive{% endif %}" href="{% url 'choco:index-page' %}">
				<i>{% trans 'Valmista' %}</i>
				<img src="{% static 'css/images/main/choco.png' %}" alt="Chocolate MeGusto"/>
				<p>{% trans 'Šokolaadid' %}</p>
				<span>{{ products.chocolate }}</span>
			</a>
			<a class="cake{% if not availability_configuration.cakes_is_available %} unactive{% endif %}" href="{% url 'cakes:index-page' %}">
				<i>{% trans 'Valmista' %}</i>
				<img src="{% static 'css/images/main/cake.png' %}" alt="Cake MeGusto"/>
				<p>{% trans 'Tordid' %}</p>
				<span>{{ products.cake }}</span>
			</a>
			<a class="muesli{% if not availability_configuration.muesli_is_available %} unactive{% endif %}" href="{% url 'muesli:index-page' %}">
				<i>{% trans 'Valmista' %}</i>
				<img src="{% static 'css/images/main/muesli.png' %}" alt="Muesli MeGusto"/>
				<p>{% trans 'Müsli' %}</p>
				<span>{{ products.muesli }}</span>
			</a>
			<a class="coffee{% if not availability_configuration.coffee_is_available %} unactive{% endif %}" href="{% url 'coffee:index-page' %}">
				<i>{% trans 'Valmista' %}</i>
				<img src="{% static 'css/images/main/coffee.png' %}" alt="Coffee MeGusto"/>
				<p>{% trans 'Kohvi' %}</p>
				<span>{{ products.coffee }}</span>
			</a>
		</div>
	</div>
{% endblock %}

{% block footer %}
	<div class="footer-main">
		<div class="social-large">
			<p>{% trans 'Leia meid' %}:</p>
			{% include 'includes/social.html' %}
		</div>
		<div class="about-company">
			<p>{{ left_block.text }}</p>
			{% get_flatpage flatpages pk=2 as about_flatpage %}
			<a href="{{ about_flatpage.get_url }}">{% trans 'Loe edasi' %}</a>
		</div>
		{% include 'includes/seo-block.html' %}
	</div>
{% endblock %}
