{% extends 'base.html' %}

{% load staticfiles i18n %}
{% block js_params %}
    <script type="application/javascript">var pageType = "about";</script>
{% endblock %}
{% block page-class %}class="static-page"{% endblock %}

{% block content %}
    <div class="content-area">
        <div class="img"><img src="{% static 'img/content/quality.jpg' %}" alt="" /></div>
        <div class="text about">
            <h1>Megusto’st</h1>
            <p>"Megusto" - esimene ja praeguseks ainuke ettevõte Baltimaades, kes pakub tarbijatele valmistada oma isiklikku kustomiseeritud  (ingl. k. customize - valmistatud tellija soovidele ) toiduainet vastavalt oma soovile, tujule ja eelistustele.Mugav, kiire ja eksklusiivne.</p>
            <h2>Startup (iduettevõtte) projekt.</h2>
            <p>Ettevõte sai alguse sellest, kui Anti (ettevõtte asutaja) jalutas mööda erinevaid Eesti poode ja otsis huvitavaid tooteid ja teenusid, mida võiks ise tegema hakata  ja müüma. Ei läinud palju aega, kui tekkis ühes kommipoes küsimus enesele: "Miks on meie šokolaadi turul nii väikene valikuvõimalus?"</p>
            <p>Leiab ainult valget, piima ja mõrudat šokolaadi, kus on natuke India või mandli pähklit sees ja võib-olla ka mõni puuvili või mari, mida pole näha ning rääkimata selle maitse tundmisest. Sellest mõtte kohast kooruski soov ise tootma ja müüma hakata šokolaade ning teisi erinevadi toiduaineid, kus inimene saab kiirelt teha vastavalt oma soovile näiteks šokolaade läbi virutaalse platvormi.</p>
            <p>Ja nii MeGusto sündiski kui, alustasime külmal 2014.a jaanuari kuul veebidisaini sketchup-e tegema, millega me (kes "meie"? - saame tuttavaks lehel "meeskond" või Facebookis) jõudsime praeguse huvitava lahenduseni, kus me teostame kõikidele Eesti Vabariigis elavatele inimestele individuaalseid toiduaineid, nii firmadele firmakingitusteks, kui ka tarbijatele endale või kingituseks kellegile.</p>
            <h2>Meie eesmärk</h2>
            <p>Olla enesekindel ja usaldusväärne ettevõte Eesti elanikele ka tulevikus, kes loob ka tugevaid ja uuenduslikke traditsioone.</p>
            <p>Valmistab individuaalseid toiduaineid alustades võileibadest, kuni loomatoiduni. Seda kõike teie tellimusel tahame kohale toimetada Teie kodu ukseni maksimaalselt 24h jooksul! Praegusel ajal pakume eliit Belgia šokolaadi 150-ne erineva koostisosaga, kuid kohe kohe on avalikkuse ette tulemas uus toode ja peale seda veel ja veel.....</p>
        </div>
    </div>
    {% include 'includes/sidebar.html' with about_active=True %}
{% endblock %}