{% extends 'base.html' %}

{% load staticfiles i18n %}
{% block js_params %}
    <script type="application/javascript">var pageType = "charity";</script>
{% endblock %}
{% block page-class %}class="static-page"{% endblock %}

{% block content %}
    <div class="content-area">
        <div class="img"><img src="{% static 'img/content/girl.jpg' %}" alt="" /></div>
        <div class="text">
            <h1>Heategevus</h1>
            <p>Lause "sotsiaalne äriline vastutus" ei ole kindlasti midagi utoopilse kontesptsiooniga, nii tervikuna MeGustole kui ka töötajatele endile. Osaleme aktiivselt erinevatel heategvus projektidel, sest soovime muuta maailma rõõmsamaks ja õnnelikumaks. See tähendab, et toetame lastekodusid, tahame natukenegi muuta lastekodus elavatel lastel elu natukenegi õiglasemaks.</p>
            <p>Just seepärast me esitlemegi Teile meie püsivat projekti "Magus lapsepõlv". Tellides kolm ühikut šokolaade, macarone, müslit, kohvi või torte siis saate neljanda Megusto poolt kingituseks. Ostukorvis saate ise meie kingitud toote saatuse paika panna:</p>
            <ul>
                <li>Boonus endale - ma saadame kõik Teie boonus tooted Teie tellimusega kaasa</li>
                <li>Boonus lapsele - me saadame kõik Teie boonus tooted otse lastekodudesse. Umbes 2-3 nädala pärast teie tellimuse sooritamise momendist, saadetakse Teie mailile foto lastest, kes poseerivad koos Teie kingitud šokolaadiga.</li>
            </ul>
            <p>Kõik logistilised kulutused, mis on seotud heategevuse toodete kohale viimisel lastekodudesse võtab MeGusto tingimusteta enda kanda. Veebil olev mõõtva counteriga on võimalik vaadata reaalajas, kui suur hulk tooteid on annetatud lastekodudele.</p>
            <h3>Olete huvitatud lastekodude toetamisest? Tahate osutada abi lastekodu lastele ja orbudele? </h3>
            <p>Kirjutage meile e-postile <a href="mailto:info@megusto.ee">info@megusto.ee</a> ja teeme head üheskoos!</p>
            <p>All pool on toodud lastekodud, kes meie projektis "Magus lapsepõlv" juba osalevad.</p>
            <img src="{% static 'img/content/heart.jpg' %}" alt="" />
        </div>
    </div>
    {% include 'includes/sidebar.html' with charity_active=True %}
{% endblock %}