{% extends 'base.html' %}

{% load staticfiles i18n %}
{% block js_params %}
    <script type="application/javascript">var pageType = "contact";</script>
{% endblock %}
{% block page-class %}class="static-page"{% endblock %}

{% block content %}
    <div class="content-area">
        <div class="text">
            <h1>Kontakt</h1>
            <p><i>Küsimused? Soovitused? Kommentaarid? Ei leidnud vastuseid oma küsimustele KKK-s (korduma kippuvad küsimused) Me oleme alati õnnelikud Teie küsimustele vastama, kuulama Teid või lihtsalt Teiega suhtlema huvitavatel teemadel.</i></p>
            <p><i>Isegi lihtsa "Tere!" ütlemisest oleme õnnelikud ja tänulikud :)</i></p>
            <form class="contact" action="#">
                <div class="left">
                    <h2>Kirjuta meile:</h2>
                    <label for="name">Nimi</label>
                    <input type="text" name="name" id="name" placeholder="Sisesta nimi" />
                    <label for="E-mail">E-mail</label>
                    <input type="email" name="email" id="email" placeholder="Sisesta e-mail" />
                    <label for="text">Minu mõte</label>
                    <textarea id="text" placeholder="Idee, soovitus, küsimus? Anna tulla!"></textarea>
                    <div class="captcha clear">
                        <p>Sisesta vastus</p>
                        <span>2 + 5 =</span>
                        <input type="text" name="captcha" id="captcha" />
                    </div>
                    <button type="submit" class="btn large">Saada</button>
                </div>
                <div class="right">
                    <h2>Helista meile:</h2>
                    <p>Telefon <span>+372 56 885 880</span></p>
                    <i>Me oleme telefoni teel kättesadavad iga päev 10:00-22:00 ja rõõmuga kuulame Teie kommentaare, kriitikat ja soovitusi.</i>
                    <img src="{% static 'img/content/smile.jpg' %}" alt="" />
                </div>
            </form>
        </div>
    </div>
    {% include 'includes/sidebar.html' with contact_active=True %}
{% endblock %}