{% extends 'base.html' %}

{% load staticfiles i18n %}
{% block js_params %}
    <script type="application/javascript">var pageType = "corporate";</script>
{% endblock %}
{% block page-class %}class="static-page"{% endblock %}

{% block content %}
    <div class="content-area">
        <div class="slider">
            <img src="{% static 'img/slider/1.jpg' %}" alt="" />
            <img src="{% static 'img/slider/2.jpg' %}" alt="" />
            <img src="{% static 'img/slider/3.jpg' %}" alt="" />
        </div>
        <div class="text corporate">
            <h1>MeGusto - originaalsed firma kingitused</h1>
            <p>Ettevõtte kingitused MeGustolt - on sellised kingitused, mis ei unune iial! Neid on meeldiv kinkida ja neid on meeldiv saada. Nad jäävad kõige säravamalt meelde ja suuresti eristavad ettevõtte konkurentidest! Ettevõtte toitlustamine, kingitused ettevõtte partneritele ja lojaalsetele klientidele, sündmustel firma tooted embleemidega, kingitused temaatilistele sündmustele, partnerlus cateringiga - see on kõigest väike osa meie pakkumistest.</p>
            <p>MeGustoga saate luua ettevõtte kingitusi, mida pole mitte kellegil!</p>
            <p>Me pakume teile hetkel eliit Belgia šokolaadi toodet, mida saab kohandada oma ettevõtte järgi.Ettevõtte saab valida šokolaadi kaalu, vormi, suuruse ja toote kui ka pakendi disaini. Teil on võimalus ise teha oma originaalne maitsev toode.</p>
            <h2>Me pakume teile:</h2>
            <p>Belgia eliitset šokolaadi firma kingituseks - 5 erinevat šokolaadi liiki (ka ilma suhkruta) ja 150 erinevat naturaalset koostisosa, mida saab panna šokolaadi sisse.</p>
            <p><b>NB! Lähi kuul on tulemas ka teisi huvitavaid tooteid, mida saab kasutada firma kingitusteks!</b></p>
            <h2>Võimalus brandida ettevõtte kingitus:</h2>
            <p>Valmistada söödavaid logosid, slouganeid ja isegi pilte martsipanil või vahvlilisel paberil (näiteks makroonil või šokolaadil firma logoga)</p>
            <p>Valmistame pakendi, ükskõik, mis toote kujul, suurusel ja disainil ning sealjuures kasutame teie ettevõtte stilisitkat. Pakedit ei saa teha ainult paberist vaid ka puidust ja teistest materjalidest, mis lisab kingitusele veelgi väärtust.</p>
            <p><b>Me teeme teoks ka teie kõige julgemad ideed! Ärge piirduge vähimaga! Helistage! Firma kingitused ootavad teid!</b></p>
        </div>
    </div>
    <div class="infobar">
        <p class="title">{% trans 'Küsi pakkumist' %}:</p>
        <form class="corp-form" action="{{ request.path }}" method="post">
            <div class="notification">
                <div class="red">
                    <i class="close"></i>
                    <p>Form error</p>
                </div>
            </div>
            <div>
                <label for="phone">{% trans 'Telefoninumber' %}*</label>
                <input type="text" name="phone" id="phone" />
            </div>
            <div class="error">
                <label for="mail">E-mail*</label>
                <input type="email" name="mail" id="mail" />
            </div>
            <div>
                <label for="comment">{% trans 'Kommentaar' %}</label>
                <textarea name="comment" id="comment"></textarea>
            </div>
            <button type="submit" class="btn">{% trans 'SAADA PÄRING' %}</button>
        </form>
        <p class="title">{% trans 'Kontakt' %}:</p>
        <div class="corp-contact">
            <p>+372 56 885 880</p>
            <a href="mailto:info@megusto.ee">info@megusto.ee</a>
        </div>
    </div>
{% endblock %}
