{% extends 'base.html' %}

{% load staticfiles i18n %}
{% block js_params %}
    <script type="application/javascript">var pageType = "delivery";</script>
{% endblock %}
{% block page-class %}class="static-page"{% endblock %}

{% block content %}
    <div class="content-area">
        <div class="img"><img src="{% static 'img/content/gift.jpg' %}" alt="" /></div>
        <div class="text">
            <h1>Kohaletoomine</h1>
            <p>Me ei paku tarbijatele ainult meie kõrgkvaliteetseid tooteid vaid pakume ka lisaks toodetele ka kõrgkvaliteetset kullerteenust. Toode sisaldab:</p>
            <ul>
                <li>Käsitööd</li>
                <li>Firma pakend koos firma nimega</li>
                <li>Arve</li>
                <li>Lisa kingitused ja boonused</li>
            </ul>
            <h2>Standartne kohaletoomine</h2>
            <p>Peale tellimuse sooritamist on kohaletoomine Harjumaa piires järgmisel päeval teile sobivaimal ajal(kindlasti kauba soetamine MeGusto veebilt peab toimuma ennem kella 10:00). Sealjuures me ei võta šokoalaadi tahvlit tolmusest kapist vaid valmistame isiklikult ainult Sulle! Ühe esemena kohaletoomine Tallinna piires on kõigest 4 euri, alatest kahe ühikulisest tellimisest on kõigest 3 euri ja alates 25 euri suurusest tellimusest on kohaletoomine TASUTA Tallinna piires! Ühe tordi tellimisel, mis maksab alla 20 euri on kohaletoomine 4 euri Tallinna piires.</p>
            <div>
                <p><b>TASUTA</b> - 25 eurose tellimuse tegemisel on kohaletoomine Tallinna piires</p>
                <p><b>4€</b> - alla 25 eurose tellimuse tegemisel Eesti piires</p>
                <p><b>3€</b> - alatest kahe ühikulisest tellimuse tegemisel Tallinna piires</p>
            </div>
            <p>Kauba kohaletoomine väljaspool Harjumaakonda (st. Ida-Virumaakond, Võru maakonda, Pärnu maakonda jne) 1-3 päeva. Täpsema hinna ja kauba saabumisaja teistesse maakonna piirkondadesse (me/Megusto teostame(b) terves Eestis kauba kohaletoomist!) saate, kui valite meie veebilt soovitud kauba siis arvutab süsteem Teile automaatselt välja transpordi maksumuse, mis põhineb Teie kauba kaalust ja asukohast.</p>
            <p>Kauba kohaletoomine Lätti, Leetu, Soome, Rootsi ja kaugematesse riikidese ning firmadele pakkuvate hindade, kohaletoomis ja teostamis lahenduste saamiseks palun täita meie veebil olev kirjalik vorm</p>
            <h2>Aga kui minu tellitud škokolaad ei jõudnud õigeks ajaks?</h2>
            <p>Meie siirad vabandused, kui midagi niisugust juhutus. Tellimise ajal Teie määrate ligikaudse päeva ja kellaja, selleks et meie lõbusad kullerid saaksid Teie antud ajaks kauba kohale toimetada. Juhul, kui meie kuller (teie tellimusega) ette teada andmata hilineb rohkem, kui 1h siis palun meile sellest kindlasti viivitamatult teada anda ja kvaliteedi kompensatsiooniks teeme Teile kingituse MeGusto poolt</p>
            <h2>Minimaalne tellimus</h2>
            <p>Miniaalne tellimus meie veebil on kaks ühikut MeGusto toodet. Ei me ei ole kurjad, kitsid, vihased, ega ei taha mitte kellegile piiranguid seada, kuid palun saage meist õigesti aru, et meil pole sugugi lihtne toodet tuua teisele poole Eestit.</p>
            <h2>Kohaletoomine suvel</h2>
            <p>Nagu ikka, teavad seda kõik, et soojakraadidel šokolaad kaotab maitse ja visuaalse kvaliteedi. Kindlasti see ju pole põhjus, miks mitte maiustada armastatud MeGusto šokolaadiga aasta soojemal ajal! Me kasutame suvel transportimisel spetsiaalseid külmikkonteinereid kuiva jääga, sellepärast šokolaad ei sula muidugi seniks, kui seda ise just ei taha :)</p>
        </div>
    </div>
    {% include 'includes/sidebar.html' with delivery_active=True %}
{% endblock %}