{% extends 'base.html' %}

{% load staticfiles i18n %}
{% block js_params %}
    <script type="application/javascript">var pageType = "faq";</script>
{% endblock %}
{% block page-class %}class="static-page"{% endblock %}

{% block content %}
    <div class="content-area">
        <div class="text">
            <h1>Korduma Kippuvad Küsimused</h1>
            <p><i>See on lühike list pakiliste küsimustega ja vastustega MeGusto ettevõttest ja tema toodetest. Juhul, kui ei leia siit oma küsimustele vastuseid siis palun võtke <a href="#">meiega ühendust!</a></i></p>
            <div class="faq-block">
                <h3>Meist, Megustost <i></i></h3>
                <div>
                    <h4>Mis on Megusto?</h4>
                    <p>MeGusto on virtuaalne kondiiter ettevõte, mis valmistab praegu vastavalt inimese soovile, tujule ja eelistustele kõrgkvaliteetset Belgia šokolaadi.Valikus on 5 erinevat šokolaadi liiki ja üle 150-ne erineva koostisosa, mida saab soovi korral ise omale virtuaalselt valmistada ja soetada. Šokolaadi soetamisel MeGusto veebil, valmistame Sinu tellitud šokolaadi meie vabrikus valmis ja toome ise koju või kontorisse kätte.</p>
                    <h4>Kus asub teie ettevõte?</h4>
                    <p>Meie ettevõte kontor ja tootmine asub hetkel Eesti Vabariigi pealinnas ehk Tallinnas, kuid lähi tulevikus on oodata väiksemaid tootomis üksuseid ka mujal Eesti suurtemates linnades nagu näiteks, Pärnu, Tartu ja Narva.</p>
                    <h4>Kes selle kõige taga seisab?</h4>
                    <p>Alustame tutvumisega! Kõik info saad leida lehelt "Meeskond" ja meie Facebooki lehelt "MeGusto".</p>
                </div>
                <h3>Kohaletoomisest ja maksmisest <i></i></h3>
                <div>
                    <h4>Kui kaua pean ma ootama oma tellimust?</h4>
                    <p>See sõltub kohast, kus te elate. Juhul teie elukoht või kontor asub Harjumaal siis võite meie kullerit näha juba järgmisel päeval oma kontori või kodu ukse ees! Tellimuse saabumine Tartumaale , Virumaale, Pärnumaale, Võrumaale jne võib aega võtta kuni 1-2. päeva. Täpsemalt <a href="#">kohaletoomise informatsioon.</a></p>
                    <h4>Oi ei! Ma andsin vale aadressi, mis ma tegema pean nüüd?</h4>
                    <p>Pole mitte midagi hullu! Juhul, kui teil tekkis mõningaid muudatusi aadressi suhtes või vaja lisainformatsiooni vaja anda tellimuse kohta siis palun kirjutage <a href="mailto:info@megusto.ee">info@megusto.ee</a>, kus kindlasti märkige ära oma <b>tellimuse number</b>. Kirjutada ei soovi meile siis palun võtke meiega ühendust telefoni teel <b>+372 56 885 880</b>.</p>
                    <h4>Kuidas saan ma ära maksta oma tehtud tellimuse!</h4>
                    <p>Kui te elate Tallinnas on teil võimalus maksta toote eest kullerile sularahas ja muidugi ka interneti teel ülekandega arve alusel. Juhul, kui sinu elukoht asub väljaspool Tallinnat siis on võimalik maksta tellitud toote eest ainult internetis ülekandega</p>
                </div>
            </div>
        </div>
    </div>
    {% include 'includes/sidebar.html' with faq_active=True %}
{% endblock %}