{% extends 'base.html' %}

{% load staticfiles i18n %}
{% block js_params %}
    <script type="application/javascript">var pageType = "package";</script>
{% endblock %}
{% block page-class %}class="static-page"{% endblock %}

{% block content %}
    <div class="content-area">
        <div class="img"><img src="{% static 'img/content/packend.jpg' %}" alt="" /></div>
        <div class="text">
            <h1>Pakend</h1>
            <p>Isikupärastamine MeGustos ei väljendu ainult maitsetes või koostisosades vaid ka toodete pakenditel. Pakendid, mida on meeldiv käes hoida, kinkida või saada. Me oleme lähenenud kõikidele meie toodetele äärmuslikkuse täpsusega. Soovite isiklikku pakeditt üritusete, firma, pulmadeks või millegi muu jaoks siis külastega <a href="#">meie firmade lahendusi</a>.</p>
            <div class="package">
                <div class="img">
                    <img src="{% static 'img/content/packend-1.jpg' %}" alt="" />
                </div>
                <div class="txt">
                    <h2>Pakend šokolaadi jaoks</h2>
                    <p>Eliit belgia šokolaad MeGustolt - see ei ole lihtsalt ilus kingitus endale vaid ka vapustav kingitus lähedasele, sõbrale või sugulasele, mis lausa karjub karjub omamoodi. "Ma valmistasin ise selle šokolaadi tahvli arvestades Sinu maitse eelistusi!"</p>
                    <p>Ilmselgelt tuleb inimeselt maksimum positiivseid emotsioone, kui näeb säravat, silma torkavat ja stiilselt pakendit. Praegusel hetkel on valikus 3 erinevat pakendit: <b>talvine</b>, <b>suvine</b> ja <b>kevadine</b>.</p>
                </div>
            </div>
            <div class="package">
                <div class="txt">
                    <h2>Pakend - Silindriline toru</h2>
                    <p>Stiilne silindriline Megusto toru graanolite jaoks näeb teie köögis jalust rabavalt hea välja, iseenesest juba peale vaadates jääb mulje, et see on nagu kingitus. Säärane pakendi variant ei juhtunud meil kogemata.</p>
                    <p>Valisime just sellise pakendi, kuna silindriline toru hoiab müslit päikese valgusest, füüsilise kontakti, niiskuse ja kuivamise eest ning muidugi näeb vapustavalt hea välja. Praegusel hetkel on valikus 3 erinevat pakendit: <b>talvine</b>, <b>suvine</b> ja <b>kevadine</b>.</p>
                </div>
                <div class="img">
                    <img src="{% static 'img/content/packend-2.jpg' %}" alt="" />
                </div>
            </div>
            <div class="package">
                <div class="img">
                    <img src="{% static 'img/content/packend-3.jpg' %}" alt="" />
                </div>
                <div class="txt">
                    <h2>Pakend - makroonid</h2>
                    <p>Koogikesed makroonid - kõige populaarsem kingitus meie kõikidest toodetest. Õrnalt sulavad suusmacarons-id pastellsetes värvides, punases pakendis õhtuse tee kõrvale või pärastlõunasele <i>lunchile</i> - mis saab olla veel meeldivam? <b>Talvine</b>, <b>suvine</b> ja <b>kevadine</b>.</p>
                </div>
            </div>
        </div>
    </div>
    {% include 'includes/sidebar.html' with package_active=True %}
{% endblock %}