{% extends 'base.html' %}

{% load staticfiles i18n %}
{% block js_params %}
    <script type="application/javascript">var pageType = "payment";</script>
{% endblock %}
{% block page-class %}class="static-page"{% endblock %}

{% block content %}
    <div class="content-area">
        <div class="img"><img src="{% static 'img/content/monet.jpg' %}" alt="" /></div>
        <div class="text">
            <h1>Maksevõimalused</h1>
            <p><i>Juhul, kui pärast tellimuse maksmist soovitud kaupa ei soovita, saadetakse raha tagasi Teie kaardile vastavalt <a href="#">MeGusto tagastamise tingimustel</a>.</i></p>
            <p>Valides MeGusto.ee maksmise kinnitamise lehel sobivaim pank ja vajutades "kinnitamis" nuppu suunatakse Teid automaatselt panka makset teostama. Kõik teie andmed, mida täidate meie maksmisvormis on kaitstud täielikult turmameetmetega. Meie saame ainult täielikult teostatud maksetest informatsiooni.</p>
            <p>Teie antud mailile saadetakse arve, kui tellimus on tehtud.</p>
            <p>Peale makse teostamist suunatekse Teid tagasi meie lehele. Informatsioon meieni, Teie sooritatud maksest läheb aega 10 sekundist kuni paari minutini. Juhul kui arvate, et viivitus makse töötlemisel ei läinud läbi või jäi teadmata asjus seisma siis palun viivitamatult saatke kiri: info@megusto.ee või helistage +372 56 885 880.</p>
            <h2>Ostja isiklikud andmed</h2>
            <p>Makse kinnitamisel meie veebil peab klient kindlasti täitma oma korrektsete andmetega järgmised väljad: <b>Nimi, Perekonnanimi, e-maili aadress, telefon, kohaletoomise aadress.</b></p>
            <p>Müüja on on kohustatud kasutama Kliendi infot oma kohustuste täitmiseks Kliendi ees. Müüja ei pea kooskõlastama Kliendilt saadud informatsiooni Kliendiga. Ei peeta seaduste rikkumiseks.</p>
            <h2>Raha tagastamise tingimused</h2>
            <p>Rahaline tagastust toimub ainult, kui meie kondiitri ettevõte ei suuda objektiivsetel põhjustel teostada kauba kohaletoomist. Palume tutvuda raha tagastamis punktidega <b><a href="#">siin</a></b></p>
        </div>
    </div>
    {% include 'includes/sidebar.html' with payment_active=True %}
{% endblock %}