{% extends 'base.html' %}

{% load staticfiles i18n %}
{% block js_params %}
    <script type="application/javascript">var pageType = "production";</script>
{% endblock %}
{% block page-class %}class="static-page"{% endblock %}

{% block content %}
    <div class="content-area">
        <div class="img"><img src="{% static 'img/content/baba.jpg' %}" alt="" /></div>
        <div class="text about">
            <h1>Tootmine</h1>
            <p>MeGusto meeskond - pakatab profesionaalsest nooruslikkusest energiast, kes tahavad muuta meie maailma magusamaks ja tervislikumaks. Meie kollektiiv - see on kogukond, mis koosneb suurest magusast sõprusest, magusaimast tootlikkusest ja läbi immutatud entusiasmist. Üheskoos meeskonnaga teeme selleks kõik, et rahuldatud oleks ka meie nõudlikumad tarbijad, eskperimenteerides uusi ideid tarbijatele, valmistades neid eliit toorainetest.</p>
            <p>Vastame kõrgemale kvaliteedi standardile - see tähendab proffesionaalseid seadmeid ja hügieeni, mis lubab
                vajaminevaid tingimusi täita toote valmistamisel. Seega vastame kõikidele veterinaarameti
                rangetele töökoha hügieeni ja tootmis nõuetele täielikult, mis on ka meie nurgakivi meie
                magusast toodangust.</p>
            <h2>Patenteeritud kvaliteet</h2>
            <p>Miks šokolaad MeGustolt nii maitsev on? Me arendasime välja ning patendeerisime erilise valmistamise tehnoloogia, mis lubab edasi anda nii šokolaadi ja koostisosade aromaatseid nüanse, mida oled valinud. Tänu meie tehnoloogide pingutustele, saab MeGusto toota üle 150 erineva koostisosaga šokolaadi. Koostisosade lisamine šokolaadi lubab ära tunda peenet maitset ja nautida päris Belgia šokolaadi täielrinnal.</p>
            <h2>Valmistamine</h2>
            <p>Õige aeg tutuvda meie vabrikuga!</p>
        </div>
        <div class="slider">
            <img src="{% static 'img/slider/1.jpg' %}" alt="" />
            <img src="{% static 'img/slider/2.jpg' %}" alt="" />
            <img src="{% static 'img/slider/3.jpg' %}" alt="" />
        </div>
    </div>
    {% include 'includes/sidebar.html' with production_active=True %}
{% endblock %}