{% extends 'base.html' %}

{% load staticfiles i18n common_tags %}

{% block page-class %}class="cake-page"{% endblock %}

{% block js_params %}
    <script type="application/javascript">var pageType = "cake-constructor", maxIngredientsMessage = '{% trans 'Lubatud maksimaalselt 3 lisandit!' %}', needToSelectShapeMessage = '{% trans 'You need to select shape first' %}', needToInputTextMessage = '{% trans 'You need to input text' %}',maxIngredientsInProduct = '{% trans 'Maximum ingredients in one product reached. It can be less or equal to' %}';</script>
{% endblock %}

{% block menu %}{% include 'includes/menu.html' with cake_active=True %}{% endblock %}

{% block html_includes %}{{ block.super }}{% include 'includes/bought-popup.html' with back_url='cakes:index-page' %}{% endblock %}

{% block content %}
    <div class="sidebar">
        <div class="panel">
            <div class="product-face clear" data-base-id="{{ cake.id }}" data-image="{{ cake.image.url }}" data-title="{{ cake.title }}" data-price="{% if request.GET.weight == '2kg' %}{{ cake.price_2|to_float }}{% else %}{{ cake.price_1|to_float }}{% endif %}" data-weight="{% if request.GET.weight == '2kg' %}2{% else %}1{% endif %}" data-energy="{{ cake.energy_value }}" data-fats="{{ cake.fats }}" data-carbohydrates="{{ cake.carbohydrates }}">
                <p>{{ cake.title }}</p>
                <span>1 kg</span>
            </div>
            <div class="product-img clear">
                <p>{% trans 'Koostisosad' %}:<a class="start-again" href="{% url 'cakes:index-page' %}"><span>X </span>{% trans 'Alustan uuesti' %}</a></p>
                <div class="img"><img src="{{ cake.image.url }}" alt="{{ cake.title }}" /></div>
            </div>
            <div class="constructor clear">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
            <p>{% trans 'Kaunistused' %}:</p>
            <div class="decoration-block small clear">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <p>{% trans 'Kuju ja kiri' %}:</p>
            <div class="shape-block wrap-shapes clear">
                <i class="shape-figure rect"><span>&nbsp;</span></i>
                <p class="title">"{% trans 'Sisesta tekst pealdisi' %}"</p>
            </div>
            <div class="price-block">
                <div class="clear">
                    <p>{% trans 'Kokku' %}: <span>0</span><em>€</em></p>
                </div>
                <a class="btn large to-basket" href="javascript:void(0)">{% trans 'Ostukorvi'|upper %}</a>
                <div class="energy">
                    <b>{% trans '100g tordis' %}:</b>
                    <p>{% trans 'energy value'|capfirst %}: <span>{{ cake.energy_value }}</span>{% trans 'kcl' %}</p>
                    <p>{% trans 'carbohydrates'|capfirst %}: <span>{{ cake.carbohydrates }}</span>{% trans 'g' %}</p>
                    <p>{% trans 'fats'|capfirst %}: <span>{{ cake.fats }}</span>{% trans 'g' %}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="breadcrumbs product-index assembly clear">
            <div><a class="help-type" href="{% url 'cakes:index-page' %}">1. {% trans 'Tüüp ja kogus' %}</a></div>
            <div><a class="help-ingredients active" href="javascript:void(0)">2. {% trans 'Lisandid' %}</a></div>
            <div><a class="help-delivery" href="javascript:void(0)">3. {% trans 'Ostukorv' %}</a></div>
        </div>
        <div class="notification">
            {% for notification in notifications %}
                <div class="yellow"{% if forloop.counter > 1 %} style="display: none;"{% endif %}>
                    <i class="close"></i>
                    <p>{{ notification.message|capfirst }}</p>
                </div>
            {% endfor %}
        </div>
        <div class="product-tabs">
            <div class="tabs">
                <ul>
                    {% for group in groups %}
                        <li><a href="#cake-{{ forloop.counter }}">{{ group.title|capfirst }}</a></li>
                    {% endfor %}
                </ul>
                {% for group in groups %}
                    <div id="cake-{{ forloop.counter }}">
                        <ul class="list-product ingredients clear">
                            {% for ingredient in group.ingredients %}
                                <li data-id="{{ ingredient.id }}" data-title="{{ ingredient.title }}" data-price="{% if request.GET.weight == '2kg' %}{{ ingredient.price_2|to_float }}{% else %}{{ ingredient.price_1|to_float }}{% endif %}" data-weight="{% if request.GET.weight == '2kg' %}{{ ingredient.weight_2|to_float }}{% else %}{{ ingredient.weight_1|to_float }}{% endif %}" title="{{ ingredient.description }}" data-imgurl="{{ ingredient.image.url }}" data-energy="{{ ingredient.energy_value }}" data-carbohydrates="{{ ingredient.carbohydrates }}" data-fats="{{ ingredient.fats }}">
                                    <img src="{{ ingredient.image.url }}" alt="{{ ingredient.title }}"/>
                                    <div class="inform">
                                        <p>{{ ingredient.title }}</p>
                                        <span><i>{% if request.GET.weight == '2kg' %}{{ ingredient.weight_2|to_float }}{% else %}{{ ingredient.weight_1|to_float }}{% endif %}</i> {% trans 'grammi' %}</span>
                                        <span><i>{% if request.GET.weight == '2kg' %}{{ ingredient.price_2|to_float }}{% else %}{{ ingredient.price_1|to_float }}{% endif %}</i> {% trans 'senti' %}</span>
                                    </div>
                                    <div class="btns">
                                        <i class="minus">-</i>
                                        <i class="plus">+</i>
                                        <span>x1</span>
                                    </div>
                                    <i class="add-product">{% trans 'Lisa' %}</i>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="product-tabs decoration">
            <div class="tabs">
                <ul>
                    <li><a href="#cake-decoration">{% trans 'Kaunistused' %}</a></li>
                </ul>
                <div id="cake-decoration">
                    <ul class="list-product ornamentations clear">
                        {% for item in ornamentations %}
                            <li data-id="{{ item.id }}" data-title="{{ item.title }}" data-price="{% if request.GET.weight == '2kg' %}{{ item.price_2|to_float }}{% else %}{{ item.price_1|to_float }}{% endif %}" data-weight="{% if request.GET.weight == '2kg' %}{{ item.weight_2|to_float }}{% else %}{{ item.weight_1|to_float }}{% endif %}" title="{{ item.description }}" data-imgurl="{{ item.image.url }}" data-energy="{{ item.energy_value }}" data-carbohydrates="{{ item.carbohydrates }}" data-fats="{{ item.fats }}">
                                <img src="{{ item.image.url }}" alt=""/>
                                <div class="inform">
                                    <p>{{ item.title }}</p>
                                    <span><i>{% if request.GET.weight == '2kg' %}{{ item.weight_2|to_float }}{% else %}{{ item.weight_1|to_float }}{% endif %}</i> {% trans 'grammi' %}</span>
                                    <span><i>{% if request.GET.weight == '2kg' %}{{ item.price_2|to_float }}{% else %}{{ item.price_1|to_float }}{% endif %}</i> {% trans 'senti' %}</span>
                                </div>
                                <div class="btns">
                                    <i class="minus">-</i>
                                    <i class="plus">+</i>
                                    <span>x1</span>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="product-tabs shape-letter">
            <div class="tabs">
                <ul>
                    <li><a href="#cake-shape-1">{% trans 'Kuju' %}</a></li>
                    <li><a href="#cake-shape-2">{% trans 'Pealdis' %}</a></li>
                </ul>
                <div id="cake-shape-1">
                    <ul class="wrap-shapes clear">
                        <li class="heart"><span>&nbsp;</span></li>
                        <li class="star"><span>&nbsp;</span></li>
                        <li class="circle"><span>&nbsp;</span></li>
                        <li class="rect added"><span>&nbsp;</span></li>
                    </ul>
                </div>
                <div id="cake-shape-2">
                    <form class="add-shape-title clear">
                        <input maxlength="40" type="text" placeholder="{% trans 'Sinu tervitus' %}"/>
                        <p></p>
                        <button type="submit" class="btn black" data-edit-text="{% trans 'Muuda tekst' %}">{% trans 'Lisa tekst' %}</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="seo-base uncolumned">
            {{ cake.seo_text|safe }}
        </div>
    </div>
{% endblock %}
