{% extends 'base.html' %}

{% load staticfiles i18n common_tags %}

{% block page-class %}class="cake-page"{% endblock %}

{% block js_params %}
	<script type="application/javascript">var pageType = "cake-index";</script>
{% endblock %}

{% block menu %}{% include 'includes/menu.html' with cake_active=True %}{% endblock %}

{% block content %}
    <div class="top-panel clear">
        <div class="welcome-text left">
            <p>{% trans 'Valmista tort' %}</p>
            <span>{% trans 'Alusta siit' %}</span>
        </div>
        <div class="breadcrumbs product-index right">
            <div>
                <a class="help-type active">1. {% trans 'Tüüp ja kogus' %}</a>
                <p>{% trans '1kg või 2kg' %}</p>
            </div>
            <div>
                <a class="help-ingredients">2. {% trans 'Lisandid' %}</a>
                <p>{% trans 'Valikus üle 150-ne lisandi' %}</p>
            </div>
            <div>
                <a class="help-delivery">3. {% trans 'Ostukorv' %}</a>
                <p>{% trans 'Maksmine ja kohaletoomine' %}</p>
            </div>
        </div>
    </div>
    <div class="weight-panel clear">
        <p>{% trans 'Vali kogus' %}:</p>
        <ul class="radio left">
            <li>
                <input id="weight-1kg" name="weight" type="radio" checked />
                <label for="weight-1kg">1 {% trans 'kilogramm' %}</label>
            </li>
            <li>
                <input id="weight-2kg" name="weight" type="radio" />
                <label for="weight-2kg">2 {% trans 'kilogrammi' %}</label>
            </li>
        </ul>
    </div>
    <div class="content-product">
        <p>{% trans 'Vali põhi' %}:</p>
        <div class="clear">
            {% for cake in cakes %}
                <div data-1kg="{{ cake.price_1|to_float }}" data-2kg="{{ cake.price_2|to_float }}">
                    <a class="img" href="{% url 'cakes:constructor-page' cake.slug %}">
                        <img alt="{{ cake.title }}" src="{{ cake.image.url }}">
                    </a>
                    <p>{{ cake.title }}</p>
                    <a class="btn arrowed" href="{% url 'cakes:constructor-page' cake.slug %}">{% trans 'Vali' %}</a>
                    <span><em>{{ cake.price_1 }}</em> €</span>
                </div>
            {% endfor %}
        </div>
    </div>
    {#	{% include 'includes/slider.html' with recommendations=recommendations product_type="cake" edit_recommendation="cake:constructor-page" only %}#}
    <div class="seo-base">
        {{ seo_text.text|safe }}
    </div>
{% endblock %}
