{% extends 'base.html' %}

{% load staticfiles i18n %}

{% block page-class %}class="static-page"{% endblock %}

{% block js_params %}
	<script type="application/javascript">var pageType = "contact-page";</script>
{% endblock %}

{% block content %}
	{% include 'includes/thanks-popup.html' %}
	<div class="content-area">
		{{ flatpage.content|safe }}
		<div class="notification">
			{% for field in form %}
				{% if field.errors %}
					<div class="red" style="display: none">
						<i class="close"></i>
						<p>{{ field.label }}: {{ field.errors|join:', ' }}</p>
					</div>
				{% endif %}
			{% endfor %}
		</div>
		<div class="text">
			<form class="contact" action="{{ request.path }}" method="post">
				<div class="left">
					{% csrf_token %}
					<h2>{% trans 'Kirjuta meile' %}:</h2>
					<div{% if form.name.errors %} class="error" {% endif %}>
						<label for="name">{% trans 'Nimi' %}</label>
						<input type="text" name="name" id="name" value="{{ form.name.value|default_if_none:"" }}" placeholder="{% trans 'Sisesta nimi' %}"/>
					</div>
					<div{% if form.email.errors %} class="error" {% endif %}>
						<label for="E-mail">E-mail</label>
						<input type="email" name="email" id="email" value="{{ form.email.value|default_if_none:"" }}" placeholder="{% trans 'Sisesta e-mail' %}"/>
					</div>
					<div{% if form.text.errors %} class="error" {% endif %}>
						<label for="text">{% trans 'Minu mõte' %}</label>
						<textarea name="text" id="text" placeholder="{% trans 'Idee, soovitus, küsimus? Anna tulla!' %}">{{ form.text.value|default_if_none:"" }}</textarea>
					</div>
					<div class="captcha clear{% if form.captcha.errors %} error{% endif %}">
						<p>{% trans 'Sisesta vastus' %}</p>
						{{ form.captcha }}
					</div>
					<button type="submit" class="btn large">{% trans 'Saada' %}</button>
				</div>
				<div class="right">
					<h2>{% trans 'Helista meile' %}:</h2>
					<p>{% trans 'Telefon' %} <span>+372 56 885 880</span></p>
					<i>{% trans 'Me oleme telefoni teel kättesadavad iga päev 10:00-22:00 ja rõõmuga kuulame Teie kommentaare, kriitikat ja soovitusi.' %}</i>
					<img src="{% static 'img/content/smile.jpg' %}" alt=""/>
				</div>
			</form>
		</div>
		<script type="application/javascript">$('.notification .red').first().css({display: 'block'});</script>
	</div>
	{% include 'includes/sidebar.html' %}
{% endblock %}
