{% extends 'base.html' %}

{% load staticfiles i18n %}
{% block js_params %}
	<script type="application/javascript">var pageType = "corporate-page";</script>
{% endblock %}
{% block page-class %}class="static-page"{% endblock %}

{% block content %}
	{% include 'includes/thanks-popup.html' %}
	<div class="content-area">
		<div class="slider">
			<img src="{% static 'img/slider/1.jpg' %}" alt=""/>
			<img src="{% static 'img/slider/2.jpg' %}" alt=""/>
			<img src="{% static 'img/slider/3.jpg' %}" alt=""/>
		</div>
		{{ flatpage.content|safe }}
	</div>
	<div class="infobar">
		<p class="title">{% trans 'Küsi pakkumist' %}:</p>
		<form class="corp-form" action="{{ request.path }}" method="post">
			<div class="notification">
				{% for field in form %}
					{% if field.errors %}
						<div class="red" style="display: none">
							<i class="close"></i>
							<p>{{ field.label }}: {{ field.errors|join:', ' }}</p>
						</div>
					{% endif %}
				{% endfor %}
			</div>
			<div{% if form.phone.errors %} class="error" {% endif %}>
				{% csrf_token %}
				<label for="phone">{% trans 'Telefoninumber' %}*</label>
				<input type="text" name="phone" id="phone" value="{{ form.phone.value|default_if_none:"" }}"/>
			</div>
			<div{% if form.email.errors %} class="error" {% endif %}>
				<label for="mail">E-mail*</label>
				<input type="email" name="email" id="mail" value="{{ form.email.value|default_if_none:"" }}"/>
			</div>
			<div{% if form.comment.errors %} class="error" {% endif %}>
				<label for="comment">{% trans 'Kommentaar' %}</label>
				<textarea name="comment" id="comment">{{ form.comment.value|default_if_none:"" }}</textarea>
			</div>
			<button type="submit" class="btn">{% trans 'SAADA PÄRING' %}</button>
		</form>
		<script type="application/javascript">$('.notification .red').first().css({display: 'block'});</script>
		<p class="title">{% trans 'Kontakt' %}:</p>
		<div class="corp-contact">
			<p>+372 56 885 880</p>
			<a href="mailto:info@megusto.ee">info@megusto.ee</a>
		</div>
	</div>
{% endblock %}
