{% extends 'base.html' %}

{% load staticfiles i18n %}

{% block page-class %}class="static-page"{% endblock %}

{% block js_params %}
	<script type="application/javascript">var pageType = "content-page";</script>
{% endblock %}

{% block content %}
	<div class="content-area">
		{{ flatpage.content|safe }}
	</div>
	{% include 'includes/sidebar.html' %}
{% endblock %}
