{% load i18n %}
<div class="cart-popup">
	<div class="wrapper">
		<p>{% trans 'Ostukorvis' %}:</p>
		<div class="goods"></div>
		<a href="{% url 'basket:basket-page' %}" class="to-cart">{% trans 'vormista ost' %}</a>
	</div>
</div>
