{% load i18n %}
<div class="to-cart-popup">
	<div class="wrapper">
		<div class="inner">
			<p>{% trans 'TÄNAME, LISATUD OSTUKORVI' %}</p>
			<div class="arrow-block">
				<a class="btn arrowed left" href="{% if back_url %}{% url back_url %}{% else %}javascript:void(0);{% endif %}">{% trans 'Valin veel' %}</a>
				<a class="btn arrowed" href="{% url 'basket:basket-page' %}">{% trans 'Maksma' %}</a>
			</div>
		</div>
	</div>
</div>
