{% load i18n solo_tags common_tags %}
{% get_solo 'common.AvailabilityConfiguration' as availability_configuration %}
<nav class="clear">
	<ul>
		{% if availability_configuration.chocolate_is_available %}
			<li{% if choco_active %} class="active"{% endif %}>
				<a href="{% url 'choco:index-page' %}" class="choco">{% trans 'Šokolaadid' %}</a>
				<div class="popup">
					<ul>
						{% for item in choco_menu_items %}
                        <li><a href="{% url 'choco:constructor-page' item.slug %}">{{ item.title|striptags }}</a></li>
                        {% endfor %}
{#						<li><a href="#">{% trans 'Šokolaad pulma' %}</a></li>#}
					</ul>
				</div>
			</li>
		{% endif %}
		{% if availability_configuration.muesli_is_available %}
			<li{% if muesli_active %} class="active"{% endif %}><a href="{% url 'muesli:index-page' %}" class="muesli">{% trans 'Müsli' %}</a></li>
		{% endif %}
		{% if availability_configuration.macarons_is_available %}
			<li{% if macarons_active %} class="active"{% endif %}><a href="{% url 'macarons:constructor-page' %}" class="macarons">{% trans 'Makroonid' %}</a></li>
		{% endif %}
		{% if availability_configuration.cakes_is_available %}
			<li{% if cake_active %} class="active"{% endif %}><a href="{% url 'cakes:index-page' %}" class="cakes">{% trans 'Tordid' %}</a></li>
		{% endif %}
		{% if availability_configuration.coffee_is_available %}
			<li{% if coffee_active %} class="active"{% endif %}>
				<a href="{% url 'coffee:index-page' %}" class="coffee">{% trans 'Kohvi' %}</a>
{#				<div class="popup">#}
{#					<ul>#}
{#						<li><a href="#">{% trans 'Valmis retseptid' %}</a></li>#}
{#						<li><a href="#">{% trans 'Must šokolaad' %}</a></li>#}
{#						<li><a href="#">{% trans 'Valge šokolaad' %}</a></li>#}
{#					</ul>#}
{#				</div>#}
			</li>
		{% endif %}
		{% get_flatpage flatpages pk=2 as about_flatpage %}
		<li>
            <a href="{{ about_flatpage.get_url }}">{{ about_flatpage.title|capfirst }}</a>
            <div class="popup">
                <ul>
                    {% for item in flatpages %}
                    {% if item.id != 8 %}<li><a href="{% url 'flatpages:content-page' item.slug %}">{{ item.title|capfirst }}</a></li>{% endif %}
                    {% endfor %}
                </ul>
            </div>
        </li>
		{% get_flatpage flatpages pk=8 as corp_flatpage %}
		<li><a href="{{ corp_flatpage.get_url }}" class="corp">{{ corp_flatpage.title|capfirst }}</a></li>
	</ul>
</nav>
