{% load static i18n solo_tags %}
{% get_solo 'common.IndexPageTabsManagement' as tabs_managment %}
<div class="tabs">
    <ul>
        {% if availability_configuration.chocolate_is_available %}<li><a href="#choco">{% trans 'Šokolaadid' %}</a></li>{% endif %}
        {% if availability_configuration.muesli_is_available %}<li><a href="#muesli">{% trans 'Müsli' %}</a></li>{% endif %}
        {% if availability_configuration.macarons_is_available %}<li><a href="#macarons">{% trans 'Makroonid' %}</a></li>{% endif %}
        {% if availability_configuration.cakes_is_available %}<li><a href="#cakes">{% trans 'Tordid' %}</a></li>{% endif %}
        {% if availability_configuration.coffee_is_available %}<li><a href="#coffee">{% trans 'Kohvi' %}</a></li>{% endif %}
    </ul>
    {% if availability_configuration.chocolate_is_available %}
        <div id="choco">
            <div class="img"><img src="{{ tabs_managment.chocolate_image.url }}" alt="{% trans 'Šokolaadid' %}" /></div>
            <p>{{ tabs_managment.chocolate }}</p>
            <a class="btn" href="{% url 'choco:index-page' %}">{% trans 'Telli kohe' %}</a>
        </div>
    {% endif %}
    {% if availability_configuration.macarons_is_available %}
        <div id="macarons">
            <div class="img"><img src="{{ tabs_managment.macarons_image.url }}" alt="{% trans 'Makroonid' %}" /></div>
            <p>{{ tabs_managment.macarons }}</p>
            <a class="btn" href="{% url 'macarons:constructor-page' %}">{% trans 'Telli kohe' %}</a>
        </div>
    {% endif %}
    {% if availability_configuration.muesli_is_available %}
        <div id="muesli">
            <div class="img"><img src="{{ tabs_managment.muesli_image.url }}" alt="{% trans 'Müsli' %}" /></div>
            <p>{{ tabs_managment.muesli }}</p>
            <a class="btn" href="{% url 'muesli:index-page' %}">{% trans 'Telli kohe' %}</a>
        </div>
    {% endif %}
    {% if availability_configuration.coffee_is_available %}
        <div id="coffee">
            <div class="img"><img src="{{ tabs_managment.coffee_image.url }}" alt="{% trans 'Kohvi' %}" /></div>
            <p>{{ tabs_managment.coffee }}</p>
            <a class="btn" href="{% url 'coffee:index-page' %}">{% trans 'Telli kohe' %}</a>
        </div>
    {% endif %}

    {% if availability_configuration.cakes_is_available %}
        <div id="cakes">
            <div class="img"><img src="{{ tabs_managment.cake_image.url }}" alt="{% trans 'Tordid' %}" /></div>
            <p>{{ tabs_managment.cake }}</p>
            <a class="btn" href="{% url 'cakes:index-page' %}">{% trans 'Telli kohe' %}</a>
        </div>
    {% endif %}
</div>
