{% load staticfiles i18n solo_tags %}
<div class="infobar">
	<p class="title">{% trans 'Meist' %}:</p>
	<ul class="info-menu">
		{% for fp in flatpages %}
			{% if fp.id != 8 %}
				<li><a href="{{ fp.get_url }}"{% ifequal flatpage.id fp.id %} class="active" {% endifequal %}>{{ fp.title|capfirst }}</a></li>
			{% endif %}
		{% endfor %}
	</ul>
	<p class="title">{% trans 'Valmista ise' %}:</p>
	<ul class="info-product">
		{% if availability_configuration.coffee_is_available %}
			<li><a class="coffee" href="{% url 'coffee:index-page' %}">{% trans 'Kohvi' %}</a></li>
		{% endif %}
		{% if availability_configuration.muesli_is_available %}
			<li><a class="muesli" href="{% url 'muesli:index-page' %}">{% trans 'Müsli' %}</a></li>
		{% endif %}
		{% if availability_configuration.macarons_is_available %}
			<li><a class="macarons" href="{% url 'macarons:constructor-page' %}">{% trans 'Makroonid' %}</a></li>
		{% endif %}
		{% if availability_configuration.cakes_is_available %}
			<li><a class="cake" href="{% url 'cakes:index-page' %}">{% trans 'Tordid' %}</a></li>
		{% endif %}
		{% if availability_configuration.chocolate_is_available %}
			<li><a class="choco" href="{% url 'choco:index-page' %}">{% trans 'Šokolaadid' %}</a></li>
		{% endif %}
	</ul>
	{#    <a href="javascript:void(0);" class="banner">#}
	{#        <img src="{% static 'img/banners/1.png' %}" alt="" />#}
	{#    </a>#}
</div>
