{% load i18n common_tags %}
<div class="slide-block">
	<p>{% trans 'VALMIS RETSEPTID' %}:</p>
{#  all recipes link #}
	<a href="#">{% trans 'VAATA KÕIKI' %}</a>
	<div class="slider">
		{% for recommendation in recommendations %}
		<div data-base-id="{{ recommendation.base_id }}" data-image="{{ recommendation.image.url }}" data-title="{{ recommendation.base.title }}" data-recommendation-title="{{ recommendation.title }}" data-product-type="{{ product_type }}" data-weight="{{ recommendation.get_weight|to_float }}" data-price="{{ recommendation.get_price|to_float }}" data-ingredients="{{ recommendation.get_ingredients_json }}">
			<div class="img"><img src="{{ recommendation.image.url }}" alt="{{ recommendation.title|title }}"/></div>
			<div class="txt">
				<p>{{ recommendation.title|title }}</p>
				<b>{{ recommendation.sub_title }}</b>
{#				<span>Jelly beans tart tiramisu jelly-o apple pie bear claw marshmallow cotton candy danish. Tart muffin lemon drops gummies soufflé chocolate bar brownie. Jelly beans tiramisu tart... <a href="#">loe edasi</a></span>#}
				<span>{{ recommendation.description|safe }}</span>
				<a class="btn right add-recommendation" href="javascript:void(0);">{% trans 'LISA OSTUKORVI' %}</a>
				<a class="btn black right edit-recommendation" href="{% if edit_recommendation %}{% url edit_recommendation recommendation.base.slug %}{% ifequal recommendation.weight 1 %}?weight=kilogram{% endifequal %}{% else %}{% endif %}">{% trans 'MUUDA KOOSTIST' %}</a>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
