<ul class="social">
	<li><a target="_blank" href="http://instagram.com/megustotreats" class="in"></a></li>
	<li><a target="_blank" href="https://www.facebook.com/megusto.ee" class="fb"></a></li>
	<li><a target="_blank" href="https://twitter.com/Megustofactory" class="tw"></a></li>
	<li><a target="_blank" href="https://plus.google.com/u/0/b/100607624118431659227/100607624118431659227/posts" class="gl"></a></li>
    <li><a target="_blank" href="http://vk.com/megustofoodfactory" class="vk"></a></li>
</ul>
