{% load i18n %}
<div class="subscribe-popup">
	<div class="wrapper">
		<div class="inner">
			<p>{% trans 'Täname, te olete edukalt registreerunud MeGusto uudiskirjaga' %}</p>
			<div class="arrow-block">
				<i class="btn">{% trans 'Sulge' %}</i>
			</div>
		</div>
	</div>
</div>
