{% load i18n %}
<div class="thanks-popup" style="display: none">
	<div class="wrapper">
		<div class="inner">
			<p>{% trans 'Täname informatsiooni, võtame Sinuga ühendust' %}!</p>
			<div class="arrow-block">
				<i class="btn">{% trans 'Sulge' %}</i>
			</div>
		</div>
	</div>
</div>
